_site
.sass-cache
.idea
bower_components/*
node-modules/

!bower_components/wow
bower_components/wow/*
!bower_components/wow/css
bower_components/wow/css/*
!bower_components/wow/css/libs
bower_components/wow/css/libs/*
!bower_components/wow/css/libs/animate.css

!bower_components/wow/dist
bower_components/wow/dist/*
!bower_components/wow/dist/wow.js
