---
title: About
layout: default
author: Lloyd Bennett &mdash; <span class='no-wrap-and-break'>Web Designer from London.</span>
order: 2
permalink: /about
include-nav: true;
---


<section class="inner-section">
  <div class="hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title hero__title--no-margin">
        <div class="hero__title-wrapper">
          <span class="hero__title-content" data-hero-titles>
            Design <i>nerd</i> &amp;
          </span>
        </div>
        <div class="hero__title-wrapper">
          <span class="hero__title-content" data-hero-titles>
            football <i>fanatic</i>
          </span>
        </div>
      </h1>
    </div>
  </div>

  <!-- <div class="hero__socials" data-hero-socials>
    {% include _social-links/dribbble.html %}
    {% include _social-links/instagram.html %}
    {% include _social-links/linkedin.html %}
  </div> -->
</section>
<div class="media grid inner-section">
  <picture class="media__column thumbnail">
    <source media="(max-width: 700px)" srcset="https://via.placeholder.com/700x600.jpg/f2f2f2/f2f2f2">
    <source media="(max-width: 1200px)" srcset="https://via.placeholder.com/1200x800.jpg/f2f2f2/f2f2f2">
    <source media="(max-width: 1440px)" srcset="https://via.placeholder.com/1440x646.jpg/f2f2f2/f2f2f2">
    <source media="(min-width: 1441px)" srcset="https://via.placeholder.com/2880x1292.jpg/f2f2f2/f2f2f2">
    <img src="https://via.placeholder.com/1440x750.png/f2f2f2" alt="Media Background">
  </picture>
</div>
<section class="inner-section">
  <div class="container grid">
    <div class="two-column-layout two-column-layout-tail--offset">
      <div class="two-column-layout__tail two-column-layout__heading wow anim-fade-in-up"
      data-wow-duration="500ms">
        <span class="small-caps">
          Introduction
        </span>
      </div>

      <div class="two-column-layout__tail">
        <p>
          Hi my name is Lloyd, I’m a Digital Designer based in London.
          I’m a massive Manchester United fan and I have an interest in
          brand identities and how they play a presence in UI design.
          I believe that when anyone interacts with a digital product,
          they should be able to see personality and characteristics of
          that brand shining through. Everything from the choice of colour
          to the animation within the digital product should clearly reflect
          the brand's identity. My goal as a designer is simple, and timeless;
          to consistently build elegant digital experiences that fulfil their
          purpose. Additionally, I aim to share my knowledge and experience
          with others to provide value.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="inner-section">
  <div class="container grid">
    <div class="two-column-layout two-column-layout-tail--offset">
      <div class="two-column-layout__tail two-column-layout__heading wow anim-fade-in-up"
      data-wow-duration="500ms">
        <span class="small-caps">
          My Journey
        </span>
      </div>

      <div class="two-column-layout__tail">
        <p>
          My journey as a designer, started from learning some basic HTML and CSS
          skills at university. I developed a love-hate relationship with positioning
          elements on a web page with CSS, which I, ironically, found stimulating.
          I noticed my curiosity for creating websites grew as I scoured the internet
          for the best web designs and tried to figure out how they were made.
          With an impressed yet curious mind, I challenged myself;  to try to break
          these designs down in granular pieces, emulate them and try to put my own
          spin on them. This was my way of trying to learn how to design. Fast forward a few years, I'm now building and validating digital products for small to medium sized enterprises. I now have of a broad scope of what design is, which incorporates: understanding business
          objectives, real user needs and ultimately knowing the right product to build.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="inner-section">
  <div class="container grid">
    <div class="two-column-layout two-column-layout-tail--offset">
      <div class="two-column-layout__tail wow anim-fade-in-up"
      data-wow-duration="500ms">
        <span class="small-caps">
          My Process
        </span>
      </div>

      <div class="two-column-layout__tail two-column-layout--long">
        <div class="two-column-layout__column">
          <h4>01 Understand</h4>
          <p>
            While I welcome projects at any stage of their development,
            I mostly enjoy Greenfield projects.I’m driven by the notion
            of turning ideas into reality.
          </p>
        </div>
        <div class="two-column-layout__column">
          <h4>01 Understand</h4>
          <p>
            While I welcome projects at any stage of their development,
            I mostly enjoy Greenfield projects.I’m driven by the notion
            of turning ideas into reality.
          </p>
        </div>
        <div class="two-column-layout__column">
          <h4>01 Understand</h4>
          <p>
            While I welcome projects at any stage of their development,
            I mostly enjoy Greenfield projects.I’m driven by the notion
            of turning ideas into reality.
          </p>
        </div>
        <div class="two-column-layout__column">
          <h4>01 Understand</h4>
          <p>
            While I welcome projects at any stage of their development,
            I mostly enjoy Greenfield projects.I’m driven by the notion
            of turning ideas into reality.
          </p>
        </div>
        <div class="two-column-layout__column">
          <h4>01 Understand</h4>
          <p>
            While I welcome projects at any stage of their development,
            I mostly enjoy Greenfield projects.I’m driven by the notion
            of turning ideas into reality.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
