---
title: Home
layout: page
description: I am a Visual UI Designer & Front-End Developer who creates clean and simple designs with engaging digital experiences.
heading: Lloyd-Jamie Bennett
featured-image: home-bg.jpg
buttonname: ["view my work"]
order: 1
permalink: /
include-nav: true;
---

  <section class="block myinfo" id="about">
    <h3 class="block__title"> About Me </h3>
    <div class="avatar avatar--med center">
      <img src="images/authors/avatar-me.jpg" alt="my-picture">
    </div>
    <p class="myinfo__copy">
    A recent graduate in Media Production at De Montfort University with a strong passion for Interaction Design and an advocate for all things user-centered. Being a Front-End Designer requires me to face a number of challenges from client needs to product performance. This excites me because there is multiple ways you can solve one problem. It's actually an amazing time to be in the web industry. My goal as a designer is create beautiful and engaging digital products that resonate with consumers.
    Feel free to <a class="link" id="contactme"href="#">contact me</a> regarding any work or enquires.
    </p>
  </section>

  {% include portfolio.html %}
  <!--{% include latestposts.html %}!-->
