---
title: Home
layout: page
author: Lloyd Bennett 
heading: "<span>A UI Designer & <em>Front-End</em> Developer</span><span> who creates simple and engaging</span> <span>experiences for <em>the web.</em></span>"
buttonname: "view my work"
order: 1
permalink: /
include-nav: true;
---

<section id="about">
	<div class="container">
		<div class="row">
		
			<div class="col-md-7 myinfo">
				<h2 class="section-title wow moveUpFade" data-wow-duration="700ms"> About Me </h2>
				
				<p class="wow moveUpFade" data-wow-duration="700ms" data-wow-delay='500ms'>My first love for the web emerged sometime in the summer of 2013 after my first year of University. I realised the endless possibilities with HTML5 &amp; CSS3 in creating beautiful and engaging websites. Since then, I’ve been plugging away at mock-ups in Photoshop / Sketch through to front-end code, striving to create the best possible user experiences.</p>

				<p class="wow moveUpFade" data-wow-duration="700ms" data-wow-delay='800ms'>In my spare time I like to keep up to date with the latest trends and news in design. A Chrome Plugin called <a href="https://chrome.google.com/webstore/detail/panda-hacker-news-dribbbl/jhiocdmmaannaccoofjfmjpbfkogmnap?hl=en" class="link" target="_blank">Panda</a>, makes this experience all the more enjoyable as it aggregates all the latest articles and posts from my favourite websites such as Awwwards, HackingUI, Medium and Dribbble in one tab.
				</p>  

				<p class="wow moveUpFade" data-wow-duration="700ms" data-wow-delay='1.1s'>
				I am currently available to take on projects, so feel free to <a href="#contact" id="message-me" class="link">contact me</a> regarding any work or enquires.</p>
				
			</div>

			<div class="col-md-5 avatar">
				<img class="wow moveUpFade" data-wow-duration="700ms" data-wow-delay='1s' data-wow-offset='200' src="images/avatar/me.jpg" alt="Lloyd Bennett">
			</div>

		</div>
	</div>
</section>
 
{% include portfolio.html %}
{% include contact.html %}
