---
title: Home
layout: default
author: Lloyd Bennett &mdash; <span class='no-wrap-and-break'>Web Designer from London.</span>
herotitle: <div class='title-mask title-mask--with-padding-l'><span>D</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span><span>s</span>&nbsp;</div><div class='title-mask title-mask--neg-margin'><span>w</span><span>i</span><span>t</span><span>h</span><span>&nbsp;a&nbsp;</span></div><div class='title-mask title-mask--with-padding-l title-mask--italic title-mask--neg-margin'><span>p</span><span>u</span><span>r</span><span>p</span><span>o</span><span>s</span><span>e</span></div>
description:
  - paragraph: I&apos;m a London based designer that specialises in brand identity and digital product design. I help early stage start-ups take their product idea to market.
calltoaction: true
buttoname: See Work
order: 1
permalink: /
include-nav: true;
---

{% include _home/services.html %}

<section id="portfolio" class="section--padding">
  {% include _casestudy/casestudy-card.html %}
</section>
