---
layout: default
directory: bluvalt
title: Bluvalt Cloud
herotitle: <div class="no-wrap-and-break title-mask"><span>B</span><span>l</span><span>u</span><span>v</span><span>a</span><span>l</span><span>t</span></div><div class="no-wrap-and-break title-mask"><span>C</span><span>l</span><span>o</span><span>u</span><span>d</span></div>
type: casestudy
permalink: :title/
thumbnail: project-thumb
colour: 9DABDD
category: ["Art Direction", "Web Design", "Front-End Development"]
industry: Cloud Computing
button-text: "View Website"
live-url: http://www.thoughtbot.co.uk
order: 2
excerpt: Bluvalt is a Saudi Arabian cloud computing service that was encountering a high bounce rate on their marketing site. A site redesign was required to make their service clearer and more accessible to their customers.
intro:
  - text: Bluvalt is a cloud computing service based in Saudi Arabia, focused
          on providing affordable and locally-tailored computing resources
          for SME businesses. Think <a href="https://www.heroku.com/" target="_blank"
          class="link">Heroku</a> or <a href="https://www.digitalocean.com/" target="_blank" class="link">
          Digital Ocean</a> but tailored for Saudi tech start-ups. Bluvalt launched
          several social media campaigns to increase customer engagement and acquisition.
          Even though they had a high click through rate, they found 95% of
          their visitors on average would only spend 30 seconds on their website.
  - text: Bluvalt believed their low customer conversion stemmed from the
          overall design and experience of their website. To solve this issue,
          Bluvalt hired software design and development agency thoughtbot to
          redesign their website for a better user experience. My remit on the
          project was to carry out the visual and interaction design.
colour-swatches:
  - name: Tech Blue
    hex: "4BCBF3"
    rgb: "75,203,243"
    cmyk: "69,16,0,5"
  - name: Communicative Purple
    hex: "AD72E4"
    rgb: "173,114,228"
    cmyk: "22,45,0,11"
  - name: Authoritative Blue
    hex: "024065"
    rgb: "2,64,101"
    cmyk: "39,15,0,60"
diagram:
  - src: "../images/projects/bluvalt/case-study/"
    alt: "Flow Diagram"
    default-image: "diagram.jpg"
    figure: <strong>Goal Statement:</strong> A customer is able to learn about Bluvalt’s services, find a cloud solution suited to their needs and subscribe to it with ease.
    images:
      - breakpoint: "max-width: 767px"
        file: "diagram-mobile.jpg"
      - breakpoint: "min-width: 1200px"
        file: "diagram@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "diagram.jpg"
inspo-board:
  - src: "../images/projects/bluvalt/case-study/"
    figure: "Figure 2: A collection of visual references on an 'Invision Board'"
    default-image: "inspo-board.jpg"
    images:
      - breakpoint: "max-width: 800px"
        file: "inspo-board-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "inspo-board@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "inspo-board.jpg"
screens:
  - src: "../images/projects/bluvalt/case-study/"
    alt: "Sign Up"
    default-image: "sign-up.jpg"
    images:
      - breakpoint: "min-width: 1200px"
        file: "sign-up@2x.jpg"
  - src: "../images/projects/bluvalt/case-study/"
    alt: "404 Page"
    default-image: "404.jpg"
    images:
      - breakpoint: "min-width: 1200px"
        file: "404@2x.jpg"
screens2:
  - src: "../images/projects/bluvalt/case-study/"
    alt: "About Us"
    default-image: "about-us.jpg"
    images:
      - breakpoint: "min-width: 1200px"
        file: "about-us@2x.jpg"
  - src: "../images/projects/bluvalt/case-study/"
    alt: "Marketplace"
    default-image: "marketplace.jpg"
    images:
      - breakpoint: "min-width: 1200px"
        file: "marketplace@2x.jpg"
  - src: "../images/projects/bluvalt/case-study/"
    alt: "Home Page"
    default-image: "home-page.jpg"
    images:
      - breakpoint: "min-width: 1200px"
        file: "home-page@2x.jpg"
  - src: "../images/projects/bluvalt/case-study/"
    alt: "Virtual Data Center"
    default-image: "vdc.jpg"
    images:
      - breakpoint: "min-width: 1200px"
        file: "vdc@2x.jpg"
components:
  - src: "../images/projects/bluvalt/case-study/"
    alt: "Components"
    default-image: "components.jpg"
    figure: "Figure 4: UI Components"
    images:
      - breakpoint: "max-width: 767px"
        file: "components-mobile.jpg"
      - breakpoint: "min-width: 1200px"
        file: "components@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "components.jpg"
visual-direction:
  - text: I created an inspiration / mood board of visuals that
          I felt would best convey the brand and presented this
          to the client. Undertaking this step before fleshing
          out any mock-ups made the client feel involved in the process
          and prevented excessive design revisions going forward. Together
          we decided to go down a playful illustrative direction that has
          an emphasis on the working Saudi community. We wanted to remove the typical
          “serious”, “nerdy” and “enterprise” feel about computing and create something
          that resonated with the local community.
hand-off:
  - text: The typical designer to developer hand off consists
          of a bunch of Sketch files with annotations being thrown
          over the wall with the expectation that the developer(s)
          will be able to make sense of it. In my experience this
          approach usually doesn’t end well. To avoid this I created
          an HTML & CSS prototype of the website. This allowed the
          client’s internal development to work more efficiently as
          they had ready made code available to convert into React components.
conclusion:
  - text: thoughtbot delivered a new web experience and a cohesive visual
          language for Bluvalt.com. This generated lots of positive feedback
          and sharing from customers on social media. Most importantly,
          the website bounce rate reduced by an impressive 35%. Bluvalt also
          benefited largely from the high level of communication and
          transparency we maintained during our engagement with them,
          through daily stand-ups, retrospectives and demos. They felt involved
          in the design process and understood every decision being made.
stats:
  - figure: 35&percnt;
    description: Bounce rate reduced

---


{% include single-column-text.html
  meta-title = "The Challenge"
  title = "Create an optimal experience that encourages customer conversion"
  paragraph = page.intro
%}

<section class="inner-section">
  <div class="container grid">
    <div class="single-column">
      <div class="single-column__group">
        <h3>
          Setting goals and wireframming
        </h3>
        <p>
          After reviewing users activity on Bluvalt’s website we noticed many
          users were becoming lost. We came to the conclusion that the
          high bounce rate was due to a lack of clarity in the value proposition
          and a poor information architecture. We saw this as a good point to
          take a step back and try to understand the goal(s) of the website.
          Understanding the goal empowered us to make better design decisions
          when crafting a new user journey.
        </p>
      </div>

      <div class="single-column__group">
        {% include testimony.html avatar = "rami-taibah"
          name = "Rami Taibah"
          role = "UX Architect at Bluvalt"
          quote = "Lloyd understood the problem, wasn’t much back and forth."
        %}
      </div>
    </div>
  </div>
</section>

{% include media-block.html
  media-items = page.diagram
%}

{% include single-column-text.html
  title = "Establishing a visual direction"
  paragraph = page.visual-direction
  small-margin = true
%}

{% include media-block.html
  media-items = page.inspo-board
  video = true
%}

{% include colour-swatches.html
  colour-swatches = page.colour-swatches
%}

{% include media-block.html
  media-items = page.screens
  small-margin = true
%}

{% include media-block.html
  media-items = page.screens2
  two-columns = true
%}

{% include single-column-text.html
  title = "Developer Hand-off"
  paragraph = page.hand-off
  small-margin = true
%}

{% include media-block.html
  media-items = page.components
%}

<section class="section">
  <div class="container grid">
    <div class="single-column">
      {% include testimony.html avatar = "rami-taibah"
        name = "Rami Taibah"
        role = "UX Architect at Bluvalt"
        quote = "Top notch, problem solvers, very candid. I felt like it wasn’t all
        about the end product, the work-flow, communication was very
        important to thoughtbotters too."
      %}
    </div>
  </div>
</section>

{% include single-column-text.html
  meta-title = "The Outcome"
  title = "Conclusion"
  paragraph = page.conclusion
  stats = page.stats
%}
