---
layout: casestudy
directory: bluvalt
title: Bluvalt
permalink: :title/
thumbnail: project-thumb
colour: 9DABDD
category: ["Web Design", "Front-End Development"]
button-text: "View Website"
live-url: http://www.thoughtbot.co.uk
date: 2017-04-12 00:09:00
description: Bluvalt is a Saudi Arabian cloud computing service that was encountering bounce rate on their marketing site. A site redesign was required to make their service clearer to their customers.
colour-swatches:
  - colour: Tech Blue
    hex: "4BCBF3"
    rgb: "75,203,243"
    cmyk: "69,16,0,5"
  - colour: Communicative Purple
    hex: "AD72E4"
    rgb: "173,114,228"
    cmyk: "22,45,0,11"
  - colour: Authoritative Blue
    hex: "024065"
    rgb: "2,64,101"
    cmyk: "39,15,0,60"

---

<div class="content">
  <section class="intro">
    <div class="container grid">
      <div class="two-column-layout two-column-layout--grid two-column-layout--offset">
        <div class="two-column-layout__column two-column-layout__paragraph two-column-layout__heading">
          <h3>
            <span class="small-caps">
              The Challenge
            </span>
            Make value proposition clear and easy to understand
          </h3>
        </div>
        <div class="two-column-layout__column two-column-layout__paragraph">
          <p>
            Bluvalt is a cloud computing service based in Saudi Arabia.
            The that was encountering high bounce rate on their marketing site.
            Which you can imagine was impacting on their customer acquisition.
            The company also had strong reservations on the visual design of their
            site as were a lot of inconsistencies and was looked dated.
          </p>
          <p>
            Bluvalt hired thoughtbot to conduct research, analyse findings and execute
            on strong visual language that would both lower bounce rates and gain traction. My remit on the project was to focus on the latter.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container grid">
      <div class="two-column-layout two-column-layout--grid two-column-layout--offset">
        <div class="two-column-layout__column two-column-layout__paragraph">
          <h3>
            <span>Setting goals</span>
            <span>and wireframming</span>
          </h3>
          <p>
            After reviewing users activity on the website on Fullstory we learnt
            that users often felt lost as they move their mouse around, attempt
            to click on a few things that would lead them on a dead end page and
            then leave the site all together. We set an overarching goal for the
            site and goals for each individual page.
          </p>
        </div>
        <div class="two-column-layout__column two-column-layout__column-bottom two-column-layout__paragraph">
          {% include testimony.html avatar = "rami-taibah"
            name = "Rami Taibah"
            role = "UX Architect at Bluvalt"
            quote = "<span class='testimony__quote-break-bluvalt'>Lloyd understood the problem, wasn’t much </span><span class='testimony__quote-break-bluvalt'>back and forth.</span>"
          %}
        </div>
      </div>
    </div>
  </section>


  <section class="media-section">
    <picture class="media-section-bg">
      <source media="(max-width: 767px)" srcset="https://via.placeholder.com/600x630.jpg/f2f2f2/f2f2f2">
      <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1440x750.jpg/f2f2f2/f2f2f2">
      <img src="https://via.placeholder.com/1440x750.png/f2f2f2" alt="Media Background">
    </picture>
  </section>

  <section class="section">
    <div class="container grid">
      <div class="single-column">
        <h3>
          <span>Establishing a</span>
          <span>visual direction</span>
        </h3>
        <p>
          I created an inspiration / mood board of visuals that I felt would
          best convey the brand and presented this to the client. Undertaking
          this step before fleshing out any mock-ups made the client feel involved
          in the process and prevented excessive design revisions going forward.
          Together we decided to go down a playful illustrative direction that has
          an emphasis on the working Saudi community. We wanted to remove the typical
          “serious”, “nerdy” and “enterprise” feel about computing and create something
          that resonated with the local community.
        </p>
      </div>
    </div>
  </section>

  <section class="media-section">
    <picture class="media-section-bg">
      <source media="(max-width: 767px)" srcset="https://via.placeholder.com/600x630.jpg/f2f2f2/f2f2f2">
      <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1440x750.jpg/f2f2f2/f2f2f2">
      <img src="https://via.placeholder.com/1440x750.png/f2f2f2" alt="Media Background">
    </picture>
    <picture class="media-section__content media-section__content-wide">
      <source media="(max-width: 767px)" srcset="../images/projects/{{page.directory}}/case-study/components-mobile.png">
      <source media="(max-width: 1199px)" srcset="../images/projects/{{page.directory}}/case-study/components.png">
      <source media="(min-width: 1200px)" srcset="../images/projects/{{page.directory}}/case-study/components-2x.png">
      <img src="../images/projects/{{page.directory}}/case-study/components.png" alt="Components">
    </picture>
  </section>

  <section class="section">
    <div class="container grid">

      <div class="three-column-layout three-column-layout--offset inner-section">
        {% for colour in page.colour-swatches %}
        <div class="three-column-layout__column">

          {% include colour-swatches.html
            colour-name = colour.colour
            hex = colour.hex
            rgb = colour.rgb
            cmyk = colour.cmyk
          %}

        </div>
        {% endfor %}
      </div>

      <div class="two-column-layout two-column-layout--offset inner-section">
        <div class="two-column-layout__column">
          <span class="small-caps">
            Headline 1 &amp; 2 &ndash; Gotham Rounded Bold
          </span>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-headline.html %}
          </div>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-headline.html %}
          </div>
        </div>
        <div class="two-column-layout__column">
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-alphabet.html %}
          </div>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-numbers.html %}
          </div>

        </div>
      </div>

      <div class="two-column-layout two-column-layout--offset inner-section">
        <div class="two-column-layout__column">
          <span class="small-caps">
            Headline 3 &amp; 4 &ndash; Gotham Rounded Medium
          </span>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-headline.html %}
          </div>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-headline.html %}
          </div>
        </div>
        <div class="two-column-layout__column">
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-alphabet.html %}
          </div>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-numbers.html %}
          </div>

        </div>

      </div>


      <div class="two-column-layout two-column-layout--offset inner-section">
        <div class="two-column-layout__column">
          <span class="small-caps">
            Body &ndash; Gotham Rounded Light
          </span>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-headline.html %}
          </div>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-headline.html %}
          </div>
        </div>
        <div class="two-column-layout__column">
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-alphabet.html %}
          </div>
          <div class="thumbnail">
            {% include _casestudy/_bluvalt/type-numbers.html %}
          </div>
        </div>
      </div>

      <div class="single-column">
        <span class="small-caps">
          Arabic Version &ndash; Teshrin Bold, Medium, Light
        </span>
        <div class="thumbnail">
          {% include _casestudy/_bluvalt/type-headline.html %}
        </div>
        <div class="thumbnail">
          {% include _casestudy/_bluvalt/type-headline.html %}
        </div>
        <div class="thumbnail">
          {% include _casestudy/_bluvalt/type-headline.html %}
        </div>

      </div>

    </div>
  </section>

  <section class="section">
    <div class="container grid">
      <div class="single-column">
        <h3>
          <span>Developer Hand-off</span>
        </h3>
        <p>
          I created an inspiration / mood board of visuals that I felt would
          best convey the brand and presented this to the client. Undertaking
          this step before fleshing out any mock-ups made the client feel involved
          in the process and prevented excessive design revisions going forward.
          Together we decided to go down a playful illustrative direction that has
          an emphasis on the working Saudi community. We wanted to remove the typical
          “serious”, “nerdy” and “enterprise” feel about computing and create something
          that resonated with the local community.
        </p>
      </div>
    </div>
  </section>

  <section class="media-section">
    <picture class="media-section-bg">
      <source media="(max-width: 767px)" srcset="https://via.placeholder.com/600x630.jpg/f2f2f2/f2f2f2">
      <source media="(min-width: 768px)" srcset="https://via.placeholder.com/1440x750.jpg/f2f2f2/f2f2f2">
      <img src="https://via.placeholder.com/1440x750.png/f2f2f2" alt="Media Background">
    </picture>
    <picture class="media-section__content media-section__content-wide">
      <source media="(max-width: 767px)" srcset="../images/projects/{{page.directory}}/case-study/components-mobile.png">
      <source media="(max-width: 1199px)" srcset="../images/projects/{{page.directory}}/case-study/components.png">
      <source media="(min-width: 1200px)" srcset="../images/projects/{{page.directory}}/case-study/components-2x.png">
      <img src="../images/projects/{{page.directory}}/case-study/components.png" alt="Components">
    </picture>
  </section>


  <section>
    <div class="container grid">
      <div class="two-column-layout two-column-layout--grid two-column-layout--offset">
        <div class="two-column-layout__column two-column-layout__paragraph">
          <h3>
            <span class="small-caps">
              The Challenge
            </span>
            <span>Conclusion</span>
          </h3>
          <p>
            I created an inspiration / mood board of visuals that I felt would
            best convey the brand and presented this to the client. Undertaking
            this step before fleshing out any mock-ups made the client feel involved
            in the process and prevented excessive design revisions going forward.
            Together we decided to go down a playful illustrative direction that has
            an emphasis on the working Saudi community. We wanted to remove the typical
            “serious”, “nerdy” and “enterprise” feel about computing and create something
            that resonated with the local community.
          </p>
        </div>
        <div class="two-column-layout__column two-column-layout__column-bottom">
          {% include testimony.html avatar = "rami-taibah"
            name = "Rami Taibah"
            role = "UX Architect at Bluvalt"
            quote = "Top notch, problem solvers, very candid. I felt like it wasn’t all
            about the end product, the work-flow, communication was very
            important to thoughtbotters too."
          %}
        </div>
        <div class="stats">
          <div class="stats__info">
            <span class="stats__info-percentage">
              35&percnt;
            </span>
            <span class="stats__info-description">
              Bounce rate reduced
            </span>
          </div>
        </div>
      </div>

    </div>
  </section>


</div>
