---
layout: default
directory: tonesandshades
title: Tones & Shades
herotitle: <div class="no-wrap-and-break title-mask"><span>T</span><span>o</span><span>n</span><span>e</span><span>s</span><span>&nbsp;</span><span>&</span>&nbsp;</div><div class="no-wrap-and-break title-mask"><span>S</span><span>h</span><span>a</span><span>d</span><span>e</span><span>s</span></div>
type: casestudy
permalink: :title/
thumbnail: project-thumb
colour: DBBD9C
category: ["Brand Identity", "Web Design", "Front-End Development"]
industry: Editorial
live-url: http://www.tonesandshad.es
order: 1
excerpt: A digital magazine that shares stories of the lives and journeys of black creatives. <b>Case study coming soon.</b>
brand-workshop:
  - src: "../video/projects/tonesandshades/brand-workshop.mp4"
    video: true
    default-image: "kite-default.jpg"
paragraph1:
  - text: As a black man I witness racial discrimination on a frequent basis.
          This could be any thing from racial slurs being use on the street or
          in media outlets all the way through to being misrepresented corporate
          jobs. One of the main reasons I believe racism still exists is that
          theres a lack of education and accountability. I believe that if I
          can could use my design skills to give my fellow black counterparts a
          voice to share their life stories this can inform, educate and inspire
          change.
  - text: I wanted also to champion their successes so people can see how strong,
          bold and amazing we are. We have been oppressed for centuries and now
          we have the opportunity to be heard. I’m a firm believer that charity
          starts from home so I chose to focus my efforts specifically with black
          creatives. I teamed up with my former work colleague Miles, who shared
          the same vision and we got to work towards creating a digital magazine
          for black creatives.
stylescape-paragraph:
  - text: With mission and values in place I started to gather some early
          thoughts around our visual identity. Words like ‘expressive’,
          relatable and community driven along with references to Afro-Caribbean
          culture led the direction identity that was captured in the stylescape
          I created.
discovery-paragraph:
  - text: We sat down and fleshed out our missions, values and target audiences
          in greater detail. The name “Tones & Shades” formed within sessions.
          “Tones” being the synonym for voice. We are one people, one community,
          one voice, and “shades” used to highlight contrast in that we also come
          from different walks in life.
stylescape:
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Tones & Shades Stylescape"
    default-image: "stylescape.jpg"
    images:
      - breakpoint: "max-width: 800px"
        file: "stylescape-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "stylescape@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "stylescape.jpg"
colour-swatches:
  - name: Sand
    hex: "F5E5D4"
    rgb: "245, 229, 212"
    cmyk: "0, 6, 13, 4"
  - name: Orange
    hex: "F09053"
    rgb: "240, 144, 83"
    cmyk: "0, 38, 62, 6"
  - name: Brown
    hex: "865B4A"
    rgb: "134, 91, 74"
    cmyk: "0, 17, 24, 47"
  - name: Blue
    hex: "6592EF"
    rgb: "101, 146, 239"
    cmyk: "54, 36, 0, 6"
  - name: Black
    hex: "000000"
    rgb: "0, 0, 0"
    cmyk: "0, 0, 0, 100"

assets:
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Logo Grid"
    default-image: "logo-grid.jpg"
    images:
      - breakpoint: "max-width: 800px"
        file: "logo-grid-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "logo-grid@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "logo-grid.jpg"
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Instagram Posts"
    default-image: "social-media.jpg"
    images:
      - breakpoint: "max-width: 800px"
        file: "social-media-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "social-media@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "social-media.jpg"
assets2:
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Sticker"
    default-image: "sticker.jpg"
    images:
      - breakpoint: "max-width: 549px"
        file: "sticker-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "sticker@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "sticker.jpg"
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Business Card"
    default-image: "business-card.jpg"
    images:
      - breakpoint: "max-width: 549px"
        file: "business-card-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "business-card@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "business-card.jpg"
assets3:
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Email Design"
    default-image: "email-design.jpg"
    images:
      - breakpoint: "max-width: 800px"
        file: "email-design-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "email-design@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "email-design.jpg"

journey-text:
  - text: Building this platform required us to shortlist a number of
          creatives we want to interview and contact them. We targeted
          to release at least 8 stories for the initial launch. Convincing
          a stranger to do you a favour is never an easy task. We knew had
          to sell this idea in the best way possible to get people onboard.
          This required us to create a presentation deck that showcase our
          overall vision and why we had choice them. I went for an invitational
          style over your traditional pitch to make our approach more personable,
          which received a positive response.
invitation:
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Invitation Design"
    default-image: "invitation-deck.jpg"
    images:
      - breakpoint: "max-width: 800px"
        file: "invitation-deck-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "invitation-deck@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "invitation-deck.jpg"

building-magazine:
  - text: The aim of the website is create simple and clean experience that put
          the stories front-end centre. With this in mind, we were conscious about
          overwhelming the user with loads of stories scattered all over the screen
          as you often see with digital magazines. I tried to create layout that
          linear to guide the user to find the story they want to read. I used
          opportunities throughout the design to champion black culture and
          communicate the brands message.
  - text: We made a collective decision to opt out of integrating the site with
          CMS and instead built the site using a static site generator to reduce
          the scope of the project. Jekyll, the static site generator we used
          allowed us to store content and re-purpose it in dynamic way similar
          as you would if it was built with a CMS. The drawback to us not using
          a CMS meant that we would have to go into the source code to made
          content edits, which isn’t user friendly. But this is fine for what
          wanted to achieve in the first launch.
website:
  - src: "../images/projects/tonesandshades/case-study/"
    alt: "Mobile Website"
    default-image: "mobile-web.jpg"
    images:
      - breakpoint: "max-width: 800px"
        file: "mobile-web-small.jpg"
      - breakpoint: "min-width: 1200px"
        file: "mobile-web@2x.jpg"
      - breakpoint: "max-width: 1199px"
        file: "mobile-web.jpg"
conclusion:
  - text: We successfully launched the Tones & Shades brand and website in October 2020 with three articles.
          We are now currently working towards our social media push to drive traffic to the digital magazine.
          As part of our strategy to drive engagement we will be releasing the remaining five stories in an
          incremental fashion.
---

{% include single-column-text.html
  title = "Driving equality in creative industries through sharing life sharing stories."
  meta-title = "The Challenge"
  paragraph = page.paragraph1
  cta-text = "Visit Website"
  cta-link = page.live-url
%}

{% include single-column-text.html
  small-margin = true
  title = "Discovering Tones & Shades"
  paragraph = page.discovery-paragraph
%}

{% include media-block.html
  media-items = page.brand-workshop
%}

{% include single-column-text.html
  small-margin = true
  title = "Establishing a visual direction"
  paragraph = page.stylescape-paragraph
%}

{% include media-block.html
  media-items = page.stylescape
%}

{%
  include colour-swatches.html
  colour-swatches = page.colour-swatches
%}

<section class="section">
  <div class="container">

    <div class="two-columns">
      <div class="two-columns__item">
        <span class="small-caps type-container__heading">
          Headline Typeface - Poppins
        </span>
        <div class="type-container type-container--h1">
          {% include _casestudy/_tonesandshades/headline.html %}
        </div>
      </div>

      <div class="two-columns__item">
        <div class="type-container inner-section">
          {% include _casestudy/_tonesandshades/headline-characters.html %}
        </div>

        <span class="small-caps type-container__heading">
          Body Typeface - Tiempos Text
        </span>

        <div class="type-container">
          {% include _casestudy/_tonesandshades/body-copy.html %}
        </div>
        <div class="type-container type-container--body">
          {% include _casestudy/_tonesandshades/body-characters.html %}
        </div>
      </div>

    </div>
  </div>

</section>

{% include media-block.html
  small-margin = true
  media-items = page.assets
%}

{% include media-block.html
  small-margin = true
  two-columns = true
  media-items = page.assets2
%}

{% include media-block.html
  media-items = page.assets3
%}

{% include single-column-text.html
  small-margin = true
  title = "Getting creatives to join our journey"
  paragraph = page.journey-text
%}

{% include media-block.html
  media-items = page.invitation
%}

{% include single-column-text.html
  small-margin = true
  title = "Building the digital magazine"
  paragraph = page.building-magazine
%}

{% include media-block.html
  media-items = page.website
%}

{% include single-column-text.html
  meta-title = "The Outcome"
  title = "Conclusion"
  paragraph = page.conclusion
%}
