{% for casestudy in site.projects reversed %}
{% capture project-image-url %}images/projects/{{casestudy.directory}}/thumbnail/{{casestudy.thumbnail}}{% endcapture %}
<div class="project">
  <div class="project__wrapper">
    <h2 class="project__title step__title">{{ casestudy.title }}</h2>
    <p class="project__description project--show-on-desktop">
      {{ casestudy.description }}
    </p>
    <p class="project__tags project--show-on-desktop">
      <strong>Roles: </strong>{{ casestudy.category }}
    </p>
    <a class="button button--margin-top project--show-on-desktop" href="{{ casestudy.live-url }}" target="_blank">
      View Case Study
    </a>
    <a class="project__thumbnail project--show-on-mobile" href="{{ casestudy.live-url }}" target="_blank">
      <div class="project__thumbnail__bg">
        <img src="http://via.placeholder.com/660x600/{{ casestudy.colour}}/{{ casestudy.colour}}">
      </div>
      <picture class="project__thumbnail__design project__thumbnail--{{ casestudy.directory }}">
        <source media="(min-width: 550px)" srcset="{{ project-image-url }}@2x.png">
        <source media="(max-width: 549px)" srcset="{{ project-image-url }}.png">
        <img src="{{ project-image-url }}.png" alt="{{casestudy.title}}" />
      </picture>
    </a>
  </div>
</div>
{% endfor %}
