<div class="nav-bar project-top-nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <a id="close-casestudy" class="hamburger is-open ajaxLoad" href="{{site.baseurl}}/..">
                    <div class="icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% if page.header-images %}
<div class="project-hero {{page.name}}-hero">
    {% for headerImage in page.header-images reversed %}
    <img {% if headerImage.animationName %}
         class="wow {{headerImage.animationName}}"
         data-wow-duration="{{ headerImage.animationDuration }}"
         data-wow-delay="{{ headerImage.animationDelay }}"
         {% endif %}
         src="/images/projects/{{ page.directory }}/casestudy/header/{{ headerImage.image }}"
         alt="{{ headerImage.name }}">
    {% endfor %}
</div>
{% endif %}