{% for casestudy in site.projects reversed %}
{% capture project-image-url %}images/projects/{{casestudy.directory}}/thumbnail/{{casestudy.thumbnail}}{% endcapture %}
<div class="project active" data-slide>
  <div class="project__wrapper">
    <h2 class="project__title step__title">{{ casestudy.title }}</h2>
    <p class="project__description project--show-on-desktop">
      {{ casestudy.description }}
    </p>
    <p class="project__tags project--show-on-desktop">
      <strong>Roles: </strong>
      {% for cat in casestudy.category %}
        {% if forloop.last == true %}
        <span>{{ cat }}</span>
        {% else %}
        <span>{{ cat }}&comma; </span>
        {% endif %}
      {% endfor %}
    </p>
    <a class="button button--margin-top project--show-on-desktop" href="{{ casestudy.url }}">
      View Case Study
    </a>
    <a class="project__thumbnail project--show-on-mobile" href="{{ casestudy.url }}">
      <div class="project__thumbnail__bg">
        <img src="http://via.placeholder.com/660x600/{{ casestudy.colour}}/{{ casestudy.colour}}">
      </div>
      {% capture thumbnail-css-classes %} project__thumbnail__design project__thumbnail--{{ casestudy.directory }}{% endcapture %}

      {% include casestudy-graphic.html
        classlist= thumbnail-css-classes
        image-url= project-image-url
        title= casestudy.directory
      %}
    </a>
  </div>
</div>
{% endfor %}
