{% capture project-image-url %}../images/projects/{{page.directory}}/thumbnail/{{page.thumbnail}}{% endcapture %}
<section class="hero hero--{{ page.directory }} {% if page.white-text-on-hero %} hero--inverted {% endif %}">
  <div class="hero__bg">
    {% include _background-strip.html colour= page.colour %}
  </div>

  <div class="hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title">
        {{ page.title }}
      </h1>

      <picture class="hero__image hero__image--{{ page.directory }} thumbnail">
        <source media="(min-width: 550px)" srcset="{{ project-image-url }}@2x.png">
        <source media="(max-width: 549px)" srcset="{{ project-image-url }}.png">
        <img src="{{ project-image-url }}.png" alt="{{ page.title}}" />
      </picture>

      <div class="hero__details">
        <hr class="hr--short {% if page.white-text-on-hero %} hr--inverted {% endif %}"></hr>
        {% if page.category %}
        <ul class="hero__details-list">
          {% for cat in page.category %}
          <li class="hero__details-list-item">
            <span>
              {{ cat }}
            </span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
