{% for casestudy in site.projects %}
  {% capture project-image-url %}images/projects/{{casestudy.directory}}/thumbnail/{{casestudy.thumbnail}}{% endcapture %}
  {% capture thumbnail-css-classes %} card__thumbnail-design card__thumbnail--{{ casestudy.directory }} wow anim-zoom-out-special{% endcapture %}
  {% capture thumbnail-main-data-attr %} data-wow-duration='800ms' data-wow-offset='-100'{% endcapture %}
  {% capture thumbnail-data-attr %} data-wow-duration='800ms'{% endcapture %}
  {% capture card-top-image-classes %} card__piece-image card__top-image-{{ casestudy.title | downcase }} wow anim-zoom-out{% endcapture %}
  {% capture card-bottom-image-classes %} card__piece-image card__bottom-image-{{ casestudy.title | downcase }} wow anim-zoom-out{% endcapture %}

<div class="card">
  <h2 class="card__no card__side">
    {{ forloop.index | prepend: "0" }}
  </h2>
  <h2 class="card__title card__main">
    {{ casestudy.title }}
  </h2>
  <a class="card__thumbnail" href="{{ casestudy.url }}">
    {% include casestudy-graphic.html
      classlist= thumbnail-css-classes
      datalist= thumbnail-main-data-attr
      title= casestudy.directory
    %}
  </a>

  <ul class="card__meta-tags card__side card--desktop">
    {% for cat in casestudy.category %}
    <li>
      {% if forloop.last == true %}
      <p>{{ cat }}</p>
      {% else %}
      <p>{{ cat }}&comma; </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <div class="card__main card--desktop">
    <p class="card__description">
      {{ casestudy.excerpt }}
    </p>

    <a class="button button--margin-top" href="{{ casestudy.url }}">
      <span class="button__text">
        View Case Study
      </span>
      <span class="button__line wow anim-grow" data-wow-duration="300ms" data-wow-delay="750ms" data-remove-class>
      </span>
    </a>
  </div>
</div>
{% endfor %}
