{% capture project-image-url %}../images/projects/{{page.directory}}/thumbnail/{{page.thumbnail}}{% endcapture %}
<section class="hero hero--{{ page.directory }} {% if page.white-text-on-hero %} hero--inverted {% endif %}">
  <div class="hero__bg">
    {% include background-strip.html colour= page.colour animatestip= true %}
  </div>

  <div class="hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title">
        {{ page.title }}
      </h1>

      {% capture thumbnail-css-classes %}hero__image hero__image--{{ page.directory }} thumbnail{% endcapture %}

      {% include casestudy-graphic.html
        classlist= thumbnail-css-classes
        image-url= project-image-url
        title= page.directory
      %}

      <div class="hero__details">
        <hr class="hr--short {% if page.white-text-on-hero %} hr--inverted {% endif %}"></hr>
        {% if page.category %}
        <ul class="hero__details-list">
          {% for cat in page.category %}
          <li class="hero__details-list-item">
            <span>
              {{ cat }}
            </span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
