{% assign casestudies = site.projects | sort: "order" %}

{% for casestudy in casestudies %}
  {% capture project-image-url %}images/projects/{{casestudy.directory}}/thumbnail/{{casestudy.thumbnail}}{% endcapture %}


<div class="card">
  <div class="card__morph" style="background-color: #{{ casestudy.colour }}" data-card-morph="{{ casestudy.directory }}"></div>

  <h2 class="card__no card__side">
    <span class="title-mask" data-text-wipe>
      <span>{{ forloop.index | prepend: "0" }}</span>
    </span>
  </h2>
  <h2 class="card__title card__main">
    {% assign casestudyTitle = casestudy.title | split: ' ' %}

    {% for title in casestudyTitle %}
    <span class="title-mask" data-text-wipe>
      <span>{{ title }}</span>
    </span>
    {% endfor %}

  </h2>
  <a class="card__thumbnail image-reveal" href="{{ casestudy.url }}" data-page-transition="{{ casestudy.directory }}" data-image-reveal>
    <div class="overlay overlay--index" data-image-overlay></div>
    <div class="card__thumbnail-img" style="background-image: url('{{ project-image-url }}-4.jpg')" data-image-reveal-content></div>
  </a>

  <ul class="card__meta-tags card__side card--desktop">
    {% for cat in casestudy.category %}
    <li>
      {% if forloop.last == true %}
      <p>{{ cat }}</p>
      {% else %}
      <p>{{ cat }}&comma; </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <div class="card__main card--desktop">
    <p class="card__description">
      {{ casestudy.excerpt }}
    </p>

    <a class="button button--main button--margin-top" href="{{ casestudy.url }}">
      <span class="button__text">
        View Case Study
      </span>
      <span class="button__line" data-remove-class>
      </span>
    </a>
  </div>
</div>
{% endfor %}
