{% capture projects %}{{page.collection}}{% endcapture %}

{% if page.collection %}
  {% assign  document = site[projects] | sort: "order" | reversed %}
{% endif %}

{% if document.size > 1 %}
<a class="casestudy__footer"

{% for links in document %}
    {% if links.title == page.title %}
      {% if forloop.last %}
        {% assign next = document[0] %}
        {% assign nexttitle = next.herotitle %}
      {% else %}
        {% assign next = document[forloop.index] %}
        {% assign nexttitle = next.herotitle %}
      {% endif %}

        {% if next.coming-soon %}
          {% assign nexturl = next.live-url %}
          href="{{ nexturl }}" target="_blank"
        {% else %}
          {% assign nexturl = next.url %}
          href="{{ nexturl }}"
        {% endif %}

    {% endif %}

{% endfor %}
>
  {% capture project-image-url %}../images/projects/{{next.directory}}/next-project/{% endcapture %}

  <div class="casestudy-footer__grid">
    <div class="casestudy-footer__content">
      <div class="meta meta--margin-bottom-l meta--center">
        <span class="meta__title">
          // Next Project //
        </span>
      </div>
      <span class="casestudy-footer__title">
        {{ nexttitle }}
      </span>
    </div>
    <picture class="casestudy-footer__img thumbnail--block">
      <source media="(min-width: 700px)" srcset="{{ project-image-url }}/next-project-large.jpg">
      <img src="{{ project-image-url }}/next-project-small.jpg" alt="{{page.directory}}">
    </picture>
  </div>

</a>
{% endif %}
