{% capture projects %}{{page.collection}}{% endcapture %}

{% if page.collection %}
  {% assign  document = site[projects] | sort: "date" | reversed %}
{% endif %}

<a class="casestudy__next"

{% for links in document %}
    {% if links.title == page.title %}
      {% if forloop.last %}
        {% assign next = document[0] %}
        {% assign nexttitle = next.title %}
      {% else %}
        {% assign next = document[forloop.index] %}
        {% assign nexttitle = next.title %}
      {% endif %}

        {% if next.point-to-url %}
          {% assign nexturl = next.live-url %}
          href="http://www.{{ nexturl }}" target="_blank"
        {% else %}
          {% assign nexturl = next.url %}
          href="{{ nexturl }}"
          data-page-load
        {% endif %}

    {% endif %}
{% endfor %}
>
  <div class="casestudy__next-bg">
    {% include _background-strip.html colour= next.colour %}
  </div>
  <div class="container grid">
    <div class="casestudy__next-titles">
      <h2>
        <span class="small-caps">
          Next Project
        </span>
        {{ nexttitle }}
      </h2>
    </div>
  </div>
</a>
