<!-- <picture class="{{ include.classlist }}" {{ include.datalist }}>
  <source media="(min-width: 550px)" srcset="{{ include.image-url }}@2x.png">
  <source media="(max-width: 549px)" srcset="{{ include.image-url }}.png">
  <img src="{{ include.image-url }}.png" alt="{{ include.title }}" />
</picture> -->

<picture class="card__thumbnail-image">
  <source media="(min-width: 1200px)" srcset="{{ include.image-url }}-4.jpg">
  <source media="(min-width: 850px)" srcset="{{ include.image-url }}-3.jpg">
  <source media="(min-width: 550px)" srcset="{{ include.image-url }}-2.jpg">
  <img src="{{ include.image-url }}-1.jpg" alt="{{ include.title }}" />
</picture>
