<div class="colour wow anim-fade-in-up" data-wow-duration="500ms" data-wow-delay={{ include.delay }}ms>
  <div class="colour__swatch">
    <img src="https://via.placeholder.com/378x110.jpg/{{ include.hex }}/{{ include.hex }}" alt="Colour Swatch">
  </div>
  <div class="colour__details">
    <h4 class="colour__details-name">
      {{ include.colour-name }}
    </h4>
    <p class="colour__details-code">
      HEX: {{ include.hex }}
    </p>
    <p class="colour__details-code">
      RGB: {{ include.rgb }}
    </p>
    <p class="colour__details-code">
      CMYK: {{ include.cmyk }}
    </p>
  </div>
</div>
