<section id="contact">
	<h2 class="center wow moveUpFade" data-wow-offset="50" data-wow-duration="700ms">Contact Me</h2>
	<div class="container">
		<div class="row center">
			<div class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-1">
				<a href="mailto:{{ site.email }}">
					<div class="thumbnail wow fadeIn" data-wow-delay="800ms" data-wow-duration="700ms" data-wow-offset="50">
						
						<img class="social-icon mail-icon" src="images/social-media/mail.svg" alt="Email Icon"/>

					</div>
		          
		    	</a>
			</div>

			<div class="col-xs-4 col-sm-2">
				<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="blank_">
					<div class="thumbnail wow fadeIn" data-wow-offset="50" data-wow-delay="1.2s" data-wow-duration="700ms">
          				<img class="social-icon social-icon-linkedin" src="images/social-media/linkedin.svg"/>
          			</div>
        		</a>
			</div>

			<div class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-0">
				 <a href="https://twitter.com/{{ site.twitter_username }}" target="blank_">
				 	<div class="thumbnail wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s" data-wow-duration="700ms">
            			<img class="social-icon social-icon-twitter" src="images/social-media/twitter.svg">
            		</div>
         		 </a>	
			</div>

			<div class="col-xs-4 col-sm-2 ">
				<a href="https://www.dribbble.com/{{ site.dribbble_username }}" target="blank_">
					<div class="thumbnail wow fadeIn" data-wow-offset="50" data-wow-delay="2s" data-wow-duration="700ms">
          				<img class="social-icon social-icon-dribbble" src="images/social-media/dribbble.svg">
          			</div>
        		</a>
			</div>
			<div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-0">
				<a href="https://github.com/{{ site.github_username }}" target="blank_">
					<div class="thumbnail wow fadeIn" data-wow-offset="50" data-wow-delay="2.4s" data-wow-duration="700ms">
            			<img class="social-icon social-icon-github" src="images/social-media/github.svg">
            		</div>
          		</a>
			</div>

		</div>
	</div>	

</section>