<svg width="311" height="276" viewBox="0 0 311 276" xmlns="http://www.w3.org/2000/svg">
  <title>
    Dots
  </title>
  <g fill="#F56308" fill-rule="evenodd">
    <circle cx="31" cy="6" r="6"/>
    <circle cx="156" cy="6" r="6"/>
    <circle cx="156" cy="30" r="6"/>
    <circle cx="31" cy="54" r="6"/>
    <circle cx="156" cy="54" r="6"/>
    <circle cx="31" cy="78" r="6"/>
    <circle cx="156" cy="78" r="6"/>
    <circle cx="31" cy="102" r="6"/>
    <circle cx="156" cy="102" r="6"/>
    <circle cx="31" cy="126" r="6"/>
    <circle cx="156" cy="126" r="6"/>
    <circle cx="31" cy="150" r="6"/>
    <circle cx="31" cy="174" r="6"/>
    <circle cx="156" cy="150" r="6"/>
    <circle cx="156" cy="174" r="6"/>
    <circle cx="31" cy="198" r="6"/>
    <circle cx="156" cy="198" r="6"/>
    <circle cx="31" cy="222" r="6"/>
    <circle cx="156" cy="222" r="6"/>
    <circle cx="31" cy="246" r="6"/>
    <circle cx="156" cy="246" r="6"/>
    <circle cx="31" cy="270" r="6"/>
    <circle cx="31" cy="30" r="6"/>
    <circle cx="31" cy="6" r="6"/>
    <circle cx="31" cy="54" r="6"/>
    <circle cx="31" cy="78" r="6"/>
    <circle cx="31" cy="102" r="6"/>
    <circle cx="31" cy="126" r="6"/>
    <circle cx="31" cy="150" r="6"/>
    <circle cx="31" cy="174" r="6"/>
    <circle cx="31" cy="198" r="6"/>
    <circle cx="31" cy="222" r="6"/>
    <circle cx="31" cy="246" r="6"/>
    <circle cx="31" cy="270" r="6"/>
    <circle cx="6" cy="30" r="6"/>
    <circle cx="6" cy="6" r="6"/>
    <circle cx="6" cy="54" r="6"/>
    <circle cx="6" cy="78" r="6"/>
    <circle cx="6" cy="102" r="6"/>
    <circle cx="6" cy="126" r="6"/>
    <circle cx="6" cy="150" r="6"/>
    <circle cx="6" cy="174" r="6"/>
    <circle cx="6" cy="198" r="6"/>
    <circle cx="6" cy="222" r="6"/>
    <circle cx="6" cy="246" r="6"/>
    <circle cx="6" cy="270" r="6"/>
    <circle cx="56" cy="6" r="6"/>
    <circle cx="56" cy="30" r="6"/>
    <circle cx="56" cy="54" r="6"/>
    <circle cx="56" cy="78" r="6"/>
    <circle cx="56" cy="102" r="6"/>
    <circle cx="56" cy="126" r="6"/>
    <circle cx="56" cy="150" r="6"/>
    <circle cx="56" cy="174" r="6"/>
    <circle cx="56" cy="198" r="6"/>
    <circle cx="56" cy="222" r="6"/>
    <circle cx="56" cy="246" r="6"/>
    <circle cx="56" cy="270" r="6"/>
    <circle cx="81" cy="6" r="6"/>
    <circle cx="81" cy="30" r="6"/>
    <circle cx="81" cy="54" r="6"/>
    <circle cx="81" cy="78" r="6"/>
    <circle cx="81" cy="102" r="6"/>
    <circle cx="81" cy="126" r="6"/>
    <circle cx="81" cy="150" r="6"/>
    <circle cx="81" cy="174" r="6"/>
    <circle cx="81" cy="198" r="6"/>
    <circle cx="81" cy="222" r="6"/>
    <circle cx="81" cy="246" r="6"/>
    <circle cx="81" cy="270" r="6"/>
    <circle cx="106" cy="6" r="6"/>
    <circle cx="106" cy="30" r="6"/>
    <circle cx="106" cy="54" r="6"/>
    <circle cx="106" cy="78" r="6"/>
    <circle cx="106" cy="102" r="6"/>
    <circle cx="106" cy="126" r="6"/>
    <circle cx="106" cy="150" r="6"/>
    <circle cx="106" cy="174" r="6"/>
    <circle cx="106" cy="198" r="6"/>
    <circle cx="106" cy="222" r="6"/>
    <circle cx="106" cy="246" r="6"/>
    <circle cx="106" cy="270" r="6"/>
    <circle cx="131" cy="6" r="6"/>
    <circle cx="131" cy="30" r="6"/>
    <circle cx="131" cy="54" r="6"/>
    <circle cx="131" cy="78" r="6"/>
    <circle cx="131" cy="102" r="6"/>
    <circle cx="131" cy="126" r="6"/>
    <circle cx="131" cy="150" r="6"/>
    <circle cx="131" cy="174" r="6"/>
    <circle cx="131" cy="198" r="6"/>
    <circle cx="131" cy="222" r="6"/>
    <circle cx="131" cy="246" r="6"/>
    <circle cx="131" cy="270" r="6"/>
    <circle cx="156" cy="270" r="6"/>
    <circle cx="180" cy="6" r="6"/>
    <circle cx="180" cy="30" r="6"/>
    <circle cx="205" cy="6" r="6"/>
    <circle cx="205" cy="30" r="6"/>
    <circle cx="230" cy="6" r="6"/>
    <circle cx="230" cy="30" r="6"/>
    <circle cx="255" cy="6" r="6"/>
    <circle cx="255" cy="30" r="6"/>
    <circle cx="280" cy="6" r="6"/>
    <circle cx="305" cy="6" r="6"/>
    <circle cx="280" cy="30" r="6"/>
    <circle cx="305" cy="30" r="6"/>
    <circle cx="180" cy="54" r="6"/>
    <circle cx="205" cy="54" r="6"/>
    <circle cx="230" cy="54" r="6"/>
    <circle cx="255" cy="54" r="6"/>
    <circle cx="280" cy="54" r="6"/>
    <circle cx="305" cy="54" r="6"/>
    <circle cx="180" cy="78" r="6"/>
    <circle cx="205" cy="78" r="6"/>
    <circle cx="230" cy="78" r="6"/>
    <circle cx="255" cy="78" r="6"/>
    <circle cx="280" cy="78" r="6"/>
    <circle cx="305" cy="78" r="6"/>
    <circle cx="180" cy="102" r="6"/>
    <circle cx="205" cy="102" r="6"/>
    <circle cx="230" cy="102" r="6"/>
    <circle cx="255" cy="102" r="6"/>
    <circle cx="280" cy="102" r="6"/>
    <circle cx="305" cy="102" r="6"/>
    <circle cx="180" cy="126" r="6"/>
    <circle cx="205" cy="126" r="6"/>
    <circle cx="230" cy="126" r="6"/>
    <circle cx="255" cy="126" r="6"/>
    <circle cx="280" cy="126" r="6"/>
    <circle cx="305" cy="126" r="6"/>
    <circle cx="180" cy="150" r="6"/>
    <circle cx="180" cy="174" r="6"/>
    <circle cx="205" cy="150" r="6"/>
    <circle cx="205" cy="174" r="6"/>
    <circle cx="230" cy="150" r="6"/>
    <circle cx="230" cy="174" r="6"/>
    <circle cx="255" cy="150" r="6"/>
    <circle cx="255" cy="174" r="6"/>
    <circle cx="280" cy="150" r="6"/>
    <circle cx="305" cy="150" r="6"/>
    <circle cx="280" cy="174" r="6"/>
    <circle cx="305" cy="174" r="6"/>
    <circle cx="180" cy="198" r="6"/>
    <circle cx="205" cy="198" r="6"/>
    <circle cx="230" cy="198" r="6"/>
    <circle cx="255" cy="198" r="6"/>
    <circle cx="280" cy="198" r="6"/>
    <circle cx="305" cy="198" r="6"/>
    <circle cx="180" cy="222" r="6"/>
    <circle cx="205" cy="222" r="6"/>
    <circle cx="230" cy="222" r="6"/>
    <circle cx="255" cy="222" r="6"/>
    <circle cx="280" cy="222" r="6"/>
    <circle cx="305" cy="222" r="6"/>
    <circle cx="180" cy="246" r="6"/>
    <circle cx="205" cy="246" r="6"/>
    <circle cx="230" cy="246" r="6"/>
    <circle cx="255" cy="246" r="6"/>
    <circle cx="280" cy="246" r="6"/>
    <circle cx="305" cy="246" r="6"/>
    <circle cx="180" cy="270" r="6"/>
    <circle cx="205" cy="270" r="6"/>
    <circle cx="230" cy="270" r="6"/>
    <circle cx="255" cy="270" r="6"/>
    <circle cx="280" cy="270" r="6"/>
    <circle cx="305" cy="270" r="6"/>
  </g>
</svg>
