<footer class="footer">
	<div class="container">
    <div class="footer-grid">
      <div class="footer-logo">
        <a href="https://placeholder.com">
          <img src="http://via.placeholder.com/90x90">
        </a>
      </div>
      <div class="connect">
        <h3 class="connect-title">Let’s work together.</h3>
        <p>
          If you'd like to talk about a project or need
          advice on digital product design,
          drop me a message at:
        </p>
        <a class="email" href="mailto:{{ site.email }}">
          {{ site.email }}
        </a>
        <div class="footer-social-links">
          {% include dribbble.html %}
          {% include instagram.html %}
          {% include twitter.html %}
          {% include linkedin.html %}
        </div>
      </div>
    </div>
  </div>
</footer>
