<footer class="footer">
	<div class="container">
    <div class="footer-grid">
      <div class="footer-logo">
        <a href="https://placeholder.com">
          <img src="../images/logo-white.svg" alt="L.J.B">
          <!-- <img src="http://via.placeholder.com/90x90"> -->
        </a>
      </div>
      <div class="connect">
        <h3 class="connect-title">Let’s work together.</h3>
        <p>
          If you'd like to talk about a project or need
          advice on digital product design,
          drop me a message at:
        </p>
        <a class="email" href="mailto:{{ site.email }}">
          {{ site.email }}
        </a>
        <div class="footer-social-links">
          {% include _social-links/dribbble.html %}
          {% include _social-links/instagram.html %}
          {% include _social-links/twitter.html %}
          {% include _social-links/linkedin.html %}
        </div>
      </div>
    </div>
  </div>
</footer>
