<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="../images/favicon.png" />

  <title>Lloyd-Jamie Bennett &ndash; Digital Designer</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:url" content="http://www.lloydjamiebennett.co.uk" />
  <meta property="og:title" content="Lloyd-Jamie Bennett" />
  <meta property="og:description" content="Digital Designer based in London" />
  <meta property="og:image" content="http://www.lloydjamiebennett.co.uk/images/facebook-meta-card.jpg" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@LloydBennett_" />
  <meta name="twitter:title" content="Lloyd-Jamie Bennett" />
  <meta name="twitter:description" content="Digital Designer based in London." />
  <meta name="twitter:image" content="http://www.lloydjamiebennett.co.uk/images/twitter-meta-card.jpg" />

  <link rel="stylesheet" href="https://use.typekit.net/bjr0iun.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
  <script>
   window.addEventListener('load', function(){
     setTimeout(function(){
       window.scrollTo(0, 0);
     }, 5);
   });
 </script>
</head>
