{% include _navigation/nav-menu.html %}

{% if page.title == 'Home' %}
<header class="hero hero-home">
  <div class="hero-bg wow grow-wipe" data-wow-duration="450ms" data-wow-delay="400ms"></div>
  <div class="overlay wow grow-wipe" data-wow-duration="450ms" data-wow-delay="400ms"></div>
{% else %}
<header class="hero hero-page">
  <div class="hero-bg wow grow-wipe" data-wow-duration="450ms" data-wow-delay="400ms"></div>
{% endif %}

  {% include _navigation/nav-bar.html %}
  <div class="hero-content">
    <div class="container">
    <div class="hero-content-intro">
        <div class="hero-intro-wrapper">

          {% if page.author %}
          <span class="section-title wow fade-up" data-wow-duration="500ms" data-wow-delay='1000ms'>
            {{ page.author }}
          </span>
          {% endif %}

          {% if page.heading %}
          <h1 class="intro-title">{{ page.heading }}</h1>
          {% else %}
          <h1 class="intro-title">{{ page.title }}</h1>
          {% endif %}

          {% if page.description %}
          <p class="intro-description wow fade-up" data-wow-duration='300ms' data-wow-delay='1600ms'>
            {{ page.description }}
          </p>
          {% endif %}

          {% if page.calltoaction %}
            {% include button.html target='cta-target' bg-animation-delay='1800ms' btn-text-animation-delay='2300ms'
            button-text='View Projects'
            %}
          {% endif %}
        </div>
      </div>

      {% if page.title == "Home" %}
      <div class="hero-avatar wow fade-left"
       data-wow-duration="400ms" data-wow-delay="1000ms"
      >
        <img class="small" src="images/home/lloyd.png" alt="Lloyd Bennett">
        <img class="large" src="images/home/lloyd-large.png" alt="Lloyd Bennett">
      </div>

      <div class="hero-socials wow fade-in" data-wow-duration="650ms" data-wow-delay="2500ms">
        <div class="hero-socials-title">
          <span class="hero-socials-title-label">Social</span>
          <span class="line"></span>
        </div>

        <div class="hero-social-links">
          {% include _social-links/dribbble.html %}
          {% include _social-links/instagram.html %}
          {% include _social-links/twitter.html %}
          {% include _social-links/linkedin.html %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</header>
