<div class="nav-menu">
  <div class="container">
    <ul class="list">
      <li class="list-link">
        <a href="#about" data-animate-scroll>About Me</a>
      </li>
      <li class="list-link">
        <a href="#cta-target" data-animate-scroll>Projects</a>
      </li>
      <li class="list-link">
        <a href="#contact" data-animate-scroll>Contact</a>
      </li>
    </ul>
  </div>
</div>

<header class="hero hero-home">
  <div class="overlay"></div>
	<div class="container">
    <div class="nav-bar">
      <a class="logo wow fadeIn" data-wow-duration="700ms" data-wow-delay="1.8s" href="../../">

      </a>

      <div id="open-menu" class="hamburger wow fadeIn" data-wow-duration="700ms"data-wow-delay="1.8s">
        <div class="icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="hero-content-intro">
      <div class="hero-intro-wrapper">
        <span class="section-title wow fadeIn" data-wow-duration="700ms">{{page.author}}</span>

        {% if page.heading %}
        <h1 class="intro-title wow fadeIn" data-wow-duration="1.5s" data-wow-delay="600ms">{{ page.heading }}</h1>
        {% else %}
        <h1 class="intro-title wow fadeIn" data-wow-duration="1.5s" data-wow-delay="600ms">{{ page.title }}</h1>
        {% endif %}

        {% if page.description %}
        <p class="intro-description">{{ page.description }}</p>
        {% endif %}
        
        {% if page.calltoaction %}
        <a href="#cta-target" class="button wow fadeIn" data-animate-scroll data-wow-duration="600ms" data-wow-delay="1.2s">
          <span>View Projects</span>
        </a>

        {% endif %}
      </div>

    </div>

    <div class="hero-avatar">
      <img class="small" src="images/home/lloyd.png" alt="Lloyd Bennett">
      <img class="large" src="images/home/lloyd-large.png" alt="Lloyd Bennett">
    </div>


  </div>
</header>
