<section class="hero {% if page.title == 'About' %}hero--about{% endif %}{% if page.title == 'Home' %}hero--home{% endif %}">
  <div class="hero__grid {% if page.type == 'casestudy' %} hero--flex">

    <div class="meta meta--credits">
      <div class="meta__group">
        <span class="meta__title">
          My Roles
        </span>
      {% for cat in page.category %}

        <span class="meta__content meta--body-text">
          {% if forloop.last == true %}
            {{ cat }}
          {% else %}
            {{ cat }},
          {% endif %}
        </span>

      {% endfor %}
      </div>
      <div class="meta__group">
        <span class="meta__title">
          Contributors
        </span>
        {% for person in page.contributors %}
          <span class="meta__content meta--body-text">
            {{ person }}
          </span>
        {% endfor %}
      </div>
    </div>
    {% else %}
    ">
    <div class="meta meta--head" data-meta-info>
      <div class="hr"></div>
      {% if page.meta %}
        <span class="meta__title">
          {{ page.meta }}
        </span>
      {% else %}
        <span class="meta__content meta--body-text">
          Lloyd Bennett
        </span>
        <span class="meta__content meta--body-text">
          Digital Designer
        </span>
      {% endif %}
    </div>
    {% endif %}

    <div class="hero__content">
      <h1 class="hero__title {% if page.type == 'casestudy' %}hero--title-no-margin{% endif %}"
      data-hero-title>
        {% if page.herotitle %}
          {{ page.herotitle }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>

      {% if page.title == 'Home' %}
      <div class="hero__home-masthead">
        <div class="hero--title-mobile hero--title-mobile-tweak">
          <span>Designs</span> <span>with</span>
        </div>
        <div class="thumbnail">
          <img src="../images/home/lloyd-hero-face-mobile.jpg" alt="Lloyd Bennett">
        </div>
        <div class="hero--title-mobile hero--title-mobile-wrap">
          <span>a</span> <span><i>purpose</i></span>
        </div>
      </div>
      {% endif %}

      {% if page.description %}
      <p class="hero__copy" data-hero-copy data-hero-content-group>
        {{ page.description }}
      </p>
      {% endif %}

      {% if page.buttoname %}
        {% include button.html
          target="#portfolio"
          externalLink = true
          heroCta = true
          buttonText = page.buttoname
        %}
      {% endif %}

    </div>
  </div>

  {% if page.type == 'casestudy' %}

    <picture class="thumbnail">
      <source media="(max-width: 700px)" srcset="../images/projects/{{page.directory}}/hero/hero-small.jpg">
      <source media="(max-width: 1270px)" srcset="../images/projects/{{page.directory}}/hero/hero-medium.jpg">
      <source media="(min-width: 1271px)" srcset="../images/projects/{{page.directory}}/hero/hero-large.jpg">
      <img src="../images/projects/{{page.directory}}/hero/hero-medium.jpg" alt="{{page.directory}}">
    </picture>

  {% else %}

    {% if page.title == 'Home' %}
      <div class="hero__two-images">
        <picture class="thumbnail" data-image-reveal>
          <div class="overlay overlay--index" data-image-overlay="translate"></div>
          <div class="overlay" data-image-overlay="fade" style="background-color: #6AB1CA"></div>
          <source media="(min-width: 550px)" srcset="../images/home/lloyd-face.jpg">
          <img src="../images/home/lloyd-face-mobile.jpg" alt="Lloyd Bennett" />
        </picture>

        <picture class="thumbnail" data-image-reveal>
          <div class="overlay" data-image-overlay="translate"></div>
          <div class="overlay" data-image-overlay="fade" style="background-color: #6AB1CA"></div>
          <source media="(min-width: 960px)" srcset="../images/home/lloyd-side.jpg">
          <img src="../images/home/lloyd-watch.jpg" alt="Lloyd Bennett" />
        </picture>
      </div>

    {% else %}

      <div class="hero__grid hero--collaspe-padding">
        <picture class="hero__image hero--image-two-thirds">
          <source media="(min-width: 1000px)" srcset="../images/{{page.directory}}/hero@1-5x.jpg">
          <source media="(min-width: 700px)" srcset="../images/{{page.directory}}/hero.jpg">
          <img src="../images/{{page.directory}}/hero-mobile.jpg" alt="image" />
        </picture>
      </div>
    {% endif %}
  {% endif %}


</section>
