<section class="hero">
  <div class="hero__grid {% if page.type == 'casestudy' %} hero--flex">

    <div class="meta meta--credits">
      <div class="meta__group">
        <span class="meta__title">
          My Roles
        </span>
      {% for cat in page.category %}

        <span class="meta__content meta--body-text">
          {% if forloop.last == true %}
            {{ cat }}
          {% else %}
            {{ cat }},
          {% endif %}
        </span>

      {% endfor %}
      </div>
      <div class="meta__group">
        <span class="meta__title">
          Contributors
        </span>
        {% for person in page.contributors %}
          <span class="meta__content meta--body-text">
            {{ person }}
          </span>
        {% endfor %}
      </div>
    </div>
    {% else %}
    ">
    <div class="meta meta--head">
      <div class="hr"></div>
      {% if page.meta %}
        <span class="meta__title">
          {{ page.meta }}
        </span>
      {% else %}
        <span class="meta__content meta--body-text">
          Lloyd Bennett
        </span>
        <span class="meta__content meta--body-text">
          Digital Designer
        </span>
      {% endif %}
    </div>
    {% endif %}

    <div class="hero__content">
      <h1 class="hero__title {% if page.type == 'casestudy' %}hero--title-no-margin{% endif %}">
        {% if page.herotitle %}
          {{ page.herotitle }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>

      {% if page.description %}
      <p class="hero__copy" data-hero-copy>
        {{ page.description }}
      </p>
      {% endif %}

      {% if page.buttoname %}
        {% include button.html
          target="#portfolio"
          externalLink = true
          heroCta = true
          buttonText = page.buttoname
        %}
      {% endif %}

    </div>
  </div>

  {% if page.type == 'casestudy' %}

    <picture class="thumbnail">
      <source media="(max-width: 700px)" srcset="../images/projects/{{page.directory}}/hero/hero-small.jpg">
      <source media="(max-width: 1270px)" srcset="../images/projects/{{page.directory}}/hero/hero-medium.jpg">
      <source media="(min-width: 1271px)" srcset="../images/projects/{{page.directory}}/hero/hero-large.jpg">
      <img src="../images/projects/{{page.directory}}/hero/hero-medium.jpg" alt="{{page.directory}}">
    </picture>

  {% else %}

    {% if page.title == 'Home' %}
      <div class="hero__two-images">
        <picture class="thumbnail">
          <source media="(min-width: 960px) and (max-width: 1199px)" srcset="https://via.placeholder.com/1344x712/">
          <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/964x972/">
          <img src="https://via.placeholder.com/1008x534" alt="Lloyd Bennett" />
        </picture>

        <picture class="thumbnail">
          <source media="(min-width: 960px) and (max-width: 1199px)" srcset="https://via.placeholder.com/1344x712/">
          <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/1615x1050/">
          <img src="https://via.placeholder.com/1008x534" alt="Lloyd Bennett" />
        </picture>
      </div>

    {% else %}

      <div class="hero__grid hero--collaspe-padding">
        <picture class="hero__image hero--image-two-thirds">
          <source media="(min-width: 1000px)" srcset="https://via.placeholder.com/1615x945/">
          <source media="(min-width: 700px)" srcset="https://via.placeholder.com/1077x630/">
          <img src="https://via.placeholder.com/700x600" alt="image" />
        </picture>
      </div>
    {% endif %}
  {% endif %}


</section>
