<div class="loader" data-loader>
  <div class="loader__strips">
    {% if page.type == "casestudy" %}
    <div class="loader__strip-line loader-strip-line--white" data-loader-strip></div>
    <div class="loader__strip-line loader-strip-line--white" data-loader-strip></div>
    <div class="loader__strip-line loader-strip-line--white" data-loader-strip></div>
    {% else %}
    <div class="loader__strip-line" data-loader-strip></div>
    <div class="loader__strip-line" data-loader-strip></div>
    <div class="loader__strip-line" data-loader-strip></div>
    {% endif %}
  </div>
  <div class="loader__content" data-loader-content>
    <svg width="100" height="100" class="loader__circle loader-circle--loaded" data-loader-spinner>
       <circle cx="50" cy="50" r="45" />
    </svg>
    <svg width="100" height="100" class="loader__circle loader-circle--progress">
       <circle cx="50" cy="50" r="45" />
    </svg>
  </div>
</div>

{% if page.type == "casestudy" %}
  {% capture stripColour %}"#FFFFFF"{% endcapture %}
{% else %}
  {% capture stripColour %}"#FFFFFF"{% endcapture %}
{% endif %}
