{% capture projects %}{{page.collection}}{% endcapture %}

{% if page.collection %}
    {% assign  document = site[projects] | sort: "date" | reversed %}
{% endif %}

{% for links in document %}
    {% if links.title == page.title %}


        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}

            {% assign nexturl = next.url %}

            {% assign nexttitle = next.title %}
        {% endunless %}
    {% endif %}

{% endfor %}

<div class="footer casestudy">
    <div class="container">
        <a id="next-project" class="ajaxLoad" href="{{ nexturl }}">
            <h3>Next Project</h3>
            <h2>{{ nexttitle }}</h2>
        </a>

    </div>
	
 
</div>