<div class="scroll-button">
  <div class="scroll-button-bg">
    <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
      <circle class="scroll-button__circle" cx="250" cy="250" r="230" />
      <circle class="scroll-button__circle scroll-button__highlight" cx="250" cy="250" r="230" />
    </svg>

  </div>
  <div class="scroll-button__wrapper">
    <svg class="scroll-arrow" width="40" height="43" viewBox="0 0 40 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="scroll-arrow-path" d="M19.9486 42.5578C17.3442 34.0242 9.42017 27.7626 0 27.7626" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
      <path class="scroll-arrow-path" d="M19.9488 42.5578C22.5532 33.9688 30.4772 27.7626 39.8974 27.7626" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
      <path class="scroll-arrow-path" d="M19.9488 0V42.6767" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>
