<section class="section">
  <div class="container grid">
    {% if include.meta-title %}
    <div class="meta meta--head meta--padding-two">
      <div class="hr"></div>
      <span class="meta__title">
        {{ include.meta-title }}
      </span>
    </div>
    {% endif %}
    <div class="single-column">
      {% if include.title %}
      <h3>
        {{ include.title }}
      </h3>
      {% endif %}

      {% for paragraph in include.paragraph %}
      <p>{{ paragraph.text }}</p>
      {% endfor %}
    </div>
  </div>
