<section class="{% if include.small-margin %}inner-section{% else %}section{% endif %}">
  <div class="container grid">

    {% if include.side-content %}
    <div class="side-content">
      <ul>
        <li>
          <p><b>Services</b></p>
        </li>
        {% for cat in page.category %}
        <li>
          <p>{{ cat }}</p>
        </li>
        {% endfor %}

      </ul>
      <ul>
        <li>
          <p><b>Industry</b></p>
        </li>
        {% for cat in page.industry %}
        <li>
          <p>{{ cat }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if include.stats %}
    <div class="side-content">
      {% for stat in include.stats %}
      <div class="stats__info">
        <span class="stats__info-percentage">
          {{ stat.figure }}
        </span>
        <span class="stats__info-description">
          {{ stat.description }}
        </span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="single-column">
      {% if include.meta-title %}
      <div class="meta meta--margin-bottom">
        <div class="hr"></div>
        <span class="meta__title">
          {{ include.meta-title }}
        </span>
      </div>
      {% endif %}

      {% if include.title %}
      <h4>
        {{ include.title }}
      </h4>
      {% endif %}

      {% for paragraph in include.paragraph %}
      <p>{{ paragraph.text }}</p>
      {% endfor %}

      {% if include.cta-text %}
        {% include button.html
          target = include.cta-link
          externalLink = true
          buttonText = include.cta-text
        %}
      {% endif %}

      {% if include.stats %}
      <div class="stats stats--grid stats--l-margin stats--mobile">
        {% for stat in include.stats %}
        <div class="stats__info">
          <span class="stats__info-percentage stats--info--large">
            {{ stat.figure }}
          </span>
          <span class="stats__info-description stats--info--large">
            {{ stat.description }}
          </span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</section>
