@mixin grid($device: null) {
  @if $device == null {
    @include media-query($breakpoint--small) {
      display: grid;
    }
  }
  @else {
    @include media-query($device) {
      display: grid;
    }
  }

  @include media-query($breakpoint--small) {
    grid-column-gap: spacing(3);
    grid-template-columns: repeat(6, 1fr);
  }

  // @include media-query($breakpoint--large) {
  //   grid-column-gap: spacing(3);
  //   grid-template-columns: repeat(6, 1fr);
  // }

  @include media-query($breakpoint--x-large) {
    grid-column-gap: spacing(4);
  }
}
