@mixin section {
  margin-bottom: spacing(6);

  @include media-query($breakpoint--small) {
    margin-bottom: spacing(10);
  }

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(13);
  }

  @include media-query($breakpoint--x-large) {
    margin-bottom: spacing(21);
  }
}
