#about {
	@media screen and (max-width: 767px) {
		margin-top: 30px;
	}

	@media screen and (min-width: 768px) and (max-width: 991px) {
		margin-top: 0;
	}

	.myinfo {
		padding-top: 20px;

		@media screen and (max-width: 550px) {
			margin-bottom: 40px;
		}

		@media screen and (min-width: $tablet-min-breakpoint) {
			padding-top: 80px;
		}

		@media screen and (min-width: 551px) and (max-width: 991px) {
			margin-bottom: 60px;
		}

		h2 {
			margin-bottom: 30px;
			text-align: left;
			@media screen and (min-width: 767px) {
				margin-bottom: 20px;
			}

		}
	}

	.avatar {
		text-align: center;

		@media screen and (min-width: 992px) {
			text-align: right;
		}

		img {
			width: 100%;
			max-width: 414px;
		}
	}

}
