#about {

	.myinfo {
		
		@media screen and (max-width: 550px) {
			margin-bottom: 40px;
		}

		@media screen and (min-width: 551px) and (max-width: 991px) {
			margin-bottom: 60px;
		}

		@media screen and (max-width: 991px) {
			text-align: center;	
			
		}

		@media screen and (min-width: 992px) {
			padding-top: 80px;
		}

		h2 {
			margin-bottom: 30px;
			@media screen and (min-width: 767px) {
				margin-bottom: 20px;
			}
			
		}
		
		p {
			
			@media screen and (max-width: 991px) {
				margin-left: auto;
				margin-right: auto;
				text-align: left;
			}

		}
	}

	.avatar {
		text-align: center;
		

		@media screen and (min-width: 992px) {
			text-align: right;	
		}

		img {
			width: 100%;
			max-width: 414px;


		}
	}

	
}




