@keyframes grow-wipe {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fade-left {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.grow-wipe {
	animation-name: grow-wipe;
	animation-fill-mode: forwards;
  animation-timing-function: $anim--wipe-bezier;
}

.fade-left {
  animation-name: fade-left;
	animation-fill-mode: forwards;
  animation-timing-function: $anim--wipe-bezier;
}


@keyframes draw {
	100% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes draw {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes grow {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@-webkit-keyframes grow {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@keyframes moveUpFade {

	0% {
		transform: translateY(50px);
		opacity: 0
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes moveUpFade {

	0% {
		transform: translateY(50px);
		opacity: 0
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.moveUpFade {
	animation-name: moveUpFade;
	animation-fill-mode: forwards;
	-webkit-animation-name: moveUpFade;
	-webkit-animation-fill-mode: forwards;
	opacity: 0;
	transform: translateY(50px);
	-webkit-transform: translateY(50px);
}

.grow {
	animation-name: grow;
	animation-fill-mode: forwards;

	-webkit-animation-name: grow;
	-webkit-animation-fill-mode: forwards;
}

.draw {
	animation-name: draw;
	animation-fill-mode: forwards;

	-webkit-animation-name: draw;
	-webkit-animation-fill-mode: forwards;
}

.js .wow {
  visibility: hidden;
}
