@keyframes hrGrow {

	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 40px;
	}
}

.hr-animate {
	animation-name: hrGrow;
	animation-fill-mode: forwards;
}


@keyframes draw {
	100% { 
		stroke-dashoffset: 0; 
	}
}

@-webkit-keyframes draw {
	100% { 
		stroke-dashoffset: 0; 
	}
}

@keyframes grow {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@-webkit-keyframes grow {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@keyframes moveUpFade {

	0% {
		transform: translateY(50px);
		opacity: 0
	}
	
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes moveUpFade {

	0% {
		transform: translateY(50px);
		opacity: 0
	}
	
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes fadeInLight {

	from {
		opacity: 0;
	}
	to {
		opacity: .4;
	}
}

@keyframes fadeInLight {

	from {
		opacity: 0;
	}
	to {
		opacity: .4;
	}
}

.fadeInLight {
	animation-name: fadeInLight;
	animation-fill-mode: forwards;
	animation-timing-function: ease;

	-webkit-animation-name: fadeInLight;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease;
}

.moveUpFade {
	animation-name: moveUpFade;
	animation-fill-mode: forwards;
	-webkit-animation-name: moveUpFade;
	-webkit-animation-fill-mode: forwards;
	opacity: 0;
	transform: translateY(50px);
	-webkit-transform: translateY(50px);

}

.grow {
	animation-name: grow;
	animation-fill-mode: forwards;

	-webkit-animation-name: grow;
	-webkit-animation-fill-mode: forwards;
}

.draw {
	animation-name: draw;
	animation-fill-mode: forwards;

	-webkit-animation-name: draw;
	-webkit-animation-fill-mode: forwards;
}