.link {
	font-weight: 400;
	position: relative;
	display: inline-block;

	&:after {
		content: "";
		display: block;
		height: 8px;
		width: 100%;
		position: absolute;
		bottom: 3px;
		background-color: $brand-color-off-blue;
		z-index: -1;

		@media screen and (min-width: 700px) {
			bottom: 5px;
		}
	}

}

.viewpost-cta {
	width: 160px;
	margin-top: -50px;
 	//margin-bottom: 6rem;
}
