.button {
  position: relative;
  display: inline-block;
  padding: $spacing--s $spacing--m;
  background-color: black;
  color: $colour--accent-white;
  font-weight: 500;


  &::after {
    content: "";
    background-color: $colour--brand-passion;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 300ms ease;
    width: 0;
  }

  &:hover {
    &::after {
      width: 100%;
      transition: width 300ms ease;
    }
  }

  span {
    position: relative;
    z-index: 2;
  }
}


.link {
	//@include link-underline($brand-color-off-blue);
	font-weight: inherit;
	display: inline-block;
	line-height: 0.9;

	&.link-light {
		//@include link-underline($brand-color-off-blue-lighterr);
	}
}

.viewpost-cta {
	width: 160px;
	margin-top: -50px;
}
