.button {
  position: relative;
  display: inline-block;
  padding: $spacing--s $spacing--m;
  background-color: black;
  color: $colour--accent-white;
  font-weight: 500;
  overflow: hidden;

  &::after {
    content: "";
    background-color: $colour--brand-passion;
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    transition: height 300ms ease 100ms;
    width: 100%;
  }

  &:hover {
    &::after {
      height: 100%;
      transition: height 300ms ease 100ms;
    }

    .hover-message {
      top: 24%;
      transition: top 300ms ease;
    }

    .default-message {
      transform: translateY(-150%);
      transition: transform 300ms ease;
    }
  }

  &:visited {
    color: $colour--accent-white;
  }

  span {
    position: relative;
    display: block;
  }

  .default-message {
    transform: translateY(0);
    transition: transform 300ms ease;
  }

  .hover-message {
    position: absolute;
    top: 100%;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: top 300ms ease;
    z-index: 2;
  }
}


.link {
	@include link-underline(lighten($colour--brand-passion, 20%));
	//font-weight: inherit;
	display: inline-block;
	//line-height: 0.9;

	&.link-light {
		//@include link-underline($brand-color-off-blue-lighterr);
	}
}
