.project-modal {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: white;
	visibility: hidden;
	transform: scale(0.8);
	transition: 300ms ease;

	&.visible {
		visibility: visible;
		transform: scale(1);
		transition: 300ms ease;
	}
}

.sub-section {
	margin: 50px auto;

	@media screen and (min-width: 768px) {
		margin: 100px auto;
	}
	
}

.hide-xs {
	@media screen and (max-width: 767px) {
		display: none !important;
	}
}

.hide-sm {
	@media screen and (min-width: 768px) {
		display: none !important;
	}
}

.work-grid {

	@media screen and (max-width: 767px) {
		text-align: center;
	}

	.grid {
		vertical-align: top;
		margin-bottom: 20px;
		transition: 200ms ease;
		@media screen and (min-width: 768px) {
			float: left;
			margin-bottom: 30px;
		}

		&:nth-child(2n + 1){
			@media screen and (min-width: 768px) {
				padding-right: 15px;
			}
		}
		&:nth-child(2n + 2){
			@media screen and (min-width: 768px) {
				padding-left: 15px;
			}
		}
		
		.no-touch & {
			&:hover {
				transform: scale(1.03);
			    position: relative;
			    
			    z-index: 2;
			    transition: 300ms ease;

			    #project-thumb {
			    	box-shadow: 0 20px 50px 0 rgba(0,0,0,0.4);
			    	transition: 300ms ease;
			    }
			}

		}
		
	}
	
	.two-thirds, .one-third, .half {
		@media screen and (max-width: 767px) {
			display: inline-block;
			text-align: center;
		}
	}

	.two-thirds {
		@media screen and (min-width: 768px) {
			width: 60%;
		}
	}

	.one-third {
		@media screen and (min-width: 768px) {
			width: 40%;
		}
	}

	.half {
		@media screen and (min-width: 768px) {
			width: 50%;
		}
	}


}

.label {
	font-size: 0.75em;
	line-height: 1.5;
	font-style: italic;
	position: relative;
	margin-top: 30px;


	&:before {
		content: "";
		height: 0;
		width: 0;
		border-style: solid;
		border-width: 15px 0 15px 30px;
		border-color: transparent transparent transparent $brand--color;
		position: absolute;
    	left: -40px;
    	top: 50%;
    	transform: translateY(-50%);
	}

	&:after {
		content: counter(number-counter, decimal-leading-zero);
		position: absolute;
		font-weight: 400;
		font-family: $display-font-family;
		display: inline-block;
		left: -38px;
    	top: 50%;
    	font-style: normal;
    	transform: translateY(-50%);
    	color: white;
	}


}
h2, h3 {

	@media screen and (max-width: 767px) {
		text-align: center;
	}
	
	
	&.break {
		span {
			display: block;
		}
	}
	&.break-xs {
		span {
			@media screen and (max-width: 767px) {
				display: block;
			}
		}
	}


}


.fullwidth {
	width: 100vw;
}


.page-overlay {
	overflow: hidden;
}

#cta-target {
	h2 {
		margin-bottom: 40px;

		@media screen and (min-width: 600px) {
			margin-bottom: 60px;
		}
	}
}

.thumbnail {
	img {
		width: 100%;
	}
}
#close-casestudy {
	border: none;
	opacity: 1;
	
	.icon {
		width: 30px !important;
		span {
			background-color: $brand--color;
		}
	}
}
.content {

	section {
		@media screen and (max-width: 767px) {
			margin-bottom: 50px;
		}

		@media screen and (min-width: 768px) and (max-width: 850px) {
			margin-bottom: 100px;
		}
	}
	p {
		margin-left: auto;
		margin-right: auto;
	}

	.cta {
		svg {
			margin-left: 0;
		}
		#point {
			fill: #000;
			
		}
		#line {
			stroke: #000;
		}

		a {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.stage-number {
	font-size: 200px;
    position: absolute;
    z-index: -1;
    color: #DEDEDE;
    opacity: .4;
    font-family: $display-font-family;
}

.laydown {
	width: 100%;
	overflow: hidden;
	margin-top: 80px; 
	margin-bottom: 100px;
	min-height: 300px;

	@media screen and (min-width: 500px) {
		min-height: 500px;
	}

	@media screen and (max-width: 767px) {
		margin-top: 40px;
		margin-bottom: 60px;
	}

	@media screen and (min-width: 800px) {
		min-height: 800px;
	}


	@media screen and (max-width: 999px) {
		width: 100vw;
		
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
    	transform: translateX(-50%);
    	left: 50%;
		@media screen and (max-width: 499px) {
			width: 500px;
		}
		@media screen and (min-width: 500px) and (max-width: 799px) {
			width: 800px;
		}
		@media screen and (min-width: 800px) {
			width: 100%;
		}
	}
	
}
.project-top-nav {
	text-align: center;
	@media screen and (min-width: 768px) {
		text-align: right;
		position: fixed;
		width: 100%;
		z-index: 2;
	}
}
.project-heading {
	text-align: center;
	margin-top: 70px;
	color: #2e2e2e;
	@media screen and (min-width: 768px) {
		margin-top: 150px;
	}

	.project-title {
		margin-top: 8px;
		line-height: 1;
		font-size: 40px;
		margin-bottom: 20px;

		@media screen and (min-width: 960px) {
			font-size: 60px;
			margin-top: 0;
		}
		@media screen and (min-width: 960px) {
			font-size: 80px;
		}
	}
	.project-category {
		margin-bottom: 0;
		font-size: 12px;
		font-weight: 400;
	}

	.cta {
		@media screen and (min-width: 768px) {
			margin-top: 30px;
		}

		.link {
			font-size: 18px;
			@media screen and (min-width: 992px) {
				font-size: 22px;
			}
				

			&:after {
				bottom: -2px;
				@media screen and (min-width: 992px) {
					bottom: -4px;
					height: 13px;
				}
				
			}
		}
	}
}
.inprogress {
	.no-touch & {
		&:hover {
			.status-label {
				transition: 500ms ease 70ms;
				opacity: 1;
				bottom: 16px;
				@media screen and (min-width: 500px) and (max-width: 900px) {
					bottom: 36px;
				}
				@media screen and (min-width: 901px) {
					bottom: 58px;
				}
			}
			&:after {
				transition: 550ms ease;
				transform: translateX(-90px) rotate(1turn);	
			}
		}

		&:after {
			transition: 550ms ease 80ms;
		}
	}
	.touch & {
		&:after {
			transform: translateX(-90px) rotate(1turn);
		}
	}	
}
.status-label {
	position: absolute;
	transition: 500ms ease;
	right: 20px;
	opacity: 0;
	bottom: -10px;

	@media screen and (min-width: 500px) and (max-width: 900px) {
		right: 30px;
	}

	@media screen and (min-width: 901px) {
		right: 45px;
	}

	.touch & {
		opacity: 1;
		bottom: 16px;

		@media screen and (min-width: 500px) and (max-width: 900px) {
			bottom: 36px;
		}

		@media screen and (min-width: 901px) {
			bottom: 58px;
		}

	}

}
#project-thumb {
	display: block;
	position: relative;
	transition: 300ms ease;

	.overlay {
		color: white;
		padding: 20px;
		text-align: right;
        background: linear-gradient(90deg, transparent 0%, rgba(0,0,0,0.45) 69%);
		
			
		@media screen and (min-width: 500px) and (max-width: 900px) {
			padding: 30px;
		}
		@media screen and (min-width: 901px) {
			padding: 45px;
		}

		
		.overlay-title { 
			font-size: 2em;
			margin-top: 5px;
			line-height: 1.2;

			@media screen and (max-width: 550px) {
				font-size: 1.25em;
				margin-top: 0px;
			}
			@media screen and (min-width: 551px) and (max-width: 900px) {
				font-size: 1.5em;
			}

			span {
				display: block!important;
			}

		}

		.overlay-category {
			font-size: 1em;
			font-weight: 400;
			font-family: $display-font-family;

			@media screen and (max-width: 550px) {
				font-size: 0.875em;
			}
		}

		&:after {
			content: "+";
			position: absolute;
			bottom: 10px;
			right: 20px;
			font-family: $display-font-family;
			font-size: 1.875em;

			@media screen and (min-width: 500px) and (max-width: 900px) {
				bottom: 30px;
				right: 30px
			}
			@media screen and (min-width: 901px) {
				bottom: 45px;
				right: 45px;
				font-size: 2.8125em;
			}
		}
	}

	img {
		width:100%;
		display: block;
	}

}

#prototyping {

	.stage-number {
		left: 300px;
    	top: -20px;
	}
}