.footer__lower__icons{
  margin: -40px auto 1rem;
  text-align: center;
  position: relative;
  z-index: 300;

  @include media-query(43.75em){
    margin: -0.4rem 0 0;
    float: right;
  }
}

.social-icon  {
  margin-left: 10px;
  width: 25px;

}

.mail-icon {
    margin-right: 5px;
    margin-top: -3px;
    vertical-align: middle;
    width: 25px;
}
