.contact-form{
  margin:2rem auto 0;
  width: 100%;
  max-width:640px;
}
.input__group{
  position:relative;
  margin-bottom: 2rem;
  input{
    padding: 20px 0;
    font-size: 1em;

  }
  input, textarea{
    width:100%;

    &:focus + .form__label,
    &.has-input + .form__label
    {
      top: -12px;
      font-size: 0.75rem;
      transition: 300ms ease;
      -webkit-transition: 300ms ease;
    }

  }

  textarea {
    &:focus + .form__label,
    &.has-input + .form__label
    {
      top: -30px;
    }
  }

}

.input--flat{
  border: none;
  border-bottom: 2px solid;
  padding: 15px 40px;


  @include modifier('white'){
    border-bottom: 2px solid white;
  }
  @include modifier('blue'){
    border-bottom: 2px solid $brand--color;
  }
}

.textarea{
  border: 2px solid;
  padding: 15px 8px;
  font-size: 1em;
  min-height:200px;
  max-width: 640px;
  @include modifier('white'){
    border: 2px solid white;
  }
  @include modifier('blue'){
    border: 2px solid $brand--color;
  }

}

.form__label{
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  pointer-events: none;
  opacity:.8;
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
  @include element('for-textarea'){
    top:15px;
    left: 8px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

.search-icon{

  &:after {
    content: "c";
    font-size:1.5em;
    position: absolute;
    top:60%;
    right: -10px;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    cursor: pointer;
    transition: 200ms ease;
    -webkit-transition: 200ms ease;
  }

}
.is--searching{
  color: $brand--color;
  transition: 100ms ease;
  -webkit-transition: 100ms ease;
}
