/*
 GRID
 ==========================================================================*/
 .container {
   margin-right: auto;
   margin-left: auto;
   width: 90%;
   max-width: 1800px;
 }


//Utility class
.clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}
