.hamburger {
	animation-fill-mode: forwards;
	cursor: pointer;
	display: inline-block;
	opacity: 0;
	position: relative;
	width: 38px;
	z-index: 1100;
  height: 38px;

	@include media-query(pxtoem(550)) {
		height: 50px;
		width: 50px;
	}

	&.is-open {

		// .icon {
		// 	span {
		// 		transition: 300ms ease;
    //
		// 		&:first-child {
		// 			transform: rotate(45deg);
		// 			top: 7px;
    //
		// 		}
		// 		&:nth-child(2) {
		// 			opacity: 0;
		// 		}
    //
		// 		&:last-child {
		// 			transform: rotate(-45deg);
		// 			top: -7px;
		// 		}
		// 	}
		// }
	}


	.icon {
		display: inline-block;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		width: 25px;

		@media screen and (min-width: 700px) {
			width: 32px;
		}


		span {
			background-color: black;
			display: block;
			height: 3px;
			margin-bottom: $spacing--xs;
			position: relative;
			transition: 300ms ease;

			&:first-child, &:last-child {
				transform: rotate(0);
				top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
