.hamburger {
	cursor: pointer;
	display: inline-block;
	position: relative;
	z-index: 1100;
  width: 25px;

  @media screen and (min-width: 700px) {
    width: 32px;
  }

	&.is-open {

		.icon-line {

			&:first-child {
				transform: rotate(45deg);
				top: 11px;
        transition: top 400ms ease 200ms, transform 300ms ease 450ms;
			}

			&:nth-child(2) {
				opacity: 0;
        transition: opacity 400ms ease;
			}

			&:last-child {
				transform: rotate(-45deg);
				top: -11px;
        transition: top 400ms ease 200ms, transform 300ms ease 450ms;
			}

		}

	}

	.icon {
		display: inline-block;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

  .icon-line {
    background-color: black;
    display: block;
    height: 3px;
    margin-bottom: 8px;
    position: relative;

    &:first-child, &:last-child {
      transform: rotate(0);
      top: 0;
      transition: top 400ms ease 450ms, transform 300ms ease 200ms;
    }

    &:nth-child(2) {
      opacity: 1;
      transition: opacity 400ms ease 600ms;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
