.hero {
  @include section-spacing;
  background-color: $colour--accent-grey;
  //overflow: hidden;
  position: relative;
}

.hero-home {
  .overlay {
    background-color: rgba(62,62,62, 0.25);

    @include media-query($bp--x-large) {
      display: none;
    }
  }

  .intro-title,
  .intro-description,
  .section-title {
    @media screen and (max-width: 1199px) {
      color: $colour--accent-white;
    }
  }
}

.hero-content {
  .container {
    position: relative;
    height: 90vh;
    min-height: 500px;

    @include media-query($bp--medium) {
      min-height: 800px;
    }
  }
}

.hero-content-intro {
  @include offset-paragraph;

  height: 100%;
  padding-bottom: $spacing--m;
  max-width: 700px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @include media-query($bp--small) {
    width: 70%;
  }

  @include media-query($bp--medium) {
    padding-bottom: $spacing--l;
  }

  .button {
    @include media-query($bp--small) {
      margin-top: $spacing--s;
    }
  }
}

.intro-description {
  max-width: 600px;
}

.hero-avatar {
  bottom: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  min-height: 500px;
  height: 70vh;
  z-index: 1;

  @include media-query($bp--medium) {
    min-height: 800px;
  }

  img {
    display: block;
    height: 100%;
  }

  .large {
    display: none;

    @include media-query($bp--medium) {
      display: block;
    }
  }

  .small {
    @include media-query($bp--medium) {
      display: none;
    }
  }
}

.hero-socials {
  display: none;
  align-items: center;
  position: absolute;
  left: -113px;
  top: 54%;
  color: $colour--brand-passion;
  z-index: 2;
  transform: rotateZ(90deg);

  @include media-query($bp--x-large) {
    display: flex;
  }

  @include media-query($bp--xx-large) {
    top: 48%;
  }

  .line {
    width: 50px;
    height: 2px;
    background-color: $colour--brand-passion;
    display: inline-block;
    vertical-align: middle;
  }
}


.hero-socials-title {
  margin-right: $spacing--s;
}

.hero-socials-title-label {
  font-size: 18px;
}


.hero-social-links {
  display: flex;
  align-items: center;

  a {
    width: 25px;
    margin-right: $spacing--s;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 100%;
    display: block;
  }

  .path {
    fill: $colour--brand-passion;
  }
}
