.logo {
  animation-fill-mode: forwards;
  display: inline-block;
  opacity: 0;
  width: 42px;
  z-index: 100;

  @include media-query(pxtoem(550)){
    width: 55px;
  }

  img {
    display: block;
    width: 100%;
  }
}
