.nav-bar {
	padding-top: 20px;

	@media screen and (min-width: 43.75rem) {
		padding-top: 45px; 
	}
 }

.logo {
	opacity: 0;
	animation-fill-mode: forwards;
}
.hamburger {
	width: 38px;
    height: 38px;
	border-radius: 50%;
	position: relative;
	border: 2px solid #fff;
	display: inline-block;
	cursor: pointer;
	z-index: 1100;
	opacity: 0;
	animation-fill-mode: forwards;

	@media screen and (min-width: 700px) {
		width: 50px;
		height: 50px;
	}
	
	&.is-open {
		.icon {
			span {
				transition: 300ms ease;

				&:first-child {
					transform: rotate(45deg);
					top: 7px;

				}
				&:nth-child(2) {
					opacity: 0;
				}

				&:last-child {
					transform: rotate(-45deg);
					top: -7px;
				}
		
			}

		}

	}  


	.icon {
		display: inline-block;
		text-align: center;
		width: 18px;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: 700px) {
			width: 20px;
		}
		

		span {
			display: block;
			background-color: white;
			height: 2px;
			margin-bottom: 5px;
			transition: 300ms ease;
			position: relative;
			
			&:first-child, &:last-child {
				transform: rotate(0);
				top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

	}
}
  
.nav-menu {
	position: fixed;
	background-color: $brand--color;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transition: .3s ease;
	
	.container {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&.is-open {
		opacity: 1;
		visibility: visible;
		transition: .3s ease;
	}

	.list {
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
		color:white;
		@extend %clearfix;		
		padding-left: 0;
		position: absolute;
	    width: 100%;
	    left: 0;
	    top: 40%;
	    transform: translateY(-40%);

		
		.list-link {
			position: relative;
			padding: 20px;
			text-align: center;
			font-size: 2em; //32
			font-family: $display-font-family;
			opacity: 0;
			transform: translateY(30px);
			transition: 200ms ease;
		
			@media screen and (min-width: 768px) {
				font-size: 4em; // 64
			}
			&:after {
				@media screen and (min-width: 768px) {
					content: "";
					display: block;
					height: 15px;
					left: 0;
					right: 0;
					top: 60%;
					margin-left: auto;
					margin-right: auto;
					width: 30%;
					position: absolute;
					//bottom: 31px;
					background-color: rgb(105, 174, 232);
					/* z-index: -1; */
					transform: scaleX(0) translateY(-50%);
					transition: 300ms cubic-bezier(.645,.045,.355,1);
					transform-origin: left top;
				}
			}
			&:hover {
				&:after {
					@media screen and (min-width: 768px) {
						transform: scaleX(1) translateY(-50%);
						transition: 300ms cubic-bezier(.645,.045,.355,1);
					}
				}
			}

			&.appear {
				opacity: 1;
				transform: translateY(0);
				transition: 200ms ease;	
			}
		}
	}	
}

.height-to-bottom{
  height: 100%;
}

#contactme {
  white-space: nowrap;
}
