.nav-bar {
  width: 100%;
  height: 80px;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

	&.is-open {
    .nav-bar-wrapper {
      position: fixed;
      height: 80px;
    }
	}
}

.nav-bar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
}
