.nav {
  height:4.375rem;
  overflow:hidden;

  @include modifier('scrolling'){
    position:fixed;
    background-color: white;
    width:100%;
    z-index:1000;
    transition: background-color 200ms ease;
    -webkit-transition: background-color 200ms ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);

    .nav__list__link {
      color: $body-font--color;
      z-index: 300;
    }
    .nav__list__link--active a {
      @include media-query(60em){
        border-bottom: 5px solid $brand--color;
      }
    }


  }
  @include element('menu-icon'){
    display: inline-block;
    float: right;
    width: 25px;
    @include vertical-align(50%, -50%);
    z-index: 100;
    cursor: pointer;
    @include media-query(60em){
      display:none;
    }

    span {
      transition: all 500ms ease;
      display: block;
      background-color: white;
      width: 100%;
      height: 3px;
      margin-bottom: 5px;

      &:first-child {
        transition: 300ms ease;
      }
      &:last-child {
        margin-bottom: 0;
        transition: 400ms ease;
      }
      &:nth-child(2) {
        transition: 300ms ease;
      }
    }

    &.is-open {

      span {

        &:nth-child(2) {

          opacity: 0;
          transition: 300ms linear;
        }

        &:first-child{

          transform: rotate(45deg);
          bottom: -5px;
          position: relative;
          top:8px;
          transition: 300ms ease;
        }

        &:last-child {
          transform: rotate(-45deg);
          top: -8px;
          position: relative;
          transition: 300ms ease;
        }
      }
    }
  }

  @include element('list'){
    list-style:none;
    color:white;
    @extend %clearfix;

    @media screen and (max-width: 59.9375em){
      background-color: $dark-grey--color;
      height: 200px;
      position: fixed;
      transform: translateY(-100%);
      left: 0;
      width: 100%;
      z-index: 1000;
      transition: all .3s;

      &.is-open {
        transform: translateY(0);
        //transition: all .3s;
      }
    }
    @include media-query(60em){
      display:block !important;
      height: auto;
      float:right;

    }

    .no-js & {
      @include media-query(60em){
        display:block;
        background-color: transparent;
        height: auto;
        position: absolute;
        top: 20px;
        left: 50%;
        z-index:100;
      }
    }



    @include element('link'){
      @include vertical-align(40%, -40%);
      float:left;
      width: 33.3%;
      height:33.3%;
      text-align: center;

      @include media-query(60em){
        position: relative;
        z-index: 100;
        text-align: left;
        padding: 23px 15px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: auto;
        height: auto;
      }

      @include modifier('active'){
        font-weight: 600;
        -webkit-transition: opacity 500ms ease-in-out;
        transition: opacity 500ms ease-in-out;
        a {
          @include media-query(60em){
            padding-bottom: 1.0625rem;
            border-bottom: 5px solid white;
          }
        }

      }

    }
  }
}
.pagination{
  width:100%;
  padding-top:1.6rem;
  @extend %clearfix;

  @include element('links'){
    text-align: center;
    margin-bottom:1.6rem;
    @include media-query(550px){
      float: left;
      text-align: left;
      margin-bottom:0;
    }
  }
  @include element('link'){
    font-size:1.1em;
    margin-left:0.8em;
    @include modifier('active'){
      font-weight: 600;


    }
  }
  @include element('next-prev'){
    display:inline-block;
    margin:auto;

    @include media-query(550px){
      float: right;
    }
  }
}

.height-to-bottom{
  height: 100%;
}
