.paragraph-max-width {
  max-width: 600px;
}

.paragraph-left {
  @include offset-paragraph;
}

.paragraph-two-col {
  @include media-query($bp--medium) {
    display: flex;
    justify-content: space-between;
  }
}

.paragraph-two-col-copy {
  @include media-query($bp--medium) {
    margin-left: $spacing--m;
  }

  @include media-query($bp--xx-large) {
    margin-left: 0;
  }
}

.paragraph-center {
  max-width: 700px;

  @include media-query($bp--small) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
