.projects {
  //@include section-spacing;
}

.projects-section-title {
  @include offset-paragraph;
}

.projects-grid {
  @include media-query($bp--small) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $spacing--m;
    grid-row-gap: $spacing--m;
  }
}
