.project-thumbnail {
  position: relative;
  display: inline-block;

  .medium {
    display: block;
    @include media-query($bp--medium) {
      display: none;
    }
  }

  .large {
    display: none;
    @include media-query($bp--large) {
      display: block;
    }
  }
}

.project-overlay {
  @extend .overlay;
  background: none;
}
