.projects {
  @include section-spacing;
  position: relative;
  overflow: hidden;
  padding: $spacing--m 0 $spacing--l;

  @include media-query(pxtoem(450)) {
    padding: $spacing--m 0 $spacing--xl;
  }

  @include media-query($bp--medium) {
    padding: $spacing--m 0;
  }

  @include media-query($bp--large) {
    padding: $spacing--l 0;
  }
}

.projects-section-title {
  @include offset-paragraph;
}

.projects-grid {
  @include media-query($bp--medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $spacing--base;
    grid-row-gap: $spacing--base;
  }

  @include media-query($bp--large) {
    grid-column-gap: $spacing--m;
    grid-row-gap: $spacing--m;
  }
}

.clipped-title {
  position: absolute;
  font-size: 40vw;
  font-weight: 800;
  opacity: 0.04;
  z-index: -1;

  @include media-query($bp--medium) {
    font-size: 24vw;
  }
}

.clipped-title-part-one {
  top: -5%; // 8% /-8%
  right: -15%;

  @include media-query($bp--medium) {
    top: 0;
    right: -8%;
  }
}

.clipped-title-part-two {
  bottom: -6%; // -3%/-16%
  left: -6%;
}
