.project-thumbnail {
  box-shadow: 0 2px 30px 2px rgba(0,0,0,0.15);
  display: table;
  overflow: hidden;
  position: relative;
  z-index: 2;

  img {
    width: 100%;
  }

  .medium {
    display: inherit;
    @include media-query($bp--large) {
      display: none;
    }
  }

  .large {
    display: none;
    @include media-query($bp--large) {
      display: block;
    }
  }

  &:nth-child(2) {
    @include media-query($bp--small) {
      margin-top: $spacing--l;
    }

    @include media-query($bp--x-large) {
      margin-top: $spacing--xl + $spacing--m;
    }
  }
}

.project-overlay {
  @include overlay(transparent);
  padding: $spacing--s + $spacing--xs;
  color: $colour--accent-white;

  @include media-query($bp--x-large) {
    padding: $spacing--m;
  }
}

.project-thumbnail-category,
.project-thumbnail-title {
  position: absolute;
  color: $colour--accent-white;
}

.project-thumbnail-title {
  bottom: 5%;
  margin-bottom: 0;

  span {
    @extend .no-wrap-and-break;
  }
}

.project-thumbnail-category {
  font-weight: 300;
}

.project-thumbnail-subject {
  background-color: transparent;
  position: absolute;

  img {
    display: block;
    width: 100%;
  }
}

.vocals-thumbnail {
  .project-thumbnail-subject {
    bottom: 0;
    height: 75%;
    left: -20%;

    img {
      height: 100%;
      width: auto;
    }
  }
}
