.projects {
  margin-top: pxtoem(50, 16);

  @media screen and (min-width: pxtoem(768)) {
    margin-top: pxtoem(150, 16);
  }
}

.project-thumb {
  color: white;

  a {
    position: relative;
    display: inline-block;

    &:after {
      bottom: -1px;
    }
  }

  @media screen and (min-width: pxtoem(768)) {
    margin-bottom: pxtoem(120);
  }
}

.backdrop {
  padding: 70px 0;

  @media screen and (min-width: pxtoem(768)) and (max-width: pxtoem(991)) {
    height: 300px;
  }

  @media screen and (min-width: pxtoem(992)) {
    height: 360px;
  }

}

#toad {
  .backdrop {
    background-color: black;
  }
}

#vocals {
  .backdrop {
    background-color: #6187BE;

    .project-featured-image {
      bottom: -63px;

      @media screen and (min-width: pxtoem(768)) {
        max-width: 700px;
      }

      img {
        @media screen and (max-width: pxtoem(767)) {
          max-width: 700px;
        }
      }
    }
  }
}

.project-thumb-info {
  position: relative;
  z-index: 2;
}

.project-featured-image {
    @extend .thumbnail;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: pxtoem(767)) {
        margin: 0 0 pxtoem(30);
    }

    @media screen and (min-width: pxtoem(768)) {
        max-width: 800px;
        width: 80%;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
    }
}

.project-thumb-title {
  font-size: pxtoem(36);
  line-height: 1.2;
  margin: 0 auto pxtoem(50, 36);
  @media screen and (max-width: 550px) {
    font-size: 1.25em;
  }

  @media screen and (min-width: 551px) and (max-width: 991px) {
    font-size: 1.5em;
  }

  span {
    display: block!important;
  }
}

.project-thumb-category {
  font-size: 1em;
  font-weight: 400;
  font-family: $display-font-family;
  margin-bottom: pxtoem(20);
  display: block;
  @media screen and (max-width: 550px) {
    font-size: 0.875em;
  }
}
