.project-modal {
	position: fixed;
	top: 0;
    left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: white;
	visibility: hidden;
	transform: scale(0.8);
	transition: 300ms ease;

	&.visible {
		visibility: visible;
		transform: scale(1);
		transition: 300ms ease;
	}
}

.project-hero {
  min-height: 600px;

  img {
    display: inline-block;
  }
}

.project-heading {
  margin: 70px 0 30px;

  .cta {
    @media screen and (min-width: 768px) {
      margin-top: 30px;
    }

    .link {
      font-size: 18px;
    }
  }
}

.project-title {
  margin-top: 0;
  line-height: 1;
  margin-bottom: 30px;
  color: $display-font--color;

  @media screen and (max-width: pxtoem(767)) {
    font-size: pxtoem(40);
  }
}

.bleeding-edge {
	@media screen and (min-width: pxtoem(768)) {
		display: flex;
		align-items: center;
		max-width: 1200px;
		width: 95%;
		margin-left: auto;
	}
}


.bleeding-edge-copy {
	@extend .container;
	@media screen and (min-width: pxtoem(768)) {
		padding-right: 0;
		width: auto;
		max-width: none;
	}
}


.sub-section {
	margin: 50px auto;

	@media screen and (min-width: 768px) {
		margin: 100px auto;
	}
}

.hide-xs {
	@media screen and (max-width: 767px) {
		display: none !important;
	}
}

.hide-sm {
	@media screen and (min-width: 768px) {
		display: none !important;
	}
}


.page-overlay {
	overflow: hidden;
}


.thumbnail {
	img {
		width: 100%;
	}
}

#close-casestudy {
	border: none;
	opacity: 1;
	
	.icon {
		width: 30px !important;
		span {
			background-color: $brand--color;
		}
	}
}

.content {
	section {
		@media screen and (max-width: 767px) {
			margin-bottom: 50px;
		}

		@media screen and (min-width: 768px) and (max-width: 850px) {
			margin-bottom: 100px;
		}
	}
}

.stage-number {
	font-size: 200px;
    position: absolute;
    z-index: -1;
    color: rgba(222,222,222, .75);
    font-family: $display-font-family;
}

.project-top-nav {
	text-align: right;
	@media screen and (min-width: 768px) {
		position: fixed;
		width: 100%;
		z-index: 2;
	}
}

.project-details {
    @extend .list;
	padding-left: 0;
    list-style: none;

    @media screen and (max-width: 767px) {
      display: none;
    }
}