.section {
  @include section-spacing;
}

.section-bg {
  padding: $spacing--m 0;
  margin-bottom: 0;

  @include media-query($bp--large) {
    padding: $spacing--l 0;
  }
}

.section-bg-grey {
  background-color: $colour--accent-grey;
}
