.skills {
  @include offset-paragraph;
  @include section-spacing;

  @include media-query($bp--medium) {
    margin-bottom: $spacing--m;
  }
}

.skill {
  @extend h3;
  display: block;
  margin-bottom: $spacing--xs;

  @media screen and (max-width: 549px) {
    font-size: pxtoem(28);
  }

  @include media-query($bp--small) {
    margin-bottom: $spacing--s;
  }

  @include media-query($bp--medium) {
    display: inline-block;
    flex-shrink: 0;
    margin-right: $spacing--s;
  }

  &:last-child {
    margin-right: 0;
  }
}

.skills-list {
  display: flex;
  flex-direction: column;
  margin: 0 $spacing--m $spacing--base 0;
  max-width: 1200px;

  @include media-query($bp--medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include media-query($bp--large) {
    margin: 0 $spacing--m 0 0;
  }
}
