.image-stack {
  margin: $spacing--m 0 $spacing--m + $spacing--base;
  position: relative;

  @include media-query($bp--small) {
    margin: $spacing--m 0 $spacing--xl + $spacing--m;
  }

  @include media-query($bp--medium) {
    margin: $spacing--l + $spacing--m 0 $spacing--xl + $spacing--l + $spacing--m;
  }

  @include media-query($bp--large) {
    margin: $spacing--l + $spacing--m 0 $spacing--xxl + $spacing--base;
  }

  @include media-query($bp--x-large) {
    margin: $spacing--xl 0 $spacing--xxl + $spacing--l;
  }

  @include media-query($bp--xx-large) {
    margin: $spacing--xl 0 $spacing--xxl + $spacing--xl + $spacing--base;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    
    @include media-query($bp--small) {
      flex-direction: row;
    }
  }

  .image-meta-info {
    right: -5%;
    top: 0;

    @media screen and (min-width: $bp--small) and (max-width: 767px) {
      right: -8%;
    }
  }

  .thumbnail {
    max-width: 600px;
    margin-bottom: $spacing--s;
    position: relative;

    &:first-child {
      @include media-query($bp--small) {
        left: 10%;
        margin-bottom: 0;
        transform: translateY(25%);
        z-index: 2;
      }
    }
  }

  .transparent-title {
    font-size: 30vw;
    @include media-query($bp--small) {
      font-size: 20vw;
    }

    @media screen and (max-width: 549px) {
      color: rgba(200, 200, 200, 0.6);
    }
  }

  .transparent-title-part-one {
    top: -8%;
    left: 5%;

    @include media-query($bp--small) {
      top: -15%;
      left: 2%;
    }

    @include media-query($bp--medium) {
      top: -40%;
      left: 10%;
    }
  }

  .transparent-title-part-two {
    bottom: -8%;
    right: 0;

    @include media-query($bp--small) {
      bottom: -60%;
      right: 5%;
    }

    @include media-query($bp--medium) {
      bottom: -85%;
    }

    @include media-query($bp--xx-large) {
      bottom: -100%;
    }
  }

  .pattern {
    display: none;

    @include media-query($bp--small) {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: -25%;
      width: 50%;
      max-width: 300px;
    }

    @include media-query($bp--medium) {
      top: 60%;
    }

    @include media-query($bp--large) {
      top: 75%;
    }

    svg {
      width: 100%;
      display: block;
    }
  }
}
