$tweakpoint-about-title: 820px;
$tweakpoint-about-title-content: 584px;

.about__socials {
  position: absolute;
  top: 40%;
  transform: rotate(90deg) translateY(-40%);
  display: none;
  right: 2%;

  @include media-query($breakpoint--x-large) {
    display: inline-block;
  }

  @include media-query(1400px) {
    right: 2.5%;
  }
}

.about__title {
  @media screen and (min-width: $tweakpoint-about-title-content)
  and (max-width: $tweakpoint-about-title - 1) {
    display: table;
    white-space: nowrap;
  }

  @include media-query($tweakpoint-about-title) {
    display: block;
  }

  .hero__title-content {
    @include media-query($tweakpoint-about-title-content) {
      display: inline-block;
    }
  }
}
