.three-column-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    display: block;
  }

  .thumbnail {
    max-width: 15rem;

    @include media-query($breakpoint--x-large) {
      max-width: 20rem;
    }

    @include media-query($breakpoint--xx-large) {
      max-width: 25rem;
    }
  }
}


.small-icons {
  @include offset-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: spacing(6);
  grid-column-gap: spacing(4);

  @include media-query($breakpoint--small) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-query($breakpoint--large) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.small-icon__thumbnail {
  height: 8rem;
  display: flex;
  justify-content: center;

  @include media-query($breakpoint--small) {
    height: 10rem;
  }

  svg {
    height: 100%;
    width: auto;
    display: block;
  }
}

.bv-illustrations {
  @include media-query($breakpoint--medium - 1, max-width) {
    text-align: center;
  }

  @include media-query($breakpoint--medium) {
    display: flex;
    flex-direction: column;
  }
}

.bv-illustrations__thumbnail {
  display: inline-block;

  @include media-query($breakpoint--medium - 1, max-width) {
    width: 80%;
  }

  & + & {
    @include media-query($breakpoint--medium - 1, max-width) {
      margin-top: spacing(5);
    }
  }

  &:nth-child(2) {
    @include media-query($breakpoint--medium) {
      align-self: flex-end;
      margin-top: -#{spacing(4)};
    }

    @include media-query($breakpoint--x-large) {
      margin-top: -#{spacing(8)};
    }
  }

  &:nth-child(3) {
    @include media-query($breakpoint--medium) {
      width: 50%;
      margin-top: -#{spacing(14)};
    }

    @include media-query($breakpoint--large) {
      width: 40%;
    }
  }

  &:first-child,
  &:nth-child(2) {
    @include media-query($breakpoint--medium) {
      width: 50%;
    }
  }

  svg {
    width: 100%;
    height: auto;
    display: block;
  }
}
