.three-column-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    display: block;
  }

  .thumbnail {
    max-width: 15rem;

    @include media-query($breakpoint--x-large) {
      max-width: 20rem;
    }

    @include media-query($breakpoint--xx-large) {
      max-width: 25rem;
    }
  }
}


.small-icons {
  @include offset-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: spacing(6);
  grid-column-gap: spacing(4);

  @include media-query($breakpoint--small) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-query($breakpoint--large) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.small-icon__thumbnail {
  height: 8rem;
  display: flex;
  justify-content: center;

  @include media-query($breakpoint--small) {
    height: 10rem;
  }

  svg {
    height: 100%;
    width: auto;
    display: block;
  }
}
