#wireframes {
	.fullwidth {
		height: 300px;
		background-color: #5C5B5B;
	}
}

.style-guide {
	max-width: 525px;
	margin: 50px auto 30px;

	@media screen and (min-width: 768px) {
		margin: 100px auto;
	}
}

.wireframe-images {
	margin-top: 50px;
	@media screen and (min-width: 768px) {
		margin-top: 80px;
	}
	.thumbnail {
		text-align: center;
		img {
			max-width: 200px;
		}
	}
}