#users {
	@extend %clearfix;
	.copy-wrapper {
		position: relative;
		@media screen and (min-width: 768px) {
			margin-left: 76.500px;
			float: left;
		}
		@media screen and (min-width: 842px) {
			width: 35%;
		}

		@media screen and (min-width: 768px) and (max-width: 841px) {
			width: 45%;
		}
		
	}
	.thumbnail {
		@media screen and (min-width: 768px) {
			float: right;
			width: 45%;
		}
	}

	.stage-number {
		@media screen and (min-width: 768px) and (max-width: 841px) {
			left: 35%;
		}

		@media screen and (min-width: 842px) {
			left: 65%;
		}


		@media screen and (min-width: 768px) {
    		top: -25%;
		}
		
	}
}
#wireframes {
	.fullwidth {
		height: 300px;
		background-color: #5C5B5B;
	}

	.copy-wrapper {
		@media screen and (min-width: 768px) {
			margin-top: 50px;
			margin-bottom: 150px;
		}
		
	}
	.stage-number {

		@media screen and (min-width: 768px) {
			top: 75px;
			left: -2px;
		}
		
	}
}

#visual {
	.stage-number {
		@media screen and (min-width: 768px) {
		    left: 20%;
    		margin-top: 10px;
    	}
	}
}
.style-guide {
	max-width: 525px;
	margin: 50px auto 30px;

	@media screen and (min-width: 768px) {
		margin: 100px auto;
	}
}

.wireframe-images {
	margin-top: 50px;
	@media screen and (min-width: 768px) {
		margin-top: 80px;
	}
	.thumbnail {
		@media screen and (max-width: 767px) {
			text-align: center;
		}

		img {
			max-width: 200px;
			@media screen and (min-width: 768px) and (max-width: 899px) {
				max-width: 240px;
			}
			@media screen and (min-width: 900px) {
				max-width: 320px;
			}
		}
		
		&.right {
			@media screen and (min-width: 768px) {
				text-align: right !important;
			}

			.label {
				@media screen and (min-width: 768px) {
					margin-right: 0;
					margin-left: auto !important;
				}

			}	
		}

		& + .thumbnail {
			margin-top: 60px;
		}
		.label {
			
			text-align: left;
			
			@media screen and (min-width: 768px) {
				margin-left: 0;
			}
			@media screen and (min-width: 768px) and (max-width: 899px) {
				max-width: 240px;
			}
			@media screen and (min-width: 900px) {
				max-width: 280px;
			}

			&:after {
				counter-increment: number-counter;
			}

			&.first {
				&:after {
					counter-reset: number-counter;
				}
			}
			&.second {
				&:after {
					content: "02";
				}
			}
			&.third {
				&:after {
					content: "03";
				}
			}
		}
	}
}

#bds {
	@extend %clearfix;

	.copy {
		@media screen and (min-width: 768px) {
			width: 40%;
			float: left;
			padding-left: 12%;
    		margin-top: 100px;
		}
	}
	.thumbnail {
		@media screen and (min-width: 768px) {
			width: 60%;
			max-width: 764px;
			overflow: hidden;
			float: right;
			text-align: right;


			img {
				width: 950px;
			}

		}
	}
}

#testimony {

	.thumbnail {
		position: relative;
	}
	
	@media screen and (max-width: 899px){
		text-align: center;
	}
	.quote-ui {
		@media screen and (max-width: 899px){
			display: none;
		}
		@media screen and (min-width: 900px) {
			position: relative;
    		right: 10%;
		}
	}
	
	.copy {
		@media screen and (min-width: 900px) {
			margin-top: 50px;
		}
	}
	p {
		@media screen and (max-width: 899px){
			text-align: left;
		}

	}
	.video {
		max-width: 562px;
		

		@media screen and (min-width: 900px) and (max-width: 1000px){
			max-width: 500px;
		}


		@media screen and (min-width: 900px) {
			position: absolute;
			bottom: 20%;
    		right: -145px;
		}
		
	}
}