/* Colours */
$colour--passion: #f56308;
$colour--grey: #F2F2F2;
$colour--grit: #202020;
$colour--white: white;
$colour--black: black;
$colour--text-on-grit: #E8E8E8;
$colour--body-type: #515151;
$colour--heading-type: #2D2D2D;

/* Type */
$type--line-height: 1.5;
$type--family-body: "freight-sans-pro", sans-serif;
$type--family-headings: "freight-text-pro", serif;

/* Spacing */
$spacing-rule: 0.8rem;

/* Breakpoints */
$breakpoint--small: 550px;
$breakpoint--medium: 768px;
$breakpoint--large: 960px;
$breakpoint--x-large: 1200px;
$breakpoint--xx-large: 1600px;
$breakpoint--xxx-large: 2000px;

/* Animation */
// $anim--wipe: cubic-bezier(0.7, 0.01, 0.3, 1);//cubic-bezier(.66,.01,.53,1);
// $anim--fade-direction: cubic-bezier(.3,.06,.47,1);//cubic-bezier(.33,.12,.61,.99);
