%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}




%center{
  margin: 0 auto;
  text-align: center;
}


/*  UTILITY CLASS  */

.center{
  @extend %center;
}
