%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.clearfix{
  @extend %clearfix;
}

%vertical-align-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

%center{
  margin: 0 auto;
  text-align: center;
}
%rel-one-level-up{
  position: relative;
  z-index: 100;
}
%box-shadow-modal{
	box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.22), 0px 20px 28px 0px rgba(0,0,0,0.30);
}
/*  UTILITY CLASS  */

.center{
  display:block;
  @extend %center;
}

.divider{
  height: 3px;
  border: none;
  background-color: white;
}
.white--text{
  color: white;
}

.half-margin-space--top{
  margin-top: 0.8rem;
}
.half-margin-space--bottom{
  margin-bottom: 0.8rem;
}

.one-margin-space--top{
  margin-top: 1.6rem;
}
.one-margin-space--bottom{
  margin-bottom: 1.6rem;
}


.dbl-margin-space--top{
  margin-top: 3.2rem;
}

.dbl-margin-space--bottom{
  margin-bottom: 3.2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62,62,62, 0.6);
}

.overflow-hidden {
      
  overflow: hidden;
}