%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


%vertical-align-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

%center{
  margin: 0 auto;
  text-align: center;
}


/*  UTILITY CLASS  */

.center{
  display:block;
  @extend %center;
}

.divider{
  height: 3px;
  border: none;
  background-color: white;
}
