@mixin measure ($maxwidth: 40em){
  max-width: $maxwidth;
}

@mixin element ($element){
	&__#{$element}{
		@content;
	}

}

@mixin modifier ($modifier){
	&--#{$modifier}{
		@content;
	}

}

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin button-modifier ($font-color:null, $border-color:null, $bg-color:null, $transition: true) {
  color: $font-color;
  background-color: $bg-color;
  border-color: $border-color;

  @if $transition {
    transition: 500ms ease;
  }

}

@mixin vertical-align ($top, $translateY:null){
  position: relative;
  top: $top;

  @if $translateY {
    transform: translateY($translateY);
    -webkit-transform: translateY($translateY);
  }

}

@mixin generatedTriangle($insertPos){
  &::#{$insertPos}{
    content: "";
    position: absolute;
    border-style: solid;
    overflow: hidden;
    -moz-transform: scale(360);
    @content;
  }
}
