@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin overlay($bg--color: rgba(62,62,62, 0.5)) {
  background-color: $bg--color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin link-underline($colour, $size: 0.2em) {
  border-bottom: $size solid $colour;
  box-shadow: 0px -4px 0px $colour inset;
}

@mixin offset-paragraph {
  @include media-query($bp--x-large) {
    margin-left: 10%;//20%;//10vw; //15%
  }

  @include media-query($bp--xx-large) {
    margin-left: 15%;
  }
}

@mixin section-spacing {
  margin-bottom: $spacing--m;
  @include media-query($bp--medium) {
    margin-bottom: $spacing--l;
  }
}
