@mixin measure ($maxwidth: 40em){
  max-width: $maxwidth;
}

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin vertical-align ($top, $translateY:null){
  position: relative;
  top: $top;

  @if $translateY {
    transform: translateY($translateY);
    -webkit-transform: translateY($translateY);
  }
}

@mixin link-underline($colour, $size: 0.2em) {
  border-bottom: $size solid $colour;
  box-shadow: 0px -4px 0px $colour inset;
}
