/* Colours */
$brand--color: #3d96e1;

$dark-grey--color: #3E3E3E;
$grey-color: red;

$divider-color: #E8E8E8;
/* Type */
$base-font-family: 'Open Sans', Helvetica, sans-serif;
$base-font-size:   16px;
$body-font--color: #404040;
$para-font--color: #7A7A7A;
