/* Colours */
$colour--brand-passion: #f56308;
$colour--accent-grey: #F2F2F2;
$colour--accent-white: white;
$colour--accent-black: black;

/* Type */
$type--line-height: 1.5;
$type--font-family: "aktiv-grotesk", sans-serif;
$type--font-sizes: (
  small: 100%,
  medium: 112.5%,
  large: 131.25%
);
$type--headings-colour: #292929;
$type--small-title-colour: #999696;
$type--body-colour: #3E3E3E;
$type--line-through-colour: #9D9D9D;
$type--body-colour-on-dark: #b7b7b7;

//Spacing
$spacing--base: 1rem * $type--line-height;
$spacing--s: $spacing--base / 2;
$spacing--xs: $spacing--s / 2;
$spacing--xxs: $spacing--xs / 2;
$spacing--m: $spacing--base * 2;
$spacing--l: $spacing--m * 2;
$spacing--xl: $spacing--l * 2;
$spacing--xxl: $spacing--xl * 2;

/* Breakpoints */
$bp--small: pxtoem(550);
$bp--medium: pxtoem(768);
$bp--large: pxtoem(960);
$bp--x-large: pxtoem(1200);
$bp--xx-large: pxtoem(1600);

/* Animation */
$anim--wipe: cubic-bezier(.66,.01,.53,1);
$anim--fade-direction: cubic-bezier(.3,.06,.47,1);//cubic-bezier(.33,.12,.61,.99);
