/* Colours */
$brand--color: #3d96e1;
$brand-accent--color: #69aee8;
$brand-color-off-blue: rgba(105, 174, 232, 0.47);
$brand-color-off-blue-lighter: lighten($brand-color-off-blue, 70%);
$dark-grey--color: #3E3E3E;
$grey-color: red;
$divider-color: #E8E8E8;

/* Type */
$display-font-family: 'Montserrat', sans-serif;
$base-font-family: 'Open Sans', Helvetica, sans-serif;
$base-font-size:   16px;
$display-font--color: #2e2e2e;
$body-font--color: #6b6b6b;
$para-font--color: #3E3E3E;
