<section class="services">
  <div class="services__side thumbnail"></div>
  <div class="container grid services__grid">
    <div class="services-column">
      <div class="meta meta--margin-bottom">
        <div class="hr"></div>
        <span class="meta__title">
          Capabilities
        </span>
      </div>

      <p class="services__description">
        My expertise in design, technology and strategy 
        allows me to lead digital products from concept to completion.
      </p>
    </div>

    <p class="services__skill services-skill--left">Web & Mobile Design</p>
    <p class="services__skill services-skill--right">Front-End Development</p>
    <p class="services__skill services-skill--left">Brand Discovery</p>
    <p class="services__skill services-skill--right">Identity Design</p>
    <p class="services__skill services-skill--left">Consulting</p>
    <p class="services__skill services-skill--right">Mentoring</p>
  </div>
</section>
