<section class="section wow anim-fade-in-up" data-wow-duration="500ms" data-wow-offset="200">
  <div class="container grid">
    <div class="two-column-layout two-column-layout-services--offset">
      <div class="two-column-layout__services two-column-layout__heading">
        <span class="small-caps">
          Services
        </span>
      </div>
      <div class="two-column-layout__services">
        <h3>
          <span>Web &amp; Mobile Design, </span><span>Brand Identity Design, </span>
          <span>Strategy, </span><span>Product Design, </span><span>Animation, </span>
          <span>Front-End Development, </span><span>Mentoring</span>
        </h3>
      </div>
  </div>
</section>
