<section class="section">
  <div class="container grid">
    <div class="two-column-layout two-column-layout-services--offset">
      <div class="two-column-layout__services two-column-layout__heading wow anim-fade-in-up"
      data-wow-duration="500ms">
        <span class="small-caps">
          Services
        </span>
      </div>

      <div class="two-column-layout__services">
        <h3 class="services-title">
          <span class="wow anim-slide-up" data-wow-duration="550ms" data-wow-offset="50">
            Web &amp; Mobile Design,&nbsp;
          </span>
        </h3>
        <h3 class="services-title">
          <span class="wow anim-slide-up" data-wow-duration="550ms" data-wow-offset="50">
            Brand Identity Design,&nbsp;
          </span>
        </h3>
        <h3 class="services-title">
          <span class="wow anim-slide-up" data-wow-duration="550ms" data-wow-offset="50">
            Strategy,&nbsp;
          </span>
        </h3>
        <h3 class="services-title">
          <span class="wow anim-slide-up" data-wow-duration="550ms" data-wow-offset="50">
            Product Design,&nbsp;
          </span>
        </h3>
        <h3 class="services-title">
          <span class="wow anim-slide-up" data-wow-duration="550ms" data-wow-offset="50">
            Animation,&nbsp;
          </span>
        </h3>
        <h3 class="services-title">
          <span class="wow anim-slide-up" data-wow-duration="550ms" data-wow-offset="50">
            Front-End Development,&nbsp;
          </span>
        </h3>
        <h3 class="services-title">
          <span class="wow anim-slide-up" data-wow-duration="550ms" data-wow-offset="50">
            Mentoring
          </span>
        </h3>

      </div>
    </div>
  </div>
</section>
