.hr {
  background-color: $colour--body-type;
  border: none;
  height: 0.2rem;

  @include media-query($breakpoint--small) {
    height: 0.3rem;
  }
}

.hr--inverted {
  background-color: $colour--white;
}

.hr--short {
  margin: 0 0 spacing(3);
  width: 5rem;

  @include media-query($breakpoint--small) {
    margin: 0 0 spacing(4);
  }
}
