.hr {
  background-color: $colour--body-type;
  border: none;
  height: 0.2rem;
  margin: 0 0 spacing(2);

  @include media-query($breakpoint--small) {
    height: 0.4rem;
    margin: 0 0 spacing(3);
  }
}

.hr--inverted {
  background-color: $colour--white;
}
