/* Typography */
html {
  font-size: 62.5%;

  @include media-query($breakpoint--xxx-large) {
    font-size: 0.55vw;
  }
}

body {
  font-family: $type--family-body;
  font-size: 100%;
}

h1,
h2,
h3 {
  font-family: $type--family-headings;
  margin: 0 0 spacing(4);
  font-weight: 600;

  @include media-query($breakpoint--medium) {
    margin: 0 0 spacing(6);
  }
}

h1 {
  font-size: 5.5rem;
  line-height: 1.2;

  @include media-query($breakpoint--small) {
    font-size: 6.3rem;
  }

  @include media-query($breakpoint--medium) {
    line-height: 1;
    font-size: 9.6rem;
  }
}

h2 {
  font-size: 4.2rem;
  line-height: 1.2;

  @include media-query($breakpoint--small) {
    font-size: 5.5rem;
  }

  @include media-query($breakpoint--medium) {
    font-size: 6.3rem;
  }
}

h3 {
  font-size: 2.1rem;
  line-height: 1.3;

  @include media-query($breakpoint--small) {
    font-size: 3.2rem;
    line-height: 1.2;
  }

  @include media-query($breakpoint--x-large) {
    font-size: 3.6rem;
  }
}

p {
  @include body-text;
  line-height: $type--line-height;
  margin-bottom: 0;

  & + & {
    margin-top: spacing(3);
  }
}
