/* Typography */
html {
  font-size: 62.5%;

  @include media-query($breakpoint--xxx-large) {
    font-size: 0.55vw;
  }
}

body {
  font-family: $type--family-body;
  color: $colour--body-type;
  font-size: 100%;

  &.no-scrolling {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

h1,
h2,
h3 {
  color: $colour--heading-type;
  margin: 0 0 spacing(4);
  font-weight: 600;

  @include media-query($breakpoint--medium) {
    margin: 0 0 spacing(5);
  }
}

h1 {
  font-size: 4.8rem;
  line-height: 1.1;

  @include media-query($breakpoint--small) {
    font-size: 7.2rem;
  }

  @include media-query($breakpoint--large) {
    font-size: 9.6rem;
  }

  @include media-query($breakpoint--xx-large) {
    font-size: 11rem;
  }
}

h2 {
  font-size: 3.6rem;
  line-height: 1.2;

  @include media-query($breakpoint--medium) {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  margin: 0 0 spacing(3);

  @include media-query($breakpoint--medium) {
    margin: 0 0 spacing(5);
    font-size: 3.6rem;
  }
}

// h4 {
//   color: $colour--heading-type;
//   font-size: 1.8rem;
//   margin: 0 0 spacing(2) 0;
//
//   @include media-query($breakpoint--small) {
//     font-size: 2.1rem;
//     margin: 0 0 spacing(3) 0;
//   }
//
//   @include media-query($breakpoint--medium) {
//     font-size: 2.4rem;
//   }
// }

p {
  @include body-text;
  line-height: $type--line-height;
  margin: 0;

  & + & {
    margin-top: spacing(3);
  }
}

.text-center {
  text-align: center;
}
