/* Typography */
html {
  font-size: 62.5%;

  @include media-query($breakpoint--xxx-large) {
    font-size: 0.50vw;
  }
}

body {
  font-family: $type--family-body;
  color: $colour--body-type;
  font-size: 100%;

  &.no-scrolling {
    overflow: hidden;
    width: 100%;
  }
}

h1,
h2,
h3,
h4 {
  color: $colour--heading-type;
  font-family: $type--family-display;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  line-height: 1.1;
  margin: 0 0 spacing(5);

  @include media-query(450px) {
    font-size: 7.6rem;
  }

  @include media-query($breakpoint--small) {
    font-size: 9.6rem;
    line-height: 1;
    margin: 0 0 spacing(7);
  }

  @include media-query($breakpoint--medium) {
    font-size: 11.8rem;
    margin: 0 0 spacing(9);
  }

  @include media-query($breakpoint--tweakpoint) {
    font-size: 14.9rem;
  }

  @include media-query($breakpoint--xxx-large) {
    font-size: 18rem;
  }
}

h2 {
  font-size: 4.8rem;
  line-height: 1.1;
  margin: 0 0 spacing(4);

  @include media-query($breakpoint--small) {
    font-size: 6rem;
  }

  @include media-query($breakpoint--medium) {
    font-size: 7.6rem;
    margin: 0 0 spacing(5);
  }
}

h3 {
  font-size: 3.9rem;
  line-height: 1.3;
  margin: 0 0 spacing(2);

  @include media-query($breakpoint--medium) {
    margin: 0 0 spacing(3);
    font-size: 6rem;
    line-height: 1.1;
  }
}

h4 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 0 0 spacing(2);

  @include media-query($breakpoint--medium) {
    margin: 0 0 spacing(3);
    font-size: 3.9rem;
    line-height: 1.2;
  }
}

p {
  @include body-text;
  line-height: $type--line-height;
  margin: 0;

  & + & {
    margin-top: spacing(3);
  }
}

.no-wrap-and-break {
  @include no-wrap-and-break;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.text--black {
  color: $colour--black;
}

.text--white {
  color: $colour--white;
}
