.button {
  @include body-text;
  @include capitalized-text;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  transition: 500ms ease color;

  &::after {
    background-color: $colour--black;
    content: "";
    display: block;
    height: 0.2rem;
    transition: 600ms ease;
    width: 100%;
    margin-top: spacing(1) / 2;
    transition: 500ms ease;
  }

  &:hover {
    color: $colour--passion;
    transition: 500ms ease background-color;

    &::after {
      animation: link-hover 600ms ease 0s 1 forwards;
      transition: 500ms ease 100ms;
      background-color: $colour--passion;
    }
  }
}

.button--margin-top {
  margin-top: spacing(5);

  @include media-query($breakpoint--medium) {
    margin-top: spacing(7);
  }
}

@keyframes link-hover {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  50.01% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
