.button {
  @include body-text;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;

  &::after {
    background-color: $colour--black;
    content: "";
    display: block;
    height: 0.2rem;
    transition: 600ms ease;
    width: 100%;
    margin-top: spacing(1) / 2
  }

  &:hover {
    &::after {
      animation: link-hover 600ms ease 0s 1;
    }
  }
}

.button--margin-top {
  margin-top: spacing(5);

  @include media-query($breakpoint--medium) {
    margin-top: spacing(7);
  }
}

@keyframes link-hover {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  50.01% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
