.button {
  @include body-text;
  @include capitalized-text-bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $type--family-alt;
  overflow: hidden;
  padding: 0;
  position: relative;

  &:hover {
    .button__text {
      color: $colour--passion;
      transition: color 500ms ease;
    }

    .button__line {
      animation: link-hover 600ms ease 0s 1 forwards;
      transition: 500ms ease 100ms;
      background-color: $colour--passion;
    }
  }
}

.button__text {
  display: block;
  transition: color 500ms ease;
}

.button__line {
  display: block;
  height: 0.2rem;
  width: 100%;
  margin-top: spacing(1) / 2;
  transition: transform 500ms ease;
}

.button--margin-top {
  margin-top: spacing(6);
}

.button--main {
  .button__text {
    color: $colour--black;
  }

  .button__line {
    background-color: $colour--black;
  }
}

.button--inverted {
  .button__text {
    color: $colour--white;
  }

  .button__line {
    background-color: $colour--white;
  }
}

@keyframes link-hover {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  50.01% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes link-hover-inverted {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.01% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
