.card {
  @include container;
  @include grid(null, true);
  position: relative;

  & + & {
    margin-top: spacing(6);

    @include media-query($breakpoint--small) {
      margin-top: spacing(8);
    }

    @include media-query($breakpoint--medium) {
      margin-top: spacing(12);
    }

    @include media-query($breakpoint--x-large) {
      margin-top: spacing(16);
    }
  }
}

.card__wrapper {
  @include two-thirds-media-layout;
}

.card__side {
  grid-column: 1 / 2;

  @include media-query($breakpoint--x-large) {
    grid-column: 2 / 3;
  }
}

.card__main {
  grid-column: 2 / 4;

  @include media-query($breakpoint--small) {
    grid-column: 4 / 7;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 3 / 7;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 4 / 7;
  }
}

.card__title,
.card__no {
  margin-bottom: 0;

  @include media-query($breakpoint--medium) {
    line-height: 1;
  }

  @include media-query($breakpoint--large) {
    font-size: 6rem;
  }
}

.card__title {
  .title-mask {
    @include media-query(450px) {
      display: inline-block;
    }
  }
}

.card__thumbnail {
  @extend .thumbnail;
  grid-column: 1 / 4;
  margin-bottom: spacing(3);
  grid-row-start: 1;
  overflow: hidden;

  @include media-query($breakpoint--small) {
    grid-column: 1 / 7;
    margin-bottom: spacing(5);
  }

  @include media-query($breakpoint--large) {
    margin: spacing(6) 0;
    grid-row-start: 2;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 2 / 7;
  }


  &:hover {
    .card__thumbnail-img {
      transform: scale(1.1);
      transition: 500ms transform cubic-bezier(0.28,0,0.49,1);
    }
  }
}

.card__thumbnail-img {
  padding-bottom: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  transition: 500ms transform cubic-bezier(0.28,0,0.49,1);
  transform: scale(1.001);

  @include media-query($breakpoint--small) {
    padding-bottom: 750 / 960 * 100%;
  }

  @include media-query(850px) {
    padding-bottom: 750 / 1179 * 100%;
  }

  @include media-query($breakpoint--x-large) {
    padding-bottom: 850 / 1619 * 100%;
  }
}

.card__description {
  @include max-paragraph-width;
}

.card--desktop {
  @include media-query($breakpoint--large - 1, max-width) {
    display: none;
  }
}

.card--mobile {
  @include media-query($breakpoint--large) {
    display: none;
  }
}

.card__morph {
  @include overlay;
  z-index: 6;
  opacity: 0;
  transition: 300ms ease opacity;
  pointer-events: none;
  position: absolute;
}
