.card {
  @include grid($breakpoint--large);
  position: relative;

  @include media-query($breakpoint--large - 1, max-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.card__aside {
  position: relative;
  overflow: hidden;

  @include media-query ($breakpoint--large - 1, max-width) {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  @include media-query($breakpoint--large) {
    grid-column: 1 / 5;
    height: 100vh;
    min-height: 65rem;
    overflow: hidden;
    position: sticky;
    top: 0;
    max-height: 80rem;
  }

  @include media-query($breakpoint--xx-large) {
    max-height: none;
  }
}

.card__aside-bluvalt {
  @include media-query($breakpoint--large) {
    margin-top: spacing(7);
  }

  @include media-query($breakpoint--xx-large) {
    margin-top: spacing(11);
  }
}

.card__main {
  background-color: $colour--white;

  @include media-query($breakpoint--large - 1, max-width) {
    @include container;
  }

  @media screen and (min-width: $breakpoint--small) and (max-width: $breakpoint--large - 1) {
    @include grid;
  }

  @include media-query($breakpoint--large) {
    display: flex;
    align-items: center;
    grid-column: 5 / 13;
    margin-left: -#{spacing(3)};
    padding-left: calc(#{spacing(8)} + 5%);
    padding-right: 5%;
  }

  @include media-query($breakpoint--x-large) {
    margin-left: -#{spacing(4)};
    padding-left: calc(#{spacing(8)} + 10%);
  }
}

.card__content {
  @include media-query($breakpoint--large - 1, max-width) {
    @include offset-content;
  }
}

.card__thumbnail {
  display: block;
  width: 100%;

  @include media-query($breakpoint--large) {
    height: 100%;
    pointer-events: none;
  }

  &:hover {
    .card__thumbnail-design {
      img {
        @include media-query($breakpoint--large - 1, max-width) {
          transform: scale(1.1);
          transition: 500ms ease;
        }
      }
    }
  }
}

.card__thumbnail-bg {
  img {
    display: block;
    width: 100%;
  }
}

.card__thumbnail-design {
  @include fluid-image;
  position: absolute;
  z-index: 2;
  visibility: visible !important;
  transition: 400ms ease;

  img {
    @include media-query($breakpoint--large - 1, max-width) {
      transform: scale(1);
      transition: 500ms ease;
    }
  }
}

.card__thumbnail--bluvalt {
  top: 50%;
  transform: translateY(-50%);
  width: 130%;
  left: 0;
}

.card__description {
  @include max-paragraph-width;
}

.card--desktop {
  @include media-query($breakpoint--large - 1, max-width) {
    display: none;
  }
}

.card--mobile {
  @include media-query($breakpoint--large) {
    display: none;
  }
}

.card__top-bluvalt {
  right: 0;
  width: 25%;
  max-width: 30rem;
  background-color: #9DABDD;

  @include media-query($breakpoint--x-large) {
    width: 30%;
  }
}

.card__top-image-bluvalt {
  top: 20%;
  left: -30%;
  width: 200%;

  @include media-query($breakpoint--x-large) {
    top: 30%;
  }
}

.card__piece {
  position: absolute;
  overflow: hidden;

  @include media-query($breakpoint--large - 1, max-width) {
    display: none;
  }

  .thumbnail {
    display: block;
  }
}

.card__piece-image {
  position: absolute;
  display: block;

  img {
    width: 100%;
  }
}

.card__bottom-bluvalt {
  bottom: 0;
  right: 0;
}

.card__bottom-image-bluvalt {
  bottom: 0;
  width: 200%;
}
