.casestudy__footer {
  padding-top: spacing(2);
  border-top: $border-top;
  display: block;
  position: relative;
  overflow: hidden;
  height: 60rem;

  @include media-query($breakpoint--large) {
    height: 80rem;
  }
}

.casestudy-footer__grid {
  @include container;
}

.casestudy-footer__title {
  @extend h1;
  text-align: center;

  .title-mask span {
    transform: translateY(0);
  }
}

.casestudy-footer__content {
  @include inner-section;
}
