.casestudy__next {
  background-color: $colour--grey;
  display: block;
  position: relative;
  padding: spacing(8) 0 spacing(21);
  overflow: hidden;

  @include media-query($breakpoint--large - 1, max-width) {
    height: 50rem;
  }

  @include media-query($breakpoint--large) {
    padding: spacing(13) 0 spacing(18);
  }

  .container {
    position: relative;
  }

  .background-strip {
    height: 100%;

    @include media-query($breakpoint--large) {
      height: 0;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        @include media-query($breakpoint--large) {
          transition: height 250ms ease ($i * 100)#{'ms'}
        }
      }
    }
  }

  &:hover {
    .background-strip {
      @include media-query($breakpoint--large) {
        height: 100%;
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          @include media-query($breakpoint--large) {
            transition: height 250ms ease ($i * 100)#{'ms'}
          }
        }
      }
    }

    .casestudy__next-image {
      transform: translateY(0);
      transition: transform 300ms ease 600ms;
    }

    .casestudy__next-title-thoughtbot,
    .casestudy__next-title-thoughtbot .small-caps {
      @include media-query($breakpoint--large) {
        color: $colour--white;
        transition: color 400ms ease 200ms;
      }
    }
  }
}

.casestudy__next-bg {
  @include overlay(false);
  align-items: flex-end;
  display: flex;
}

.casestudy__next-wrapper {
  @include offset-content;
}

.casestudy__next-image {
  position: absolute;
}

.casestudy__next-title,
.casestudy__next-title .small-caps {
  transition: color 400ms ease 200ms;

  @include media-query($breakpoint--large - 1, max-width) {
    color: $colour--white;
  }
}

.casestudy__next-image-bluvalt {
  bottom: 0;
  max-width: 60rem;
  right: -25%;

  @include media-query($breakpoint--medium) {
    bottom: -25%;
    right: 10%;
  }

  @include media-query($breakpoint--large) {
    bottom: -35%;
  }

  @include media-query($breakpoint--xx-large) {
    max-width: 80rem;
  }
}

.casestudy__next-image-thoughtbot {
  bottom: -10rem;
  max-width: 35rem;
  right: 0;
  transition: transform 300ms ease;

  @include media-query($breakpoint--medium) {
    max-width: 40rem;
  }

  @include media-query($breakpoint--large) {
    transform: translateY(70%);
  }

  @include media-query($breakpoint--large) {
    right: 10%;
  }

  @include media-query($breakpoint--xx-large) {
    right: 25%;
  }
}
