.casestudy__footer {
  padding-top: spacing(2);
  border-top: $border-top;
  display: block;
  position: relative;
  overflow: hidden;
  height: 50rem;

  @include media-query($breakpoint--medium) {
    height: 60rem;
  }

  @include media-query($breakpoint--large) {
    height: 80rem;
  }

  @include media-query($breakpoint--xx-large) {
    height: 100rem;
  }
}

.casestudy-footer__grid {
  @include container;
  @include grid;
}

.casestudy-footer__title {
  @extend h1;
  text-align: center;

  .title-mask span {
    transform: translateY(0);
  }
}

.casestudy-footer__content {
  @include inner-section;

  @include media-query($breakpoint--small) {
    grid-column: 2 / 6;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 2 / 10;
  }
}

.casestudy-footer__img {

  @include media-query($breakpoint--small) {
    grid-column: 2 / 6;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 2 / 10;
  }
}
