.error-grid {
  @include container;
  @include grid;
  height: 100%;
}

.error-grid__column {
  &:first-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: spacing(10) 0 spacing(6);
    height: 100%;

    @include media-query($breakpoint--small) {
      grid-column: 1 / 5;
      padding: spacing(10) 0 spacing(8);
    }

    @include media-query($breakpoint--x-large) {
      grid-column: 7 / 11;
      grid-row-start: 1;
      grid-row-end: 3;
    }

  }

  .meta {
    max-width: 20rem;
  }
}

.error-grid__image {
  grid-column: 3 / 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.error-grid__socials {
  grid-column: 3 / 5;
  grid-row-start: 1;

  .link {
    display: table;
    margin-top: spacing(2);

    &:first-child {
      margin-top: 0;
    }
  }
}

.error-grid__message {
  @include max-paragraph-width(42rem);

  @include media-query($breakpoint--medium) {
    @include max-paragraph-width(47rem);
  }

  @include media-query($breakpoint--xx-large) {
    @include max-paragraph-width(52rem);
  }
}
