.error-grid {
  @include container;
  @include grid;
  min-height: 100%;
  padding: spacing(2) 0;

  @include media-query($breakpoint--small - 1, max-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  @include media-query($breakpoint--large) {
    padding: spacing(6) 0;
  }
}

.error-grid__column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-column: 1 / 5;
  grid-row-start: 2;
  grid-row-end: 4;

  @include media-query($breakpoint--large) {
    grid-column: 4 / 7;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 7 / 11;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .meta {
    max-width: 20rem;
  }
}

.error-grid__image {
  @include media-query($breakpoint--large - 1, max-width) {
    display: none;
  }

  @include media-query($breakpoint--large) {
    grid-column: 1 / 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 3 / 6;
    grid-row-start: 3;
    grid-row-end: 5;
    align-self: flex-end;
  }
}

.error-grid__socials {
  grid-row-start: 1;

  @include media-query($breakpoint--small) {
    grid-column: 5 / 6;
  }

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(14);
  }

  @include media-query($breakpoint--large) {
    grid-column: 4 / 6;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 3 / 5;
    margin-bottom: 0;
  }

  .link {
    display: table;
    margin-top: spacing(1);

    &:first-child {
      margin-top: 0;
    }
  }
}

.error-grid__message {
  @include max-paragraph-width(42rem);

  @include media-query($breakpoint--medium) {
    @include max-paragraph-width(47rem);
  }

  @include media-query($breakpoint--xx-large) {
    @include max-paragraph-width(52rem);
  }
}

.error-grid__logo {
  grid-column: 1 / 3;

  @include media-query($breakpoint--small) {
    grid-row-start: 1;
  }

  @include media-query($breakpoint--medium - 1, max-width) {
    margin-bottom: spacing(8);
  }

  a {
    display: table;
  }
}

.error-grid__code {
  @extend h3;
  margin-bottom: 0;
  display: none;

  @include media-query($breakpoint--large) {
    display: flex;
    align-items: flex-end;
    grid-column: 1 / 2;
  }

  @media screen and (min-width: $breakpoint--large) and (max-width: $breakpoint--x-large - 1) {
    grid-row-start: 3;
  }

  @include media-query($breakpoint--x-large) {
    grid-row-end: 5;
  }
}
