.footer {
  background-color: $colour--grit;
  color: $colour--white;
  padding: spacing(8) 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;

  @include media-query($breakpoint--small) {
    align-items: center;
    display: flex;
    height: 100vh;
    padding: 0;
  }

  p {
    color: $colour--text-on-grit;
  }
}

.footer-spacer {
  display: none;

  @include media-query($breakpoint--medium) {
    display: block;
    height: 1px;
  }
}


.footer__title {
  color: $colour--white;

  span {
    @include media-query($tweakpoint-two-column-layout) {
      display: block;
    }
  }
}

.footer__grid {
  @include media-query($tweakpoint-two-column-layout) {
    @include grid;
  }
}

.footer__grid__layout {
  @include media-query($tweakpoint-two-column-layout) {
    grid-column: 1/13;
  }

  @include media-query($breakpoint--xx-large) {
    grid-column: 2/12;
  }
}

.footer__connect,
.footer__form {
  @include max-paragraph-width;
  width: 100%;

  @include media-query($tweakpoint-two-column-layout - 1, max-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__socials {
  margin-top: spacing(5);

  a {
    display: inline-block;
    margin-right: spacing(3);
    width: 22px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      display: block;
      width: 100%;
    }
  }

  path {
    fill: $colour--white;
  }
}
