.footer {
  border: 1px solid $colour--grit;
  padding: spacing(8) 0 spacing(6);
  width: 100%;
  z-index: 1;

  @include media-query($breakpoint--small) {
    align-items: center;
    display: flex;
    min-height: 100vh;
  }

  @include media-query($breakpoint--large) {
    padding: spacing(10) 0 spacing(7);
  }
}

.footer-spacer {
  display: none;

  @include media-query($breakpoint--medium) {
    display: block;
    height: 1px;
  }
}

.footer__title {

  span {
    @include media-query($tweakpoint-two-column-layout) {
      display: block;
    }
  }
}

.footer__grid {
  @include grid;

  @media screen and (min-width: $breakpoint--small) and (max-width: $tweakpoint-two-column-layout - 1) {
    @include max-paragraph-width;
  }

  @include media-query($tweakpoint-two-column-layout) {
    grid-row-gap: spacing(20);
  }
}

.footer__connect {
  @include media-query($tweakpoint-two-column-layout) {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer__form {
  margin: spacing(6) 0 spacing(10);

  @include media-query($breakpoint--small) {
    margin: spacing(6) 0 spacing(13);
  }

  @include media-query($tweakpoint-two-column-layout) {
    grid-column: 6 / 10;
    margin: 0;
  }
}

.footer__connect,
.footer__form {
  @include max-paragraph-width;
  width: 100%;

  @include media-query($tweakpoint-two-column-layout - 1, max-width) {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 7;
  }
}

.footer--desktop {
  @include media-query($tweakpoint-two-column-layout - 1, max-width) {
    display: none;
  }
}

.footer--mobile {
  @include media-query($tweakpoint-two-column-layout) {
    display: none;
  }
}

.footer__credits {
  font-size: 1.4rem;

  @include media-query($breakpoint--small - 1, max-width) {
    @include max-paragraph-width;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $breakpoint--small) and (max-width: $tweakpoint-two-column-layout - 1) {
    grid-column: 5 / 7;
  }

  @include media-query($tweakpoint-two-column-layout) {
    grid-column: 6 / 7;
  }
}

.footer__socials {
  @include media-query($breakpoint--small - 1, max-width) {
    @include max-paragraph-width;
    margin-bottom: spacing(8);
    margin-left: auto;
    margin-right: auto;
  }

  @include media-query($breakpoint--small) {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  @include media-query($tweakpoint-two-column-layout) {
    grid-row-start: 2;
  }

  a {
    display: inline-block;
    margin-right: spacing(3);

    &:last-child {
      margin-right: 0;
    }

    svg {
      display: block;
      width: 100%;
    }
  }

  path {
    fill: $colour--white;
  }

  p {
    font-size: 1.4rem;
  }
}
