.footer {
  padding: spacing(8) 0 spacing(6);
  width: 100%;
  z-index: 1;
  background-color: $colour--grit;
  color: $colour--text-on-grit;

  @include media-query($breakpoint--small) {
    align-items: center;
    display: flex;
  }

  @include media-query($breakpoint--medium) {
    position: fixed;
    bottom: 0;
    min-height: 90vh;
    z-index: -1;
  }

  @include media-query($breakpoint--large) {
    padding: spacing(10) 0 spacing(7);
  }
}

.footer__grid {
  @include grid;
  grid-row-gap: spacing(20);
}

.footer-spacer {
  display: none;

  @include media-query($breakpoint--medium) {
    display: block;
    height: 1px;
  }
}

.footer__heading {
  grid-column: 1 / 6;

}

.footer__title {
  //text-align: center;
  color: $colour--white;

  span {
    display: block;
  }
}

.footer__message {
  grid-column: 6 / 8;
}

.footer__connect {
  grid-column: 9 / 12;
  //margin-bottom: spacing(10);

  p {
    @include max-paragraph-width;
    // text-align: center;
    // margin-left: auto;
    //margin-right: auto;
  }
}

.footer--desktop {
  @include media-query($tweakpoint-two-column-layout - 1, max-width) {
    display: none;
  }
}

.footer--mobile {
  @include media-query($tweakpoint-two-column-layout) {
    display: none;
  }
}

.footer__credits {
  font-size: 1.4rem;

  @include media-query($breakpoint--large) {
    font-size: 1.6rem;
  }

  a {
    display: table;
    align-self: flex-start;
  }
}

.footer__socials {
  // margin-left: auto;
  // margin-right: auto;
  // text-align: center;

  grid-column: 9/ 12;

  @include media-query($breakpoint--small - 1, max-width) {
    @include max-paragraph-width;
    margin-bottom: spacing(8);
  }

  a {
    display: table;
    margin-bottom: spacing(1);
    // margin-left: auto;
    // margin-right: auto;
  }
}

.footer__copyright {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
