.hero {
  bottom: 0;
  height: 100vh;
  min-height: 60rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 3;

  @include media-query($breakpoint--small - 1, max-width) {
    max-height: 800px;
  }

  @include media-query($breakpoint--large) {
    padding-bottom: spacing(9);
  }
}

.hero--home {
  @include media-query($breakpoint--large - 1, max-width) {
    padding-bottom: spacing(10);
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.js .hero__details-list-item span {
  transform: translateY(100%);
}

.js .hero__image,
.js .hero__socials {
  opacity: 0;
}

.js .hero__details-casetudy .hr {
  width: 0;
}

.hero--inverted {
  .hero__title,
  .hero__details-list-item {
    color: $colour--white;
  }
}

.hero__details-list-item {
  @include media-query($breakpoint--small - 1, max-width) {
    font-size: 1.4rem;
    margin-bottom: spacing(1);
  }
}

.hero__bg {
  @include overlay;
  display: flex;
}

.hero__title {
  padding-top: spacing(18);
}

.hero__title-break {
  @include no-wrap-and-break;
}

.hero__title--no-margin {
  margin-bottom: 0;
}

.hero__title-wrapper {
  overflow: hidden;

  &:last-child {
    margin-top: -1.5rem;
  }
}

.js {
  .hero__title-content {
    transform: translateY(calc(100% + 1.5rem));
  }

  .hero__copy,
  .hero .button {
    opacity: 0;
  }

  .hero .button__line {
    width: 0;
  }
}

//this is to avoid weird cliping with h1 titles
.hero__title-content {
  margin-bottom: 1.5rem;
}

.hero__wrapper {
  @include container;
  @include grid;
  height: 100%;
  position: relative;
}

.hero__content {
  @include offset-content;
  height: 100%;
  position: relative;
  z-index: 2;

  @include media-query($breakpoint--x-large) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.hero__copy {
  @include max-paragraph-width;
  margin-top: 0;
}

.hero__image {
  position: absolute;
}

.hero__image--thoughtbot {
  bottom: -20rem;
  min-height: 50rem;
  width: 100vw;

  @include media-query($breakpoint--medium) {
    right: -7%;
    bottom: -17rem;
    width: 80vw;
  }

  @include media-query($breakpoint--large) {
    width: 80vh;
  }
}

.hero__image--bluvalt {
  bottom: 10%;
  width: 150vw;
  left: -12%;

  @include media-query($breakpoint--small) {
    left: -25%;
    max-width: 90rem;
    bottom: 5%;
  }

  @include media-query($breakpoint--medium) {
    left: 0;
  }

  @include media-query($breakpoint--large) {
    bottom: -5%;
    left: auto;
    max-width: none;
    min-width: 90rem;
    right: -12%;
    width: 60vw;
  }
}

.hero__image--vocalsandverses {
  bottom: 5%;
  width: 105%;

  @include media-query($breakpoint--small) {
    bottom: 0;
    width: 120%;
    max-width: 60rem;
  }

  @media screen and (min-width: $breakpoint--small)
  and (max-width: $breakpoint--large - 1) {
    left: 50%;
    transform: translateX(-50%);
  }

  @include media-query($breakpoint--small) {
    bottom: -5%;
  }

  @include media-query($breakpoint--medium) {
    max-width: none;
    min-width: 60rem;
    width: 80%;
  }

  @include media-query($breakpoint--large) {
    right: -10%;
  }

  @include media-query($breakpoint--x-large) {
    width: 55vw;
  }

  @include media-query($breakpoint--xx-large) {
    right: 0;
    width: 50vw;
  }
}

.hero__socials {
  position: absolute;
  right: -5rem;
  bottom: 3.7rem;
  display: none;

  @include media-query($breakpoint--large) {
    display: inline-block;
  }
}
