$hero-grid-one-tweakpoint: 650px;

.hero {
  @include section;
  padding-top: spacing(9);
  overflow: hidden;

  @include media-query($breakpoint--small) {
    padding-top: spacing(13);
  }
}

.hero--about {
  @include inner-section;

  .hero__copy {
    @include media-query($breakpoint--medium - 1, max-width) {
      display: none;
    }
  }

  .hero__title {
    @include media-query($breakpoint--medium - 1, max-width) {
      margin-bottom: 0;
    }
  }
}

.hero__grid {
  @include container;
  @include grid;
}

.hero-grid--one {
  .hero__title {
    @include media-query($breakpoint--small) {
      grid-column: 1 / 5;
    }

    @include media-query($breakpoint--x-large) {
      grid-row-end: 3;
      grid-row-start: 1;
    }
  }

  .hero__copy {
    @include media-query($breakpoint--small) {
      grid-column: 3 / 7;
    }

    @media screen and (min-width: $breakpoint--small) and (max-width: $hero-grid-one-tweakpoint - 1 ) {
      grid-row: 2;
      margin-bottom: spacing(5);
    }

    @include media-query($hero-grid-one-tweakpoint) {
      grid-column: 5 / 7;
      padding-top: 7%;
    }

    @include media-query($breakpoint--x-large) {
      grid-column: 6 / 8;
      margin-bottom: spacing(8);
    }
  }

  .thumbnail {
    position: relative;
    right: -20%;
    grid-column: 2 / 7;

    @media screen and (min-width: $breakpoint--small) and (max-width: $breakpoint--x-large - 1 ) {
      grid-row: 3;
    }

    @include media-query($breakpoint--x-large) {
      grid-column: 7 / 11;
      grid-row-start: 2;
      grid-row-end: 5;
    }
  }

  .scroll-button {
    @include media-query($breakpoint--small - 1, max-width) {
      margin-left: auto;
      margin-right: auto;
    }

    @include media-query($breakpoint--small) {
      grid-column: 1 / 3;
      margin-top: 0;
    }

    @include media-query($breakpoint--x-large - 1, max-width) {
      grid-row: 3;
    }

    @include media-query($breakpoint--x-large) {
      grid-column: 4 / 6;
    }
  }
}

.hero-grid--casestudy {
  margin-bottom: spacing(13);
  
  .hero__title {
    grid-column: 3 / 7;
    @include media-query($breakpoint--x-large) {
      grid-column: 6 / 10;
    }
  }
}


.hero--collaspe-padding {
  @include media-query($breakpoint--medium - 1, max-width) {
    width: 100%;
  }
}


.hero__copy {
  @include max-paragraph-width;
  margin-top: 0;
}

.hero--flex {
  @include media-query($breakpoint--small - 1, max-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.hero--title-no-margin {
  @include media-query($breakpoint--medium) {
    margin-bottom: 0;
  }
}

.hero__image {
  @extend .thumbnail;
}

.hero--image-two-thirds {
  @include two-thirds-media-layout;
}

.hero--home {
  @include media-query($breakpoint--small - 1, max-width) {
    overflow: hidden;
  }

  .hero__title {
    @include media-query($breakpoint--small - 1, max-width) {
      display: none;
    }
  }
}

.hero__home-masthead {
  margin-bottom: spacing(6);

  @include media-query($breakpoint--small) {
    display: none;
  }

  .thumbnail {
    left: calc(-50vw + 50%);
    position: relative;
    width: 100vw;
  }
}

.hero--title-mobile {
  @extend h1;
  margin-bottom: 0;

  span {
    display: inline-block;
  }
}

.hero--title-mobile-tweak {
  margin-bottom: spacing(2);

  @include media-query(365px, max-width) {
    font-size: 4.8rem;
  }
}

.hero--title-mobile-wrap {
  display: flex !important;
  justify-content: space-between;
}
