.hero {
  @include section;
  padding-top: spacing(7);

  @include media-query($breakpoint--small) {
    padding-top: spacing(13);
  }

  @include media-query($breakpoint--large) {
    padding-top: spacing(18);
  }

  @include media-query($breakpoint--x-large) {
    padding-top: spacing(22);
  }
}

.hero__grid {
  @include container;
  @include grid;
  position: relative;

  &:first-child {
    @include inner-section;
  }
}

.hero--collaspe-padding {
  @include media-query($breakpoint--small - 1, max-width) {
    width: 100%;
  }
}

.hero__content {
  @include offset-content;
}

.hero__copy {
  @include max-paragraph-width;
  margin-top: 0;
}

.hero--flex {
  @include media-query($breakpoint--small - 1, max-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.hero--title-no-margin {
  @include media-query($breakpoint--medium) {
    margin-bottom: 0;
  }
}

.hero__image {
  @extend .thumbnail;
}

.hero--image-two-thirds {
  @include two-thirds-media-layout;
}
