$input-placeholder: lighten($colour--body-type, 0.2);

@include change-input-placeholder-color($input-placeholder);
@include input-placeholder-disappear-on-focus;

.input {
  position: relative;
  width: 100%;

  & + & {
    margin-top: spacing(6);
  }
}

.input__field {
  @include body-text;
  background-color: transparent;
  border-bottom: 2px solid $colour--black;
  border-radius: 0;
  border: none;
  display: block;
  padding-bottom: spacing(1);
  width: 100%;

  &:focus + .input__label,
  &.has-input + .input__label {
    transform: translateY(-#{spacing(2)});
    transition: 300ms ease transform,
                300ms ease opacity 100ms;
    opacity: 1;
  }
}

.input__field--dark {
  border-bottom: 2px solid #D8D8D8;
  color: $colour--white;
  transition: 300ms ease;
}

.input__field--black {
  border-bottom: 2px solid $colour--grit;
  transition: 300ms ease;
}


.input__label {
  display: inline-block;
  font-size: 1.4rem;
  left: 0;
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  top: -#{spacing(2)};
  transition: 300ms ease transform 150ms,
              300ms ease opacity;
  transform: translateY(0);
  opacity: 0;
}

.input__label--dark {
  color: $colour--white;
}
