.list {
  padding: spacing(3) 0 spacing(3) spacing(2);

  @include media-query($breakpoint--medium) {
    padding: spacing(3) 0 spacing(3) #{spacing(3) - $spacing-rule-half};
  }
}

.list__item {
  list-style: disc;
  padding-left: spacing(1);
}
