.loader {
  @include overlay;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 100;

  &.loader--hide {
    visibility: hidden;
    opacity: 0;
    transition: 600ms ease;
  }
}

.loader__bg {
  @include overlay;
  display: flex;

  .background-strip {
    height: 100%;
  }
}

.loader__content {
  overflow: hidden;
  position: relative;
}

.loader__title {
  color: $colour--white;
  font-size: 2.1rem;
}

.loader__progress {
  position: absolute;
  bottom: 10%;
  right: 5%;
  overflow: hidden;
}

.loader__percentage {
  color: $colour--grey;
  font-family: $type--family-headings;
  font-size: 6rem;
  animation-name: slide-up;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
  transform: translateY(100%);
  display: inline-block;
}
