.loader {
  @include overlay;
  position: fixed;
  background-color: $colour--grit;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__percentage {
  font-family: $type--family-alt;
  color: $colour--white;
  font-size: 3rem;
}

.loader__strips {
  @include overlay;
  display: flex;
}

.loader__strip-line {
  width: 33.3%;
  background-color: $colour--grey;
  height: 0;
}

.loader-strip-line--white {
  background-color: $colour--white;
}

.loader__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__progress {
  position: absolute;
}

.loader__circle {
  fill: none;
  stroke-width: 0.3rem;
}

.loader-circle--progress {
  stroke: lighten($colour--grit, 20%);
}

.loader-circle--loaded {
  stroke: $colour--passion;
  position: absolute;
  top: 0;
  left: 0;
}
