.main-view {
  @include grid($breakpoint--large);
}

.main-view__sidebar {
  background-color: gray;

  @include media-query($breakpoint--large) {
    grid-column: 1 / 5;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
}

.main-view__content {
  background-color: $colour--white;

  @include media-query($breakpoint--large - 1, max-width) {
    padding: 0 5% spacing(3);
  }

  @include media-query($breakpoint--large) {
    grid-column: 5 / 13;
    margin-left: -#{spacing(3)};
    padding-left: calc(#{spacing(8)} + 5%);
    padding-right: 5%;
  }

  @include media-query($breakpoint--x-large) {
    margin-left: -#{spacing(4)};
    padding-left: calc(#{spacing(8)} + 10%);
  }
}
