.media {
  @include section;
}

.media__wrapper {
  position: relative;
  margin-bottom: spacing(2);

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(3);
  }
}

.media__overlay,
.media__overlay img {
  @include overlay;
}


.media__content {
  margin-left: auto;
  margin-right: auto;

  img {
    height: 100%;
    width: 100%;
  }
}

.media__content--overlap {
  position: relative;
  display: table;
}

.media--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media__content--wide {
  max-width: 144rem;
  width: 100%;
}

.media__bg,
.media__bg img {
  display: block;
  width: 100%;
}

.media__figure {
  font-size: 1.4rem;
  font-style: italic;
}

.media__video {
  display: inline-block;

  @include media-query($breakpoint--large - 1, max-width) {
    width: 80%;
  }

  video {
    display: block;
    width: 100%;
  }
}

.media--shadow {
  @include drop-shadow;
}
