%meta-text {
  @include capitalized-text;
  font-size: 1.2rem;

  @include media-query($breakpoint--large) {
    font-size: 1.4rem;
  }
}

.meta {
  max-width: 14rem;

  @include media-query($breakpoint--small) {
    max-width: 19rem;
  }
}

.meta--padding {
  @include media-query($breakpoint--medium) {
    padding-top: spacing(2);
  }

  @include media-query($breakpoint--large) {
    padding-top: 2rem;
  }
}

.meta--white {
  .meta__title {
    color: $colour--white;
  }

  .hr {
    background-color: $colour--white;
  }
}

.meta--stats {
  @include media-query($breakpoint--medium - 1, max-width) {
    display: none;
  }

  .stats__info + .stats__info {
    margin-top: spacing(3);
  }
}

.meta--margin-bottom {
  margin-bottom: spacing(7);

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(9);
  }
}

.meta--margin-bottom-l {
  margin-bottom: spacing(9);

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(12);
  }

  @include media-query($breakpoint--large) {
    margin-bottom: spacing(18);
  }
}

.meta--center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.meta__content {
  display: block;
}

.meta__title {
  @extend %meta-text;
  @include capitalized-text-bold;
  margin-bottom: spacing(1);
  display: block;
}

.meta--body-text {
  @extend %meta-text;
  font-weight: 500;

  & + & {
    margin-top: $spacing-rule-half / 2;
  }
}

.meta__frame {
  position: relative;
  overflow: hidden;
}

.meta__frame-content {
  @include appear;
  transition: 300ms ease 600ms;

  .meta__title {
    margin-bottom: 0;

    &:nth-child(2) {
      position: absolute;
    }
  }

  &.flip-frame {
    transform: translateY(-100%);
    transition: 400ms ease 50ms;
  }
}
