.meta {
  @include media-query($breakpoint--medium) {
    grid-column: 1 / 2;
  }

  @include media-query($breakpoint--large) {
    padding-top: spacing(1);
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 2 / 3;
  }
}

.meta--padding {
  @include media-query($breakpoint--medium) {
    padding-top: spacing(2);
  }

  @include media-query($breakpoint--large) {
    padding-top: 2rem;
  }
}

.meta--padding-two {
  @include media-query($breakpoint--medium) {
    padding-top: 1rem;
  }
}

.meta--white {
  .meta__title {
  color: $colour--white;
  }

  .hr {
    background-color: $colour--white;
  }
}

.meta--head {
  display: flex;
  flex-direction: column;

  @include media-query($breakpoint--small - 1, max-width) {
    display: table;
  }

  @media screen and (min-width: $breakpoint--small)
  and (max-width: $breakpoint--medium - 1) {
    grid-column: 2 / 4;
  }

  @include media-query($breakpoint--medium - 1, max-width) {
    margin-bottom: spacing(7);
  }
}

.meta--margin-bottom {
  margin-bottom: spacing(7);

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(9);
  }
}

.meta--credits {
  @media screen and (min-width: $breakpoint--small)
  and (max-width: $breakpoint--medium - 1) {
    grid-row-start: 2;
    grid-column: 2 / 7;
  }

  @include media-query($breakpoint--medium - 1, max-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: spacing(3);
  }
}

.meta__content {
  display: block;
}

.meta--body-text {
  font-size: 1.4rem;

  @include media-query($breakpoint--large) {
    font-size: 1.6rem;
  }

  @include media-query($breakpoint--xx-large) {
    font-size: 1.8rem;
  }

  & + & {
    margin-top: $spacing-rule-half / 2;
  }
}

.meta__title {
  @include capitalized-text;
  margin-bottom: spacing(1);
  display: block;
  font-size: 1.2rem;

  @include media-query($breakpoint--large) {
    font-size: 1.4rem;
  }
}

.meta__group {
  & + & {
    @include media-query($breakpoint--medium) {
      margin-top: spacing(3);
    }
  }
}

.meta__frame {
  position: relative;
  overflow: hidden;
}

.meta__frame-content {
  @include appear;
  transition: 300ms ease 600ms;

  .meta__title {
    margin-bottom: 0;

    &:nth-child(2) {
      position: absolute;
    }
  }

  &.flip-frame {
    transform: translateY(-100%);
    transition: 400ms ease 50ms;
  }
}
