.meta-info {
  @include capitalized-text;
  font-size: 0.8rem;
  position: fixed;
  right: 1%;
  top: 15%;
  writing-mode: vertical-lr;
  z-index: 5;
  display: none;

  @include media-query($breakpoint--small) {
    font-size: 1rem;
    display: inline-block;
  }

  @include media-query($breakpoint--large) {
    right: 2%;
    font-size: 1.2rem;
  }

  @include media-query($breakpoint--xx-large) {
    top: 18%;
  }
}

.image-meta-info {
  position: absolute;
  font-weight: 300;
  font-size: 1.2rem;

  @include media-query($breakpoint--large) {
    font-size: 1.4rem;
  }
}
