.meta-info {
  writing-mode: vertical-lr;
}

.image-meta-info {
  position: absolute;
  font-weight: 300;
  font-size: 1.2rem;

  @include media-query($breakpoint--large) {
    font-size: 1.4rem;
  }
}
