.nav-bar {
  padding: spacing(2) 0;
  width: 100%;
  z-index: 200;

  @include media-query($breakpoint--medium) {
    padding: spacing(3) 0;
  }

  &.is-sticky {
    position: fixed;
  }

  &.is-open {
    .nav-bar__logo {
      .path {
        fill: $colour--white;
        transition: 300ms ease;
      }

      .path-stroke {
        stroke: $colour--white;
        transition: 300ms ease;
      }
    }
  }
}

.nav-bar__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-bar__logo {
  @extend .thumbnail;
  max-width: 4rem;

  @include media-query($breakpoint--large) {
    max-width: 5rem;
  }

  svg {
    display: block;
    width: 100%;
  }

  .path,
  .path-stroke {
    transition: 300ms ease;
  }

  &.hide {
    opacity: 0;
    transition: 300ms ease;
    display: none;
  }
}

.nav-bar__back {
  align-items: center;
  border: 0.2rem solid $colour--white;
  border-radius: 100%;
  cursor: pointer;
  display: none;
  opacity: 0;
  height: 4rem;
  justify-content: center;
  width: 4rem;
  transition: 300ms ease;

  @include media-query($breakpoint--medium) {
    width: 5rem;
    height: 5rem;
  }

  svg {
    @include media-query($breakpoint--medium - 1, max-width) {
      width: 1.8rem;
    }
  }

  &.appear {
    display: flex;
    opacity: 1;
    transition: 300ms ease;
  }

  &:hover {
    svg {
      animation-name: anim-back;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
  }
}


@keyframes anim-back {
  0, 100%{
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}
