.nav-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $colour--grit;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease;
  overflow: scroll;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: 300ms ease;

    .nav-menu__socials {
      opacity: 1;
      transition: 400ms ease 700ms;
    }
  }
}

.nav-menu__grid {
  @include container;
  @include grid;

  @include media-query($breakpoint--x-large) {
    width: 95%;
    margin-right: 0;
  }

  .nav-bar {
    margin-bottom: spacing(6);
    grid-column: 1 / 7;

    @include media-query($breakpoint--small) {
      margin-bottom: spacing(9);
    }

    @include media-query($breakpoint--x-large) {
      grid-column: 1 / 5;
    }
  }
}

.nav-menu__wrapper {
  height: 100%;

  @include media-query($breakpoint--small) {
    grid-column: 2 / 6;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 2 / 5;
  }
}

.nav-menu__list {
  margin-bottom: spacing(6);

  @include media-query($breakpoint--small) {
    margin-bottom: spacing(8);
  }

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(9);
  }
}

.nav-menu__link {
  margin-bottom: spacing(3);
  overflow: hidden;

  @include media-query($breakpoint--small) {
    margin-bottom: spacing(4);
  }

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(6);
  }

  a {
    display: block;
    font-size: 3.6rem;
    color: $colour--white;
    display: inline-block;
    transform: translateY(100%);
    transition: transform 200ms ease;

    @include media-query(600px) {
      font-size: 4.8rem;
    }

    @include media-query($breakpoint--large) {
      font-size: 6rem;
    }
  }

  &.appear {
    a {
      transform: translateY(0);
      transition: transform 200ms ease;
    }
  }

  &:hover  {
    .nav-menu__link-no {
      opacity: 0;
      //display: none;
      transition: 300ms ease opacity;
    }
    .nav-menu__link-wrapper {
      transform: translateX(-60px);
      transition: 300ms ease transform;
    }
    .nav-menu__link-line {
      //animation: nav-link-hover 300ms ease 0s 1 forwards;
      transition: 200ms ease;
      transform: translateX(0%);
    }
  }
}

.nav-menu__link:hover ~ .nav-menu__link {
  a {
    color: #676767;
    transition: 300ms ease;
  }
}

.nav-menu__aside {
  @include media-query($breakpoint--large - 1, max-width) {
    display: none;
  }

  @include media-query($breakpoint--x-large) {
    // width: 25%;
    grid-column: 5 / 7;
    height: 100%;
    background-color: red;
    position: sticky;
    // right: 0;
    top: 0;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.nav-menu__socials {
  margin-bottom: 5%;
  opacity: 0;
  transition: 300ms ease 100ms;
  margin-bottom: spacing(5);

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(9);
  }

  @include media-query($breakpoint--large) {
    margin-bottom: spacing(13);
  }

  .link {
    display: table;
    margin-top: spacing(2);

    &:first-child {
      margin-top: 0;
    }
  }
}

.nav-menu__heading {
  min-width: 15rem;
  max-width: 20rem;
  display: table;

  @include media-query($breakpoint--small) {
    grid-column: 2 / 4;
  }
}

.nav-menu__content {
  position: relative;
  display: flex;
}

.nav-menu__link-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  transition: 300ms ease transform;
}

.nav-menu__link-no {
  vertical-align: top;
  display: inline-block;
}

.nav-menu__link-line {
  height: 0.2rem;
  width: 100%;
  margin-top: spacing(1) / 2;
  background-color: $colour--white;
  display: block;
  transform: translateX(-102%);
  transition: 200ms ease;
}


// @keyframes nav-link-hover {
//   0% {
//     transform: translateX(-100%);
//   }
//
//   50% {
//     transform: translateX(0);
//   }
//
//   50.01% {
//     transform: translateX(100%);
//   }
//
//   100% {
//     transform: translateX(0);
//   }
//
// }
