.js .nav-bar {
  opacity: 0;  
}

.nav-bar {
  padding: spacing(2) 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;

  @include media-query($breakpoint--medium) {
    padding: spacing(3) 0;
  }

  &.is-sticky {
    position: fixed;
  }

  &.is-open {
    .nav-bar__logo {
      .path {
        fill: $colour--white;
        transition: 300ms ease;
      }

      .path-stroke {
        stroke: $colour--white;
        transition: 300ms ease;
      }
    }
  }
}

.nav-bar__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-bar__logo {
  @extend .thumbnail;
  max-width: 4rem;

  @include media-query($breakpoint--large) {
    max-width: 5rem;
  }

  svg {
    display: block;
    width: 100%;
  }

  .path,
  .path-stroke {
    transition: 300ms ease;
  }
}
