.nav-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 600ms ease;
  overflow-x: hidden;
  overflow-y: scroll;

  .nav-bar {
    opacity: 0;

    &.appear {
      opacity: 1;
      transition: 400ms ease;
    }
  }

  .hr {
    width: 0;

    &.appear {
      width: 100%;
      transition: 300ms ease;
    }
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: 300ms ease;

    .nav-menu__bg {
      width: 100%;
      transition: 550ms ease;

      @include media-query($breakpoint--medium) {
        transition: 650ms ease;
      }
    }

    .nav-menu__aside-overlay {
      transition: 500ms ease 500ms transform,
                  400ms ease 1.3s opacity;
      transform: translateX(0);
      opacity: 0;
    }

    .nav-menu__aside-image {
      transition: 400ms ease 1s;
      opacity: 1;
    }
  }
}

.nav-menu__bg {
  background-color: $colour--grit;
  height: 100%;
  position: fixed;
  right: 0;
  width: 0;
  transition: 650ms ease 600ms;
}

.nav-menu__grid {
  @include container;
  @include grid;
  position: relative;

  @include media-query($breakpoint--x-large) {
    width: 95%;
    margin-right: 0;
  }

  .nav-bar {
    margin-bottom: spacing(6);
    grid-column: 1 / 7;

    @include media-query($breakpoint--small) {
      margin-bottom: spacing(9);
    }

    @include media-query($breakpoint--x-large) {
      grid-column: 1 / 6;
    }
  }
}

.nav-menu__wrapper {
  @include media-query($breakpoint--small) {
    grid-column: 2 / 6;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 2 / 5;
  }
}

.nav-menu__list-item {
  margin-bottom: spacing(3);
  overflow: hidden;

  @include media-query($breakpoint--small) {
    margin-bottom: spacing(4);
  }

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(6);
  }

  &:hover  {
    .nav-menu__link-line {
      transition: 200ms ease;
      transform: translateX(0);
    }
  }
}

.nav-menu__link {
  display: block;
  font-size: 3.6rem;
  color: $colour--white;
  display: inline-block;
  transition: transform 200ms ease;

  @include media-query(600px) {
    font-size: 4.8rem;
  }

  @include media-query($breakpoint--large) {
    font-size: 6rem;
  }

  &:visited {
    color: $colour--white;
  }

  span {
    &.appear {
      transform: translateY(0);
      transition: transform 400ms ease;
    }
  }
}

.nav-menu__list-item:hover ~ .nav-menu__list-item {
  .nav-menu__link {
    color: #676767;
    transition: 300ms ease;
  }
}

.nav-menu__aside {
  @include media-query($breakpoint--x-large - 1, max-width) {
    display: none;
  }

  @include media-query($breakpoint--x-large) {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 25rem;
    overflow: hidden;
  }
}

.nav-menu__dummy {
  @include media-query($breakpoint--x-large - 1, max-width) {
    display: none;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 6 / 7;
    grid-row-start: 1;
    grid-row-end: 4;
    min-width: 25rem;
  }
}

.nav-menu__aside-image {
  @include overlay;
  background-color: blue;
  opacity: 0;
  transition: 400ms ease 400ms;

  img {
    display: none;
    width: 100%;
  }

  .nav-menu-image--active {
    display: block;
  }
}

.nav-menu__aside-overlay {
  background-color: #c8a07d;
  width: 100%;
  height: 100%;
  right: 0;
  position: absolute;
  transform: translateX(100%);
  z-index: 2;
}

.nav-menu__socials {
  margin-bottom: 5%;
  transition: 300ms ease 100ms;
  margin-top: spacing(6);
  margin-bottom: spacing(5);

  @include media-query($breakpoint--small) {
    margin-top: spacing(8);
  }

  @include media-query($breakpoint--medium) {
    margin-bottom: spacing(9);
    margin-top: spacing(9);
  }

  @include media-query($breakpoint--large) {
    margin-bottom: spacing(13);
  }

  &.hide {
    opacity: 0;
    transition: 200ms ease;
  }

  .link {
    display: table;
    margin-top: spacing(2);
    overflow: hidden;

    &:first-child {
      margin-top: 0;
    }

    p {
      transform: translateY(100%);
      transition: 300ms ease 600ms;
    }

    &::after {
      transform: translateY(20px);
      transition: 300ms ease 600ms;
    }

    &.appear {
      p,
      &::after {
        transform: translateY(0);
        transition: 300ms ease;
      }
    }
  }
}

.nav-menu__heading {
  min-width: 15rem;
  max-width: 20rem;
  display: table;

  @include media-query($breakpoint--small) {
    grid-column: 2 / 4;
  }
}

.nav-menu__content {
  position: relative;
  display: flex;
}

.nav-menu__link-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  transition: 300ms ease transform;
}

.nav-menu__link-no {
  vertical-align: top;
  display: inline-block;
}

.nav-menu__link-line {
  height: 0.2rem;
  width: 100%;
  margin-top: spacing(1) / 2;
  background-color: $colour--white;
  display: block;
  transform: translateX(-102%);
  transition: 200ms ease;
}

.nav-menu__main {
  transition: 300ms ease;

  &.hide {
    position: absolute;
    transform: translateX(-100%);
    transition: 300ms ease 900ms;
    opacity: 0;
    pointer-events: none;
  }
}

.nav-menu__main-item {
  transition: 500ms ease transform, 300ms ease opacity 150ms;

  &.hide {
    transform: translateX(-100%);
    opacity: 0;
    transition: 500ms ease transform, 300ms ease opacity 150ms;
  }
}

.nav-menu__sub {
  transition: 300ms ease;
  position: absolute;
  transform: translateX(100%);
  pointer-events: none;

  &.appear {
    transform: translateX(0);
    transition: 400ms ease;
    position: static;
    pointer-events: auto;
  }
}

.nav-menu__sub-item {
  transform: translateX(30%);
  opacity: 0;
  transition: 500ms ease transform, 300ms ease opacity 150ms;

  &.appear {
    transform: translateX(0%);
    transition: 500ms ease transform, 300ms ease opacity 150ms;
    opacity: 1;
  }
}
