.nav-bar {
  padding: spacing(2) 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;

  @include media-query($breakpoint--medium) {
    padding: spacing(3) 0;
  }

  &.is-sticky {
    position: fixed;
  }
}

.nav-bar__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-bar__logo {
  @extend .thumbnail;
  max-width: 4rem;
}
