.nav-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $colour--grit;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease;

  .container {
    height: 100%;
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: 300ms ease;

    .nav-menu__socials {
      opacity: 1;
      transition: 400ms ease 700ms;
    }
  }
}

.nav-menu__wrapper {
  @include offset-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.nav-menu__list {
  margin-top: 30vh;
  margin-bottom: spacing(8);
}

.nav-menu__link {
  margin-bottom: spacing(4);
  overflow: hidden;

  @include media-query($breakpoint--small) {
    margin-bottom: spacing(6);
  }

  a {
    display: block;
    font-size: 3.6rem;
    color: $colour--white;
    font-family: $type--family-headings;
    display: inline-block;
    transform: translateY(100%);
    transition: transform 200ms ease;

    @include media-query($breakpoint--small) {
      font-size: 4.2rem;
    }

    @include media-query($breakpoint--medium) {
      font-size: 5.8rem;
    }
  }

  &.appear {
    a {
      transform: translateY(0);
      transition: transform 200ms ease;
    }
  }
}

.nav-menu__socials {
  margin-bottom: 5%;
  opacity: 0;
  transition: 300ms ease 100ms;

  .path {
    fill: $colour--white;
  }

  .socials__icon {
    margin-right: spacing(5);

    @include media-query($breakpoint--small) {
      margin-right: spacing(8);
    }

    @include media-query($breakpoint--medium) {
      margin-right: spacing(10);
    }

  }
}
