.project {
  @include inner-section;

  @include media-query($breakpoint--large) {
    align-items: center;
    display: flex;
    height: 100vh;
    margin-bottom: 0;
  }
}

.project__thumbnail {
  display: block;
  overflow: hidden;
  position: relative;
}

.project__thumbnail__bg {
  img {
    display: block;
    width: 100%;
  }
}

.project__thumbnail__design {
  @include fluid-image;
  position: absolute;
  z-index: 2;
}

.project__thumbnail--thoughtbot {
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.project__thumbnail--bluvalt {
  top: 50%;
  transform: translateY(-50%);
  width: 130%;
  left: 0;
}

.project__thumbnail--vocalsandverses {
  bottom: 0;
  left: 0;
  width: 90%
}

.project--show-on-desktop {
  @include media-query($breakpoint--large - 1, max-width) {
    display: none;
  }
}

.project--show-on-mobile {
  @include media-query($breakpoint--large) {
    display: none;
  }
}

.project__description {
  @include max-paragraph-width;
}
