$tweakpoint-project-thumbnail: 600px;

.project {
  @include inner-section;

  @include media-query($breakpoint--large) {
    align-items: center;
    display: flex;
    height: 100vh;
    margin-bottom: 0;
  }

  @media screen and (min-width: $breakpoint--small)
  and (max-width: $breakpoint--large - 1) {
    width: 65%;
  }

  &:nth-child(2n + 2) {
    @media screen and (min-width: $breakpoint--small)
    and (max-width: $breakpoint--large - 1) {
      margin-left: auto;
    }
  }

  .button {
    opacity: 0;

    &::after {
      width: 0;
    }
  }
}

.project__title,
.project__description,
.project__tags {
  @include media-query($breakpoint--large) {
    transform: translateY(200px);
    opacity: 0;
    transition: 400ms ease;
  }
}

.project__title {
  &::before {
    @include media-query($breakpoint--large) {
      opacity: 0;
      transform: translateY(50px);
    }
  }
}

.active {
  .project__title {
    transform: translateY(0);
    opacity: 1;
    transition: 600ms ease 200ms transform,
                600ms ease 500ms opacity;

    &::before {
      transform: translateY(0);
      opacity: 1;
      transition: 600ms ease 400ms transform,
                  600ms ease 700ms opacity;
    }
  }

  .project__description {
    transform: translateY(0);
    opacity: 1;
    transition: 600ms ease 500ms transform,
                600ms ease 850ms opacity;
  }

  .project__tags {
    transform: translateY(0);
    opacity: 1;
    transition: 600ms ease 600ms transform,
                600ms ease 950ms opacity;
  }

  .button {
    opacity: 1;
    transition: 600ms ease 1.1s opacity,
                500ms ease color;

    &::after {
      width: 100%;
      transition: 400ms ease 1.25s width,
                  500ms ease background-color;
    }
  }
}

.project__thumbnail {
  display: block;
  overflow: hidden;
  position: relative;
}

.project__thumbnail__bg {
  img {
    display: block;
    width: 100%;
  }
}

.project__thumbnail__design {
  @include fluid-image;
  position: absolute;
  z-index: 2;
}

.project__thumbnail--thoughtbot {
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.project__thumbnail--bluvalt {
  top: 50%;
  transform: translateY(-50%);
  width: 130%;
  left: 0;
}

.project__thumbnail--vocalsandverses {
  bottom: 0;
  left: 0;
  width: 90%
}

.project--show-on-desktop {
  @include media-query($breakpoint--large - 1, max-width) {
    display: none;
  }
}

.project--show-on-mobile {
  @include media-query($breakpoint--large) {
    display: none;
  }
}

.project__description {
  @include max-paragraph-width;
}
