.scroll-button {
  display: inline-block;
  width: 11.9rem;
  height: 11.9rem;
  position: relative;
  cursor: pointer;

  @include media-query($breakpoint--large) {
    width: 18rem;
    height: 18rem;
  }

  @include media-query($breakpoint--x-large) {
    width: 25.5rem;
    height: 25.5rem;
  }

  &:hover {
    .scroll-arrow {
      animation: scroll-btn-hover 500ms ease 0s 1 forwards;
    }

    .scroll-arrow-path {
      transition: 400ms ease 100ms;
      stroke: $colour--passion;
    }
  }
}

.scroll-button-bg {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  circle {
    stroke-width: 1.25;
    stroke: purple;
    fill: none;

    display: inline-block;

    &:last-child {
      stroke: $colour--passion;
      transform-origin: 50% 50%;
      stroke-dasharray: 321%;
      stroke-dashoffset: 642%;
    }
  }
}

.scroll-arrow-path {
  stroke: $colour--black;
  transition: 400ms ease;
}

.scroll-button__wrapper {
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);

  @include media-query($breakpoint--small - 1, max-width) {
    width: 30px;
  }

  @include media-query($breakpoint--x-large) {
    width: 60px;
  }

  svg {
    width: 100%;
    display: block;
  }
}

.scroll-button--margin-top {
  margin-top: spacing(6);
}


@keyframes scroll-btn-hover {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
  }

  50.01% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
