.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  border: 0.2rem solid $colour--black;
  cursor: pointer;

  @include media-query($breakpoint--large) {
    width: 12rem;
    height: 12rem;
  }

  svg {
    display: block;
    width: 100%;
  }
}

.scroll-button__wrapper {
  @include media-query($breakpoint--large - 1, max-width) {
    width: 26px;
  }
}

.scroll-button--margin-top {
  margin-top: spacing(6);
}
