.section {
  @include section;
}

.section--padding {
  padding-bottom: spacing(10);

  @include media-query($breakpoint--medium) {
    padding-bottom: spacing(13);
  }

  @include media-query($breakpoint--x-large) {
    padding-bottom: spacing(20);
  }

  @include media-query($breakpoint--xx-large) {
    padding-bottom: spacing(28);
  }
}

.section--mobile {
  @include media-query($breakpoint--medium) {
    display: none;
  }
}
