.services {
  @include section;
}

.services__description {
  font-size: 2.1rem;
  line-height: 1.4;

  @include media-query($breakpoint--medium) {
    font-size: 2.8rem;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: spacing(2);
  margin-top: spacing(5);

  @include media-query($breakpoint--small) {
    grid-column-gap: spacing(3);
    grid-template-columns: repeat(5, 1fr);
  }

  @include media-query($breakpoint--x-large) {
    grid-column-gap: spacing(4);
  }
}

.services__list-item {
  &:nth-child(odd) {
    @include media-query($breakpoint--small) {
      grid-column: 1/3;
    }
  }

  &:nth-child(even) {
    @include media-query($breakpoint--small) {
      grid-column: 3/5;
    }
  }

}
