.services {
  position: relative;
  @include section;
}

.services__grid {
  @include container;
  @include grid;

  grid-row-gap: spacing(2);

  @include media-query($breakpoint--medium) {
    grid-row-gap: spacing(3);
  }
}

.services__side {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 12%;
  background: url('../images/home/lloyd-face.jpg');
  background-size: cover;
  background-position-x: 80%;
  display: none;

  @include media-query($breakpoint--x-large) {
    display: block;
  }

  @include media-query($breakpoint--xx-large) {
    background-position-x: 90%;
  }
}

.services__description {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: spacing(3);

  @include media-query($breakpoint--small) {
    font-size: 2.5rem;
  }

  @include media-query($breakpoint--medium) {
    font-size: 3.6rem;
  }
}

.services-column {
  @include media-query($breakpoint--small) {
    grid-column: 3 / 7;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 4 / 9;
  }
}

.services__skill {
  @include media-query($breakpoint--medium) {
    font-size: 2rem;
  }

  & + & {
    margin-top: spacing(2);

    @include media-query($breakpoint--small) {
      margin-top: 0;
    }
  }
}

.services-skill--left {
  @include media-query($breakpoint--small) {
    grid-column: 3 / 7;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 3 / 5;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 4 / 6;
  }
}

.services-skill--right {
  @include media-query($breakpoint--small) {
    grid-column: 3 / 7;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 5 / 7;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 6 / 8;
  }
}
