.side-content {
  grid-column: 2 / 5;

  @include media-query($breakpoint--medium - 1, max-width) {
    display: flex;
    justify-content: space-between;
    @include section;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 1 / 3;
  }

  ul + ul {
    @include media-query($breakpoint--medium) {
      margin-top: spacing(5);
    }

    @include media-query($breakpoint--x-large) {
      margin-top: spacing(9);
    }
  }
}
