$color--small-caps: #717070;

.small-caps {
  color: $color--small-caps;
  display: block !important;
  font-family: $type--family-alt;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: spacing(2);
  text-transform: uppercase;
}
