.socials {
  display: inline-block;
}

.socials--rotated {
  transform: rotate(90deg);
}

.social__link {
  @include body-text;
}

.social--link-white {
  color: $colour--white;
}

.socials__icon {
  display: inline-block;
  margin-right: spacing(3);
  width: 20px;

  @include media-query($breakpoint--x-large) {
    width: 22px;
  }

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
