.stats {
  margin-top: spacing(2);

  @include media-query($breakpoint--medium) {
    margin-top: spacing(3);
  }
}

.stats--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: spacing(3);
  max-width: 30rem;
}

.stats--l-margin {
  margin-top: spacing(5);
}

.stats--mobile {
  @include media-query($breakpoint--medium) {
    display: none;
  }
}

.stats__info-percentage {
  color: $colour--body-type;
  display: block;
  font-size: 5rem;
  margin-bottom: spacing(1);
  margin-top: spacing(1);
  font-weight: 400;
  line-height: 1;

  @include media-query($breakpoint--medium) {
    font-size: 5.8rem;
  }
}

.stats--info--large {
  font-size: 8rem;
}

.stats__info-description {
  color: $colour--body-type;
  font-size: 1.4rem;
}
