.title-mask {
  display: block;
  @include title-mask;
}

.title-mask--with-padding {
  padding-bottom: 2%;
}

.title-mask--with-padding-l {
  padding-bottom: 3%;
}

.title-mask--neg-margin {
  margin-top: -2%;
}

.title-mask--inline {
  display: inline-block;
}
