.website {
  position: relative;
  z-index: 3;
  background-color: $colour--grey;

  // @include media-query($breakpoint--small) {
  //   margin-bottom: 100vh;
  // }
}

.website--casestudy {
  background-color: $colour--white;

  @include media-query($breakpoint--small) {
    margin-bottom: 0;
  }
}
