.website__container {
  position: relative;
  z-index: 3;

  @include media-query($breakpoint--medium) {
    margin-bottom: 90vh;
  }
}

.website--bg {
  background-color: $colour--grey;
}

.website--casestudy {
  background-color: $colour--white;
}

.website--no-overflow {
  overflow: hidden;
  position: fixed;
}
