.website {
  position: relative;
  z-index: 3;
  background-color: $colour--grey;
}

.website--casestudy {
  background-color: $colour--white;

  @include media-query($breakpoint--small) {
    margin-bottom: 0;
  }
}

.website--no-overflow {
  overflow: hidden;
  position: fixed;
}
