.js .wow {
  visibility: hidden;
}

.js .anim-appear {
  animation-name: appear;
	animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0;
}

.js .anim-appear-before {
  &::before {
    animation-name: appear;
  	animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
    //visibility: hidden !important;
  }
}

.js .anim-grow {
  animation-name: grow;
	animation-fill-mode: forwards;
  animation-timing-function: ease;
  width: 0;
}

.js .anim-slide-up {
  animation-name: slide-up;
	animation-fill-mode: forwards;
  animation-timing-function: ease;
  transform: translateY(150%);
}

.js .anim-fade-in-up {
  animation-name: slide-up-with-opacity;
	animation-fill-mode: forwards;
  animation-timing-function: ease;
  transform: translateY(50%);
  opacity: 0;
}

.js .anim-image-reveal {
  width: 100%;
  animation-name: wipe;
	animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.js .anim-zoom-out {
  transform: scale(1.2);
  animation-name: zoom-out;
	animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.js .anim-zoom-out-special {
  transform: translateY(-50%) scale(1.2);
  animation-name: zoom-out-special;
	animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(150%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up-with-opacity {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wipe {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom-out-special {
  from {
    transform: translateY(-50%) scale(1.2);
  }

  to {
    transform: translateY(-50%) scale(1);
  }
}
