<div class="nav-bar" data-nav-bar-hero>
  <div class="container nav-bar__wrapper">
    <div class="nav-bar__col">
      <a href="../../">
        <span class="meta__content meta--body-text">
          Lloyd<span class="hide-mobile">&ndash;Jamie</span><span class="show-mobile">&nbsp;Bennett</span><span class="show-mobile">&nbsp;&mdash;</span>
        </span>
        <span class="meta__content meta--body-text">
          <span class="hide-mobile">Bennett</span><span class="show-mobile">Brand &amp; Web Designer </span>
        </span>
      </a>
    </div>

    <div class="nav-bar__col">
      <span class="meta__content meta--body-text">
        Brand &amp;
      </span>
      <span class="meta__content meta--body-text">
         Web Designer
      </span>
    </div>

    <div class="nav-bar__col">
      <button class="hamburger" data-toggle-menu>
        <div class="hamburger__icon-line"></div>
        <div class="hamburger__icon-line"></div>
        <div class="hamburger__icon-line"></div>
      </button>
    </div>

  </div>
</div>
