<div class="nav-menu" data-nav-menu>
  <div class="nav-menu__grid">
    <div class="nav-bar" data-nav-bar>
      <div class="nav-bar__wrapper">

        <a class="nav-bar__logo" href="../../">
          {% include logo.html %}
        </a>

        <button class="hamburger" data-toggle-menu>
          <div class="hamburger__icon-line"></div>
          <div class="hamburger__icon-line"></div>
          <div class="hamburger__icon-line"></div>
        </button>
      </div>
    </div>

    <div class="nav-menu__heading meta--white meta--margin-bottom">
      <div class="hr"></div>
      <div class="meta__frame">
        <div class="meta__frame-content">
          <span class="meta__title">
            Main Menu
          </span>
          <span class="meta__title">
            Case Studies
          </span>
        </div>
      </div>
    </div>
    <div class="nav-menu__wrapper">
      <div class="nav-menu__content">
        <div class="nav-menu__main">
          <ul class="nav-menu__list">
            <li class="nav-menu__link" data-nav-menu-link>
              <a href="/about">
                <span>About Me</span>
                <span class="nav-menu__link-line"></span>
              </a>
            </li>
            <li class="nav-menu__link" data-nav-menu-link>
              <a href="/about">
                <span>Case Studies</span>
                <span class="nav-menu__link-line"></span>
              </a>

            </li>
            <li class="nav-menu__link" data-nav-menu-link>
              <a href="#contact" data-scroll-to-bottom>
                <span>Contact</span>
                <span class="nav-menu__link-line"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="nav-menu__sub">
          <ul class="nav-menu__list">
            {% for casestudy in site.projects %}
            <li class="nav-menu__link" data-nav-menu-link>
              <a href="{{ casestudy.directory }}">
                <span class="nav-menu__link-no">
                  {{ forloop.index | prepend: "0" }}
                </span>
                <span class="nav-menu__link-wrapper">
                  <span>{{ casestudy.title }}</span>
                  <span class="nav-menu__link-line"></span>
                </span>
              </a>
            </li>
            {% endfor %}
            <li class="nav-menu__link" data-nav-menu-link>
              <a href="/">
                 <span class="nav-menu__link-no">
                   02
                 </span>
                 <span class="nav-menu__link-wrapper">
                   <span>Steel Warriors</span>
                   <span class="nav-menu__link-line"></span>
                 </span>
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="nav-menu__socials">
        {% include _social-links/dribbble.html useIcon = false dark-mode = true %}
        {% include _social-links/instagram.html useIcon = false dark-mode = true %}
        {% include _social-links/linkedin.html useIcon = false dark-mode = true %}
      </div>
    </div>
    <div class="nav-menu__aside">
    </div>
  </div>

</div>
