<div class="nav-bar">
  <div class="nav-bar-wrapper wow fade-in" data-wow-duration="700ms" data-wow-delay="{{ include.animation-delay }}">
    <div class="container">
      <a class="logo" href="../../">
        <img src="http://via.placeholder.com/55x55/00000">
      </a>
      <div class="hamburger" data-toggle-menu>
        <div class="icon">
          <div class="icon-line"></div>
          <div class="icon-line"></div>
          <div class="icon-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
