<div class="nav-bar" data-nav-bar-hero>
  <div class="container nav-bar__wrapper">

    <a href="../../">
      <span class="meta__content meta--body-text">
        Lloyd Bennett
      </span>
      <span class="meta__content meta--body-text">
        Brand &amp; Web Designer
      </span>
    </a>

    <button class="hamburger" data-toggle-menu>
      <div class="hamburger__icon-line"></div>
      <div class="hamburger__icon-line"></div>
      <div class="hamburger__icon-line"></div>
    </button>
  </div>
</div>
