<div class="nav-menu" data-nav-menu>
  <div class="container grid">
    <div class="nav-menu__wrapper">
      <ul class="nav-menu__list">
        <li class="nav-menu__link" data-nav-menu-link>
          <a href="/about" data-page-transition="standard">About Me</a>
        </li>
        {% for casestudy in site.projects %}
        <li class="nav-menu__link" data-nav-menu-link>
          <a href="{{ casestudy.directory }}">
            {{ casestudy.title }}
          </a>
        </li>
        {% endfor %}
        <li class="nav-menu__link" data-nav-menu-link>
          <a href="#contact" data-animate-scroll>Contact</a>
        </li>
      </ul>
      <div class="nav-menu__socials socials">
        {% include _social-links/dribbble.html %}
        {% include _social-links/instagram.html %}
        {% include _social-links/linkedin.html %}
      </div>
    </div>
  </div>

</div>
