<div class="nav-menu" data-nav-menu>
  <div class="nav-menu-bg"></div>
  <div class="container">
    <ul class="nav-menu-list">
      <li class="nav-menu-link" data-nav-menu-link>
        <a href="/about" data-page-transition="standard">About Me</a>
      </li>
      <li class="nav-menu-link" data-nav-menu-link>
        <a href="#cta-target" data-animate-scroll>Projects</a>
      </li>
      <li class="nav-menu-link" data-nav-menu-link>
        <a href="#contact" data-animate-scroll>Contact</a>
      </li>
    </ul>
  </div>
</div>
