<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="wrapper">
            <div class="dynamic">
                {% include _casestudy/casestudy-header.html %}
                <div class="content">
                    <div class="container">
                        <div class="col-sm-12 no-padding">
                            <div class="project-heading">
                                <h1 class="project-title wow moveUpFade" data-wow-duration="700ms">
                                    {{ page.title }}
                                </h1>

                                {% if page.button-text %}
                                <div class="cta">
                                    <a href="http://www.{{ page.live-url }}" target="_blank" class="link wow moveUpFade" data-wow-duration="700ms" data-wow-delay="300ms" >{{ page.button-text }}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {{ content }}
                </div>
                {% include _casestudy/casestudy-footer.html %}
            </div>
        </div>
        <script src="/js/refactor.js"></script>
    </body>
</html>