<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <a class="project__close" href="{{site.baseurl}}/..">
      <span class="project__close__icon">x</span>
    </a>
    <div class="wrapper">
      {% capture projects %}{{page.collection}}{% endcapture %}

      {% if page.collection %}
          {% assign  document = site[projects] | sort: "date" | reversed %}
      {% endif %}

      {% for links in document %}
          {% if links.title == page.title %}

              {% unless forloop.first %}
                  {% assign prevurl = prev.url %}

                  {% assign prevtitle = prev.title %}
              {% endunless %}

              {% unless forloop.last %}
                  {% assign next = document[forloop.index] %}

                  {% assign nexturl = next.url %}

                  {% assign nexttitle = next.title %}
              {% endunless %}
          {% endif %}

          {% assign prev = links %}
      {% endfor %}

    {% if prevurl or nexturl %}
      <div class="project__controls">
      {% if prevurl %}
        <a rel="prev" class="project__controls__prev" href="{{ prevurl }}"> {{ prevtitle }}</a>
      {% endif %}
      {% if nexturl %}
        <a rel="next" class="project__controls__next" href="{{ nexturl }}">{{ nexttitle }} </a>
      {% endif %}
      </div>
    {% endif %}
      <div class="project__heading">
        <h1 class="project__title">{{ page.title }}</h1>

        {% if page.calltoaction %}
          {% for buttonname in page.buttonname %}
          <div class="project__cta">
            <a href="http:/{{page.cta-link}}">
              <button class="btn--primary btn--bluewhite">{{ buttonname }}</button>
            </a>
         </div>
          {% endfor %}
        {% endif %}
      </div>
      <hr></hr>
      <q class="center dbl-margin-space--top">{{page.quote}}</q>


      <article class="post-content">
        {{ content }}
      </article>
      <hr></hr>
  </div>
      <div class="project__footer">


        {% if page.calltoaction %}
          {% for buttonname in page.buttonname %}
          <a href="http:/{{page.cta-link}}" class="project__footer__link project__footer__link__button">
            <button class="btn btn--bluewhite">{{ buttonname }}</button>
          </a>
          {% endfor %}
        {% endif %}

        {% if prevurl %}
        <a href="{{ prevurl }}" class="project__footer__link project__footer__link__prev project__footer__controller">
          <div>{{ prevtitle }}</div>
          <div class="project__footer__link--bold">Previous Project</div>
        </a>
        {% endif %}



        {% if nexturl %}
        <a href="{{ nexturl }}" class="project__footer__link project__footer__link__next project__footer__controller">
          <div>{{ nexttitle }}</div>
          <div class="project__footer__link--bold">Next Project</div>
        </a>
        {% endif %}
      </div>

   {% include sub-footer.html %}

  </body>
</html>
