<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
        <div class="wrapper">
            <div class="dynamic">
                <div class="nav-bar project-top-nav">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-10">
                                <a id="close-casestudy" class="hamburger is-open ajaxLoad" href="{{site.baseurl}}/..">
                                    <div class="icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a> 

                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="content">
                    <div class="container">
                        <div class="project-heading">
                            <h2 class="project-category wow fadeIn" data-wow-duration="700ms">{{ page.category }}</h2>
                            <h1 class="project-title wow fadeIn" data-wow-duration="1.5s" data-wow-delay="600ms">{{ page.title }}</h1>

                           {% if page.button-text %}
                            <div class="cta">
                                <a href="http://www.{{ page.live-url }}" target="_blank" class="link wow fadeIn" data-wow-duration="600ms" data-wow-delay="1.3s" >{{ page.button-text }}</a>
                            </div>
                            {% endif %}
                        

                        </div>


                    </div>
                    
                    {{ content }}
                </div>
  
                {% include project-footer.html %}
            </div>
        </div>
        
        <script src="/js/script.js"></script>
    </body>
</html>



   
