<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-body>
    <main class="website {% if page.type == "casestudy" %}website--casestudy{% endif %}">

      <div id="{{ page.title | downcase }}" class="step--reset">
        {% include _navigation/nav-menu.html %}
        {% include _navigation/nav-bar.html %}
        {% include hero.html %}
        {{ content }}
      </div>
    </main>
    {% if page.type == "casestudy" %}
      {% include _casestudy/casestudy-footer.html %}
    {% else %}
      {% include footer.html %}
    {% endif %}

    <script src="/js/smooth-scrolling.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/navigation-menu.js"></script>
  </body>
</html>
