<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="website">
      <div id="{{ page.title | downcase }}" class="step--reset
        {% if page.layout == "casestudy" %}casestudy{% endif %}">
        {{ content }}
      </div>
    </main>

    <span class="meta-info" data-meta-info>
      Lloyd Bennett - Digital Designer
    </span>
    {% include footer.html %}
    <script src="/js/loader.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/navigation-menu.js"></script>
  </body>
</html>
