---
layout: default
---
<div class="wrapper">

     <!--<p>{% if page.meta %} • {{ page.meta }}{% endif %}</p>!-->

    {% if page.author %}
      <div class="avatar avatar--sml">
        <img src="images/authors/avatar-me.jpg" alt="my-picture">
      </div>
      <span>{{ page.author }}</span>
      <span class="post__date">writes on {{ page.date | date: "%b %-d, %Y" }}</span>
    {% else %}
      <span class="post__date">{{ page.date | date: "%b %-d, %Y" }}</span>
  {% endif %}
  <article class="post__content">
    {{ content }}
  </article>

  {% include comment-thread.html disqus_identifier=page.disqus_identifier %}
</div>
