---
layout: default
---
<div class="wrapper">

     <!--<p>{% if page.meta %} • {{ page.meta }}{% endif %}</p>!-->

    {% if page.author %}
      <div class="avatar avatar--sml center post__avatar-top">
        <img src="../images/authors/avatar-me.jpg" alt="my-picture">
      </div>
      <span class="post__meta post__author center half-margin-space--top">{{ page.author }}</span>
      <span class="post__meta post__date center">writes on {{ page.date | date: "%b %-d, %Y" }}</span>
    {% else %}
      <span class="post__date center">{{ page.date | date: "%b %-d, %Y" }}</span>
  {% endif %}
  <article class="copy-wrapper dbl-margin-space--top">
    {{ content }}
  </article>

  {% include comment-thread.html disqus_identifier=page.disqus_identifier %}
</div>
