.footer {
  color: $colour--accent-white;
  padding: $spacing--m 0;
  background-color: black;

  @include media-query($bp--medium) {
    bottom: 0;
    height: 100vh;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  p {
    color: $type--body-colour-on-dark;
  }

  .container {
    @include media-query($bp--medium) {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

.footer-spacer {
  display: none;
  @include media-query($bp--medium) {
    display: block;
    height: $spacing--l;
  }
  @include media-query($bp--large) {
    height: $spacing--l + $spacing--m;
  }
}

.footer-grid {
  @include offset-paragraph;
  @include media-query($bp--medium) {
    display: flex;
  }
}

.footer-logo {
  margin-bottom: $spacing--base;

  @include media-query($bp--medium) {
    margin-bottom: 0;
    margin-right: $spacing--l;
  }

  @include media-query($bp--xx-large) {
    margin-right: $spacing--xl + $spacing--l + $spacing--s;
  }

  img {
    display: block;
  }
}

.connect {
  max-width: 400px;
  margin-bottom: 0;

  @include media-query($bp--large) {
    max-width: 500px;
  }
}

.connect-title {
  color: $colour--accent-white;
}

.email {
  @extend .link;
  font-weight: 300;
  font-size: pxtoem(20);

  @include media-query($bp--small) {
    font-size: pxtoem(26);
  }
}
