
.footer{

  @include element('upper'){
    min-height: 200px;
    padding: 13.75rem 0;
    color: white;
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);

    @include element('text'){
      @include media-query(43.75em){
        text-align: center;
      }
    }
    @include element('subtitle'){
      @include media-query(31.25em){
        font-size: 1.2rem

      }

      @include media-query(43.75em){
        margin-left: auto;
        margin-right: auto;

      }
    }
  }
  @include element('lower'){
    text-align: center;
    @include element('signature'){
      @include media-query(43.75em){
        float: left;
      }

    }
  }
}
