/* Header */
.wrapper {
    &.fadeOut {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

.masthead {
    color: white;
    background-color: $brand--color;
    overflow:hidden;
    padding-bottom: 150px;


    @include media-query(pxtoem(768)) {
        padding-bottom: 250px;
    }


    &.polygon {
        position: relative;

        &:after {
            @include diagonalGradientSection(top left, white white transparent transparent);
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
        }
    }

    .intro {
        position: relative;
        z-index: 2;
        margin-top: 3.5rem;

        @include media-query(pxtoem(550)){
            margin-top: 12vh;
        }

        .intro-title {
            margin-top: 0;
            margin-bottom: 25px;
        }

        h2 {
            font-weight: 400;
            text-align: left;
            @media screen and (max-width: 767px) {
                margin-bottom: 8px;
            }
        }

    }
}

.cta {
    font-size: 1.1em;
    text-transform: capitalize;
    font-family: $display-font-family;
    font-weight: 400;
    @media screen and (min-width: $tablet-min-breakpoint ) {
        font-size: pxtoem(28);
        margin-top: pxtoem(50, 28);
    }

    a {
        display: table;
    }
}
