.staggered-layout {
  @include offset-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: spacing(2);
  grid-row-gap: spacing(3);

  @include media-query($breakpoint--small) {
    grid-column-gap: spacing(3);
    grid-row-gap: spacing(4);
  }

  @include media-query($breakpoint--medium) {
    grid-column-gap: spacing(5);
    grid-row-gap: spacing(6);
  }
}

.staggered-layout__screen {
  box-shadow: 0 2px 35px 0 rgba(99,99,99,0.30);
  display: table;

  img {
    display: block;
    width: 100%;
  }
}
