.staggered-layout {
  @include offset-content(true);

  @include media-query($breakpoint--large) {
    grid-column-gap: spacing(5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.staggered-layout__column {
  &:nth-child(2) {
    margin-top: spacing(3);

    @include media-query($breakpoint--small) {
      margin-top: spacing(4);
    }

    @include media-query($breakpoint--large) {
      margin-top: spacing(15);
    }
  }
}

.staggered-layout__screen {
  @include drop-shadow;

  & + & {
    margin-top: spacing(3);

    @include media-query($breakpoint--small) {
      margin-top: spacing(4);
    }
  }

  img {
    display: block;
    width: 100%;
  }
}
