$tweakpoint-two-column-layout: 1080px;

.two-column-layout {
  @include media-query($tweakpoint-two-column-layout) {
    display: flex;
    justify-content: space-between;
  }
}

.two-column-layout--grid {
  @include media-query($tweakpoint-two-column-layout) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: spacing(4);
  }

  .two-column-layout__column {
    &:first-child {
      grid-column: 1/6;
    }

    &:nth-child(2) {
      grid-column: 6/13;
    }

    &:first-child:not(.two-column-layout__heading) {
      @include media-query($tweakpoint-two-column-layout - 1, max-width) {
        @include inner-section;
      }
    }

    & + & {
      @include media-query($tweakpoint-two-column-layout - 1, max-width) {
        margin-bottom: spacing(6);
      }
    }
  }
}

.two-column-layout__paragraph {
  @include max-paragraph-width;
}

.two-column-layout--offset {
  @include offset-content;

  @include media-query(1080px) {
    grid-column: 2 / 13;
  }
}

.two-column-layout__column-bottom {
  align-self: flex-end;
}

.two-column-cancel-spacing {
  &:first-child {
    @include media-query($tweakpoint-two-column-layout - 1, max-width) {
      @include inner-section;
    }
  }
}
