$tweakpoint-two-column-layout: 1080px;

.two-column-layout {
  @include media-query($tweakpoint-two-column-layout) {
    display: flex;
    justify-content: space-between;
  }
}

.two-column-layout__column {
  &:first-child {
    @include media-query($tweakpoint-two-column-layout - 1, max-width) {
      @include inner-section;
    }

    @include media-query($tweakpoint-two-column-layout) {
      margin-right: spacing(6);
    }

    @include media-query($breakpoint--x-large) {
      margin-right: spacing(8);
    }
  }
}
