/* Typography */
html {
  font-size: map-get($type--font-sizes, small);

  @include media-query($bp--medium) {
    font-size: map-get($type--font-sizes, medium);
  }

  @include media-query($bp--large) {
    font-size: map-get($type--font-sizes, large);
  }
}

body {
  color: $type--body-colour;
  font-family: $type--font-family;
  font-size: 1em;
  line-height: $type--line-height;

  @include media-query($bp--medium) {
    line-height: 1.6;
  }
}

h1,
h2,
h3,
p {
  margin: 0 0 $spacing--base;
}

p {
  font-weight: 300;
}

h1,
h2,
h3,
.label {
  font-weight: 700;
}

h1,
h2,
h3 {
  color: $type--headings-colour;
}


h1 {
  font-size: pxtoem(36);
  line-height: 1.2;

  @include media-query($bp--small) {
    font-size: pxtoem(48);
  }

  @include media-query($bp--medium) {
    line-height: 1;
    font-size: pxtoem(63);
  }

  @include media-query($bp--xx-large) {
    font-size: pxtoem(84);
  }
}

h2 {
  font-size: pxtoem(24);
  line-height: 1.1;

  @include media-query($bp--small) {
    font-size: pxtoem(32);
    line-height: 1.2;
  }

  @include media-query($bp--x-large) {
    font-size: pxtoem(36);
  }
}

.section-title {
  color: $type--small-title-colour;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: $type--line-height;
  margin-bottom: $spacing--s + $spacing--xs + $spacing--xxs;

  @include media-query($bp--medium) {
    font-size: 18px;
    margin-bottom: $spacing--m;
  }
}

// Utilities

.nowrap {
  white-space: nowrap;
  display: inline;
}

.no-wrap-and-break {
  display: block;
  white-space: nowrap;
}

.line-through {
  color: $type--line-through-colour;
  text-decoration: line-through;
}

.highlight-text {
  color: $colour--brand-passion;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
