
h1 {
line-height: 1.25;
font-weight: 100;
  @media screen and (max-width: 399px) {
    font-size: 1.8em;
  }
  @media screen and (min-width: 400px) and (max-width: 767px) {
    font-size: 2em; 
  }
  @media screen and (min-width: 767px) and (max-width: 991px){
    font-size: 2.5em;
  }
  @include media-query(992px){
    font-size: 3em;
    line-height: 1.125;
  }
  
}

h2 {
  font-size: 1.625em; //26px
  @media (min-width: 43.75em) {

    font-size: 2.5em; // 32px //
    line-height: 1.25;
  }

}

h3 {
  font-size: 16px; //22px
  line-height: 1.136;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 1.5rem;

}

h4{
  font-size: 1.125em; //18px
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

p{
  @include measure;
  color: $para-font--color;
}

blockquote {
  font-size: 1.25em; //20px
}
strong{
  font-weight: 600;
}
q{
  font-style: italic;
}
figcaption{
  font-style: italic;
  margin: 0.8em auto;
  font-size: 0.8em;
  text-align:center;
}
