input, textarea {
  background: none;

  &:focus,
  &:active {
    outline: none;

  }
  &:-webkit-autofill, &:-webkit-autofill:hover,
  &:-webkit-autofill:active, &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px $brand--color inset;
  }

}

hr {
  border: 1px solid $divider-color;
}
