input, textarea {
  background: none;

  &:focus,
  &:active {
    outline: none;

  }
  &:-webkit-autofill, &:-webkit-autofill:hover,
  &:-webkit-autofill:active, &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px $brand--color inset;
  }

}


button,
input[type="submit"] {
  padding: 12px 36px;
  border-radius: 5px;
  border: 2px solid;
  background: none;
  cursor: pointer;
  font-size: 0.75rem;
  text-transform: capitalize;
  &:focus{
    outline: none;
  }
}
